Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

chore: remove unused labels from dependabot.yml
  .github/dependabot.yml
Labels: none

chore: remove unused labels from dependabot.yml (#240)
  .github/dependabot.yml
Labels: none

docs: update CHANGELOG for v1.4.2
  CHANGELOG.md
Labels: documentation

test: cover FilesAnalyzed counting
  service/clone_service_test.go
Labels: tests

fix: count only processed files in statistics
  service/clone_service.go
Labels: none

fix: follow-up fix for file counting in main analysis path
  service/clone_service.go
  service/clone_service_test.go
Labels: tests

Fix/issue #207 Count skipped files as analyzed (#243)
  service/clone_service.go
  service/clone_service_test.go
Labels: tests

fix: replace hardcoded thresholds with constants in CentroidGrouping
  internal/analyzer/centroid_grouping.go
  internal/analyzer/centroid_grouping_test.go
Labels: analyzer, tests

feat: implement multi-dimensional clone type classification (#245)
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
Labels: analyzer, tests

fix: address code review feedback for clone classifier
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/textual_similarity.go
Labels: analyzer

feat: implement DFA (Data Flow Analysis) for Type-4 clone detection (#246)
  internal/analyzer/clone_detector.go
  internal/analyzer/dfa.go
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/dfa_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/constants/clone_thresholds.go
Labels: analyzer, tests

feat: add --enable-dfa CLI flag for DFA analysis
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  domain/clone.go
  service/clone_service.go
Labels: cli

feat: enable DFA by default, add TOML config support
  cmd/pyscn/analyze.go
  internal/config/clone_adapters.go
  internal/config/default_config.toml
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
Labels: cli

fix: return last definition in predecessor block for reaching definitions
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_reaching_def_test.go
Labels: analyzer, tests

test: add Type-4 clone test data
  testdata/python/clones/type4/README.md
  testdata/python/clones/type4/filter_transform_a.py
  testdata/python/clones/type4/filter_transform_b.py
  testdata/python/clones/type4/find_max_a.py
  testdata/python/clones/type4/find_max_b.py
  testdata/python/clones/type4/sum_iterative.py
  testdata/python/clones/type4/sum_recursive.py
Labels: documentation, tests

fix: clone detection not working via CLI due to MaxEditDistance=0
  internal/analyzer/clone_detector.go
  internal/analyzer/type4_detector_test.go
  internal/analyzer/type4_similarity_test.go
Labels: analyzer, tests

fix: EnableDFA not passed from config loader causing incorrect clone classification
  internal/config/pyscn_config.go
  service/clone_config_loader.go
Labels: cli

fix: adjust default similarity threshold and duplication scoring
  app/clone_usecase_test.go
  cmd/pyscn/analyze.go
  cmd/pyscn/check.go
  domain/analyze.go
  domain/analyze_test.go
  domain/clone.go
  domain/clone_test.go
  integration/clone_integration_test.go
  internal/analyzer/clone_detector.go
  internal/config/pyscn_config.go
  pyproject.toml
  service/clone_service.go
Labels: analyzer, cli, tests

refactor: adjust clone type thresholds for stricter classification
  integration/clone_integration_test.go
  internal/analyzer/clone_detector_test.go
  internal/constants/clone_thresholds.go
  internal/constants/clone_thresholds_test.go
Labels: analyzer, tests

fix: filter overlapping fragments and fix group similarity calculation
  internal/analyzer/clone_detector.go
  internal/analyzer/star_medoid_grouping.go
Labels: analyzer

style: fix formatting
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

fix: ensure deterministic architecture analysis results
  service/system_analysis_service.go
Labels: none

docs: update CHANGELOG for v1.5.0
  CHANGELOG.md
Labels: documentation

refactor: consolidate default configuration values (#251)
  app/analyze_usecase.go
  cmd/pyscn/check.go
  domain/cbo.go
  domain/clone.go
  domain/clone_test.go
  domain/defaults.go
  domain/defaults_test.go
  integration/clone_integration_test.go
  internal/analyzer/cbo.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/centroid_grouping_test.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/semantic_similarity.go
  internal/config/config.go
  internal/config/default_config.toml
  internal/config/pyscn_config.go
  internal/constants/clone_thresholds.go
  internal/constants/clone_thresholds_test.go
  mcp/handlers.go
  service/config_loader.go
Labels: analyzer, cli, tests

fix: enable architecture strict mode by default
  internal/config/config.go
  internal/config/default_config.toml
  internal/config/pyscn_config.go
  service/config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: cli, tests

fix: use compliance directly for architecture score
  domain/analyze.go
  domain/analyze_test.go
Labels: tests

fix: use weighted violations for architecture compliance score
  service/system_analysis_service.go
Labels: none

chore: update CHANGELOG for v1.5.1
  CHANGELOG.md
Labels: documentation

fix: skip docstrings from clone detection to reduce false positives
  domain/clone.go
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  service/clone_service.go
Labels: analyzer, cli, tests

fix: improve docstring detection and add missing AST conversions
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

style: fix formatting in test file
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

ci: remove macOS Intel build (macos-13 deprecated)
  .github/workflows/python-release.yml
  CHANGELOG.md
Labels: documentation, ci

fix: handle direct NodeConstant in docstring detection
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

chore: release v1.5.2
  CHANGELOG.md
Labels: documentation

fix: disable Type2 clone detection by default and fix clone grouping
  app/analyze_usecase.go
  app/clone_usecase.go
  cmd/pyscn/check.go
  domain/analyze.go
  domain/analyze_test.go
  domain/clone.go
  domain/clone_test.go
  internal/config/pyscn_config.go
  pyproject.toml
Labels: cli, tests

chore: release v1.5.3
  CHANGELOG.md
Labels: documentation

refactor: improve code duplication calculation to use function-based metrics
  app/analyze_usecase.go
  domain/analyze.go
  domain/analyze_test.go
  domain/clone.go
  service/basic_service_test.go
  service/clone_service.go
  service/clone_service_test.go
Labels: tests

chore: release v1.5.4
  CHANGELOG.md
Labels: documentation

fix: improve clone detection similarity calculation to reduce false positives
  internal/analyzer/apted.go
  internal/analyzer/apted_cost.go
  internal/analyzer/apted_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

refactor: adjust duplication threshold from 0-20% to 0-10%
  domain/analyze.go
  domain/analyze_test.go
Labels: tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
