Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

docs: update CHANGELOG for v1.5.5
  CHANGELOG.md
Labels: documentation

test: add unit tests for service layer (36.3% → 53.7%)
  service/analyze_formatter_test.go
  service/cbo_formatter_test.go
  service/clone_formatter_test.go
  service/config_loader_test.go
  service/dead_code_formatter_test.go
  service/parallel_executor_test.go
Labels: tests

style: fix gofmt formatting in test files
  service/analyze_formatter_test.go
  service/clone_formatter_test.go
Labels: tests

test: add unit tests for CBOUseCase
  app/cbo_usecase_test.go
Labels: tests

refactor: consolidate default CloneTypes to single source of truth
  cmd/pyscn/check.go
  domain/clone.go
  internal/config/pyscn_config.go
Labels: cli

refactor: consolidate default CBO thresholds to single source of truth
  service/cbo_config_loader.go
Labels: none

docs: add Pyscn Bot section to README
  README.md
Labels: documentation

docs: update CHANGELOG for v1.6.0
  CHANGELOG.md
Labels: documentation

feat(lint): add mock/synthetic fixture detection
  app/mock_data_usecase.go
  cmd/pyscn/check.go
  domain/analyze.go
  domain/defaults.go
  domain/mock_data.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/mockdetector/detector.go
  internal/mockdetector/heuristics.go
  internal/mockdetector/heuristics_test.go
  service/mock_data_config_loader.go
  service/mock_data_formatter.go
  service/mock_data_service.go
Labels: cli, tests

fix: address PR review feedback
  internal/config/cbo_config_test.go
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/pyscn_config.go
  internal/config/toml_loader_test.go
  internal/mockdetector/detector.go
  internal/mockdetector/detector_test.go
  internal/mockdetector/heuristics.go
  internal/mockdetector/heuristics_test.go
  mcp/handlers.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli, tests

style: fix gofmt formatting
  app/mock_data_usecase.go
  domain/mock_data.go
  internal/mockdetector/heuristics.go
  service/mock_data_formatter.go
Labels: none

fix(mockdetector): remove duplicate detection from string_content nodes
  internal/mockdetector/detector.go
Labels: none

fix(mockdetector): add deduplication for findings at same location
  internal/mockdetector/detector.go
Labels: none

refactor(check): remove redundant --allow-mock-data flag
  cmd/pyscn/check.go
Labels: cli

test(mockdata): add test fixtures for mockdata detection
  testdata/mockdata/analytics_with_fallback.py
  testdata/mockdata/clean_code.py
Labels: tests

docs: update CHANGELOG for v1.7.0
  CHANGELOG.md
Labels: documentation

feat: add Claude Code plugin marketplace support
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  README.md
Labels: documentation

fix(reachability): add memoization to prevent exponential time complexity
  internal/analyzer/reachability.go
Labels: analyzer

docs: update CHANGELOG for v1.7.1
  CHANGELOG.md
Labels: documentation

fix(clone): improve duplication scoring with K-Core groups
  app/analyze_usecase.go
  domain/clone.go
Labels: none

refactor(clone): extract magic numbers to named constants
  app/analyze_usecase.go
  domain/analyze.go
Labels: none

docs: update CHANGELOG for v1.8.0
  CHANGELOG.md
Labels: documentation

fix: correct marketplace plugin source path for GitHub registration
  .claude-plugin/marketplace.json
  .claude-plugin/pyscn-mcp/plugin.json
Labels: none

fix: use repository root relative path for plugin source
  .claude-plugin/marketplace.json
Labels: none

docs: use CLI command format for plugin installation
  README.md
Labels: documentation

docs: update CHANGELOG for v1.8.1
  CHANGELOG.md
Labels: documentation

feat: add pyscn-analyze skill for CLI usage guidance
  .claude-plugin/pyscn-mcp/skills/SKILL.md
Labels: documentation

fix: consolidate default settings to single source of truth
  internal/config/default_config.toml
  service/dead_code_config_loader.go
Labels: cli

fix: check command now respects .pyscn.toml settings
  app/complexity_usecase.go
  app/dead_code_usecase.go
  cmd/pyscn/check.go
  domain/complexity.go
  domain/dead_code.go
Labels: cli

style: fix gofmt formatting
  domain/dead_code.go
Labels: none

fix: remove MaxComplexity filtering from service layer
  service/complexity_service.go
  service/complexity_service_test.go
Labels: tests

docs: update CHANGELOG for v1.8.2
  CHANGELOG.md
Labels: documentation

docs: update demo video and gitignore promo directory
  .gitignore
  README.md
Labels: documentation

refactor: replace APTED with Jaccard coefficient for Type-2 clone detection
  README.md
  docs/ARCHITECTURE.md
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/syntactic_similarity.go
Labels: documentation, analyzer, tests

style: apply go fmt
  internal/analyzer/syntactic_similarity.go
Labels: analyzer

test: add regression tests for Type-2 clone detection (issue #292)
  internal/analyzer/clone_classifier_test.go
Labels: analyzer, tests

feat: enable Type-2 clone detection by default
  domain/clone.go
  domain/clone_test.go
  internal/config/default_config.toml
  pyproject.toml
Labels: cli, tests

refactor: update pyscn-mcp skill to MCP-only content
  .claude-plugin/pyscn-mcp/skills/SKILL.md
Labels: documentation

chore: release v1.9.0
  CHANGELOG.md
Labels: documentation

fix: reduce false positives in Type-3/Type-4 clone detection
  domain/defaults.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
