Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

test: consolidate clone detector benchmarks
  internal/analyzer/clone_detector_bench_test.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/clone_memory_test.go
Labels: analyzer, tests

test: trim clone memory benchmark size
  internal/analyzer/clone_detector_bench_test.go
Labels: analyzer, tests

test: tigten clone benchmark fixture
  internal/analyzer/clone_detector_bench_test.go
  internal/analyzer/clone_detector_benchmark_fixture_test.go
  internal/analyzer/lsh_integration_test.go
Labels: analyzer, tests

feat: add responsibility analysis
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
  service/system_analysis_service.go
Labels: tests

feat: wire responsibility config
  domain/system_analysis.go
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: tests

feat: show responsibility findings
  service/system_analysis_formatter.go
  service/system_analysis_formatter_test.go
Labels: tests

fix: run srp without layer matches
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
  service/system_analysis_service.go
Labels: tests

docs: update CHANGELOG for v1.17.0
  CHANGELOG.md
Labels: documentation

fix: count cohesion violations
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
Labels: tests

fix: keep layer summary scoped
  service/system_analysis_service.go
Labels: none

docs: clarify responsibility settings
  website/docs/configuration/reference.md
  website/docs/ja/configuration/reference.md
  website/docs/zh/configuration/reference.md
Labels: documentation

fix: tighten architecture defaults
  domain/analyze_test.go
  domain/defaults.go
  domain/defaults_test.go
  domain/system_analysis.go
  internal/config/config.go
  internal/config/pyscn_config.go
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_formatter_test.go
  service/system_analysis_service_helpers_test.go
Labels: cli, tests

fix: reduce srp false positives
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
Labels: tests

test: cover srp analysis end to end
  integration/architecture_integration_test.go
  testdata/python/responsibility_analysis/app/__init__.py
  testdata/python/responsibility_analysis/app/api/__init__.py
  testdata/python/responsibility_analysis/app/api/views.py
  testdata/python/responsibility_analysis/app/auth/__init__.py
  testdata/python/responsibility_analysis/app/auth/policy.py
  testdata/python/responsibility_analysis/app/billing/__init__.py
  testdata/python/responsibility_analysis/app/billing/invoice.py
  testdata/python/responsibility_analysis/app/core/__init__.py
  testdata/python/responsibility_analysis/app/core/hub.py
  testdata/python/responsibility_analysis/app/db/__init__.py
  testdata/python/responsibility_analysis/app/db/repo.py
  testdata/python/responsibility_analysis/app/reporting/__init__.py
  testdata/python/responsibility_analysis/app/reporting/export.py
  testdata/python/responsibility_analysis/pyproject.toml
Labels: tests

fix: keep critical responsibility severity
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
Labels: tests

fix: require text match for type1 clones
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/textual_similarity.go
  service/clone_service.go
  service/clone_service_test.go
Labels: analyzer, tests

fix: cap non-textual clone similarity
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_benchmark_fixture_test.go
  internal/analyzer/clone_detector_test.go
  service/clone_service_test.go
Labels: analyzer, tests

refactor: centralize clone ast traversal
  internal/analyzer/apted_tree.go
  internal/analyzer/clone_detector.go
Labels: analyzer

fix: include expression fields in clone trees
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

perf: guard lsh candidate fanout
  internal/analyzer/ast_features.go
  internal/analyzer/ast_features_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/lsh_index.go
  internal/analyzer/lsh_index_test.go
Labels: analyzer, tests

perf: cap lsh query candidates
  internal/analyzer/lsh_index.go
  internal/analyzer/lsh_index_test.go
Labels: analyzer, tests

test: cover expression-only clone distance
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

fix: label more clone ast payloads
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

test: cover clone ast scalar edge cases
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

fix: cap lsh candidates without dropping clone families
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/lsh_index.go
  internal/analyzer/lsh_index_test.go
  internal/analyzer/lsh_integration_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.18.0
  CHANGELOG.md
Labels: documentation

fix: emit real line range for synthetic __main__ complexity record
  internal/analyzer/cfg.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.18.1
  CHANGELOG.md
Labels: documentation

docs: sync rules and config reference with recent releases
  docs/algorithms/complexity.md
  website/docs/configuration/reference.md
  website/docs/index.md
  website/docs/ja/configuration/reference.md
  website/docs/ja/index.md
  website/docs/ja/rules/high-cyclomatic-complexity.md
  website/docs/ja/rules/index.md
  website/docs/ja/rules/single-responsibility.md
  website/docs/rules/high-cyclomatic-complexity.md
  website/docs/rules/index.md
  website/docs/rules/single-responsibility.md
  website/docs/zh/configuration/reference.md
  website/docs/zh/index.md
  website/docs/zh/rules/high-cyclomatic-complexity.md
  website/docs/zh/rules/index.md
  website/docs/zh/rules/single-responsibility.md
  website/mkdocs.yml
Labels: documentation

docs: include #406 in v1.18.1 CHANGELOG
  CHANGELOG.md
Labels: documentation

feat: measure abstract classes from ast
  domain/system_analysis.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: analyzer, tests

feat: classify main sequence zones
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
  service/system_analysis_service.go
  service/system_metrics_test.go
Labels: analyzer, tests

feat: report main sequence zones
  service/analyze_formatter.go
  service/system_analysis_formatter.go
  service/system_analysis_formatter_test.go
Labels: tests

docs: explain main sequence metrics
  docs/algorithms/dependency.md
  website/docs/output/schemas.md
Labels: documentation

test: cover architecture metrics end to end
  service/system_analysis_service_test.go
Labels: tests

fix: reduce main sequence zone noise
  docs/algorithms/dependency.md
  internal/analyzer/coupling_metrics.go
  internal/analyzer/module_analyzer.go
  internal/parser/ast.go
  service/system_analysis_service_test.go
  service/system_metrics_test.go
Labels: documentation, parser, analyzer, tests

test: cover qualified abstract decorators
  internal/analyzer/coupling_metrics.go
  internal/analyzer/module_analyzer_import_test.go
Labels: analyzer, tests

docs(i18n): sync ja/zh schemas with AbstractClassCount field
  website/docs/ja/output/schemas.md
  website/docs/zh/output/schemas.md
Labels: documentation

fix type2 class body false positives
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  testdata/python/clones/type2_false_positive/parsera_page.py
  testdata/python/clones/type2_false_positive/parsera_parsera.py
Labels: analyzer, tests

tighten type2 detector coverage
  internal/analyzer/clone_detector.go
  service/clone_service_test.go
Labels: analyzer, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
