Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

Display circular dependency details in HTML reports (#176)
  service/analyze_formatter.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
  testdata/python/circular_deps/__init__.py
  testdata/python/circular_deps/auth_service.py
  testdata/python/circular_deps/cache.py
  testdata/python/circular_deps/controller.py
  testdata/python/circular_deps/database.py
  testdata/python/circular_deps/logger.py
  testdata/python/circular_deps/module_a.py
  testdata/python/circular_deps/module_b.py
  testdata/python/circular_deps/notification_service.py
  testdata/python/circular_deps/repository.py
  testdata/python/circular_deps/service.py
  testdata/python/circular_deps/user_service.py
Labels: tests

docs: add MCP use case examples
  README.md
Labels: documentation

docs: add MCP use case examples (#222)
  README.md
Labels: documentation

fix(analyze): correct score normalization for dependencies and architecture
  domain/analyze.go
  domain/analyze_test.go
Labels: tests

style: fix gofmt formatting in analyze_test.go
  domain/analyze_test.go
Labels: tests

chore: prepare release v1.3.0
  CHANGELOG.md
Labels: documentation

feat: add circular dependency detection
  README.md
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  testdata/python/circular_deps_test/main.py
  testdata/python/circular_deps_test/physics.py
  testdata/python/circular_deps_test/player.py
Labels: documentation, cli, tests

feat: add circular dependency detection (#213)
  README.md
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  testdata/python/circular_deps_test/main.py
  testdata/python/circular_deps_test/physics.py
  testdata/python/circular_deps_test/player.py
Labels: documentation, cli, tests

fix(python): fix binary auto-detection for pyscn_mcp package in create_wheel.sh
  python/scripts/create_wheel.sh
Labels: none

fix: respect complexity thresholds from .pyscn.toml config file
  internal/config/clone_config.go
  internal/config/toml_loader.go
  service/config_loader.go
Labels: cli

feat: add pyproject.toml support and tests for complexity config
  internal/config/pyproject_loader.go
  internal/config/pyproject_loader_test.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
Labels: cli, tests

Fix: Respect complexity thresholds from .pyscn.toml (#226)
  internal/config/clone_config.go
  internal/config/pyproject_loader.go
  internal/config/pyproject_loader_test.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/config_loader.go
Labels: cli, tests

feat: Add support for all config sections in TOML files
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/clone_config.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli, tests

fix: format pyscn_config.go
  internal/config/pyscn_config.go
Labels: cli

fix: Update dead_code_config_loader to use PyscnConfig mappings
  service/dead_code_config_loader.go
Labels: none

Fix: Respect dead_code config from .pyscn.toml in analyze command
  app/analyze_usecase.go
  internal/config/toml_loader_test.go
  service/dead_code_config_loader.go
Labels: cli, tests

fix: DeadCodeRequestのboolフィールドをポインタ型に変更
  app/analyze_usecase.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyscn/check.go
  domain/dead_code.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_with_flags.go
  service/dead_code_service.go
  service/dead_code_service_test.go
Labels: cli, tests

fix: Change bool fields to pointer type in DeadCodeRequest
  app/analyze_usecase.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyscn/check.go
  domain/dead_code.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_with_flags.go
  service/dead_code_service.go
  service/dead_code_service_test.go
Labels: cli, tests

refactor: Clarify conversion priority in pyscnConfigToUnifiedConfig
  service/dead_code_config_loader.go
Labels: none

refactor: pyscnConfigToUnifiedConfigの変換優先順位を明確化
  service/dead_code_config_loader.go
Labels: none

fix: analyzeコマンドでdetectionフラグが設定ファイルを上書きする問題を修正
  app/analyze_usecase.go
Labels: none

fix: Prevent detection flags from overriding config file in analyze command
  app/analyze_usecase.go
Labels: none

feat: CBOConfigurationLoaderを実装してCBO設定を有効化
  cmd/pyscn/analyze.go
  internal/config/cbo_config_test.go
  service/cbo_config_loader.go
  service/cbo_config_loader_test.go
Labels: cli, tests

feat: Implement CBOConfigurationLoader to enable CBO configuration
  cmd/pyscn/analyze.go
  internal/config/cbo_config_test.go
  service/cbo_config_loader.go
  service/cbo_config_loader_test.go
Labels: cli, tests

fix: Change bool fields to *bool in CBORequest and SystemAnalysisRequest
  app/analyze_usecase.go
  app/cbo_usecase.go
  app/system_analysis_usecase.go
  domain/cbo.go
  domain/system_analysis.go
  mcp/handlers.go
  service/cbo_config_loader.go
  service/cbo_config_loader_test.go
  service/cbo_service.go
  service/cbo_service_test.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
Labels: tests

chore: Fix format and lint errors
  app/analyze_usecase.go
  service/cbo_config_loader_test.go
  service/cbo_service_test.go
Labels: tests

Fix: Use *bool in PyscnConfig to prevent information loss in config hierarchy
  internal/config/cbo_config_test.go
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader_test.go
  mcp/handlers.go
  service/cbo_config_loader.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli, tests

fix: Correct config priority logic for boolean and recursive settings
  app/analyze_usecase.go
  service/dead_code_config_loader.go
Labels: none

fix: Correctly merge boolean configuration flags to respect false values
  service/config_loader.go
Labels: none

docs: Rename CloneConfig to PyscnConfig in ARCHITECTURE.md
  docs/ARCHITECTURE.md
Labels: documentation

chore: Update CHANGELOG for v1.4.0
  CHANGELOG.md
Labels: documentation

refactor: Remove Viper-based config loader and unify on TOML-only
  go.mod
  go.sum
  internal/config/config.go
  internal/config/config_test.go
  internal/config/default_config.go
  internal/config/toml_loader.go
  service/clone_config_loader.go
  service/dead_code_config_loader.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
Labels: cli, tests, dependencies

refactor: Remove duplicated config loading logic from system_analysis_config_loader
  service/system_analysis_config_loader.go
Labels: none

chore: prepare release v1.4.1
  CHANGELOG.md
Labels: documentation

docs: Add jscan link to README
  README.md
Labels: documentation

test: add comprehensive tests for apted_tree.go
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

fix: typo
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

test: add comprehensive tests for apted_tree.go (#238)
  internal/analyzer/apted_tree_test.go
Labels: analyzer, tests

fix: route break/continue/raise through finally blocks in CFG (#210)
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_finally_test.go
Labels: analyzer, tests

fix: prevent break/continue/raise inside finally from routing to itself
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_finally_test.go
Labels: analyzer, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
