Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

feat(service): populate SystemAnalysisResponse.Summary
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
  service/system_analysis_service_test.go
Labels: tests

docs: update CHANGELOG for v1.22.1
  CHANGELOG.md
Labels: documentation

fix cbo dependency identity
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

test cbo service dependency contract
  service/cbo_service_test.go
Labels: tests

fix cbo import identity resolution
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

tighten cbo import contracts
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

clean cbo dependency routing
  internal/analyzer/cbo.go
Labels: analyzer

fix cbo imported self identity
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

broaden cbo typing import filter
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix(architecture): expose WeightedViolations to make ComplianceScore reproducible (#444)
  domain/system_analysis.go
  service/responsibility_analysis_test.go
  service/system_analysis_service.go
  website/docs/fr/output/schemas.md
  website/docs/ja/output/schemas.md
  website/docs/output/schemas.md
  website/docs/zh/output/schemas.md
Labels: documentation, tests

chore(ci): drop Codecov upload step
  .github/workflows/ci.yml
Labels: ci

docs: update CHANGELOG for v1.22.2
  CHANGELOG.md
Labels: documentation

fix(lcom): detect external ctypes fields
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): broaden ctypes base detection and disambiguate by class node
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(clones): preserve skip docstrings config
  service/clone_config_loader.go
  service/clone_config_loader_test.go
Labels: tests

fix(clones): preserve group clone types
  internal/analyzer/connected_grouping.go
  internal/analyzer/star_medoid_grouping.go
  internal/analyzer/star_medoid_grouping_test.go
  service/clone_service.go
  service/clone_service_test.go
Labels: analyzer, tests

chore(clones): remove unused star similarity helper
  internal/analyzer/star_medoid_grouping.go
Labels: analyzer

docs: update CHANGELOG for v1.22.3
  CHANGELOG.md
Labels: documentation

fix(clones): compute TotalClones from clone group membership, not all fragments
  service/basic_service_test.go
  service/clone_service.go
  service/clone_service_test.go
Labels: tests

fix(clones): count clone fragments from pairs when groups are pruned
  service/clone_service.go
  service/clone_service_test.go
Labels: tests

fix(analysis): exclude Django migration files from analysis defaults
  domain/clone.go
  domain/dead_code.go
  domain/defaults.go
  domain/system_analysis.go
  internal/analyzer/module_analyzer.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/default_config.toml.tmpl
  internal/config/pyscn_config.go
  service/system_analysis_config_loader.go
Labels: analyzer, cli, tests

fix(check, system-analysis): use canonical exclude defaults instead of stub lists
  cmd/pyscn/check.go
  service/system_analysis_config_loader.go
Labels: cli

docs: update CHANGELOG for v1.22.4
  CHANGELOG.md
Labels: documentation

refactor(analyzer): add ComputeDistanceAndSimilarity to eliminate double APTED runs
  internal/analyzer/apted.go
  internal/analyzer/clone_detector.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
Labels: analyzer

test(tfidf): add unit tests for TFIDFCalculator and CosineSimilarity
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

perf: restore source extraction fast path (fixes regression from PR #438)
  internal/analyzer/clone_detector.go
Labels: analyzer

resolve conflict in apted.go
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/apted_validation_test.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/recursion_test.go
  internal/analyzer/semantic_min_size_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
  internal/analyzer/tfidf.go
  internal/analyzer/type4_similarity_test.go
  service/clone_service.go
Labels: analyzer, tests

style: gofmt formatting fixes for tfidf and similarity_analyzer
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

fix(syntactic): restore Features fast path in ComputeSimilarity (fixes #315)
  internal/analyzer/syntactic_similarity.go
Labels: analyzer

fix: resolve remaining method conflicts in apted.go and apted_test.go
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

feat(analyzer): add TF-IDF calculator implementation
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

gofmt: align struct fields and add newline at end of file
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

fix parser comprehension fields
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, tests

fix analyzer dependency traversal
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  internal/analyzer/cognitive_complexity.go
  internal/analyzer/cognitive_complexity_test.go
Labels: analyzer, tests

fix module import contracts
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  internal/analyzer/module_analyzer_reexport_test.go
  internal/analyzer/module_analyzer_type_checking_test.go
  internal/analyzer/reexport_resolver.go
  internal/analyzer/reexport_resolver_test.go
Labels: analyzer, tests

separate analysis include contracts
  app/analyze_usecase_test.go
  app/dead_code_usecase.go
  cmd/pyscn/check.go
  domain/cbo.go
  domain/clone.go
  domain/clone_test.go
  domain/dead_code.go
  domain/defaults.go
  domain/di_antipattern.go
  domain/lcom.go
  domain/mock_data.go
  domain/system_analysis.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  service/cbo_config_loader.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: cli, tests

escape html report output
  service/cbo_formatter.go
  service/cbo_formatter_test.go
  service/file_reader_test.go
  service/html_template.go
  service/html_template_test.go
  service/lcom_formatter.go
  service/lcom_formatter_test.go
  service/mock_data_formatter.go
  service/mock_data_formatter_test.go
  service/system_analysis_formatter.go
  service/system_analysis_formatter_test.go
Labels: tests

docs: update CHANGELOG for v1.22.5
  CHANGELOG.md
Labels: documentation

fix: propagate nested function cfgs
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
Labels: analyzer, tests

refactor: centralize cfg function collection
  internal/analyzer/cfg_builder.go
Labels: analyzer
