Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

fix: mark partial MCP failures unhealthy
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

perf: reuse project syntax in all check gates
  app/analyze_usecase.go
  app/di_antipattern_usecase.go
  app/mock_data_usecase.go
  cmd/pyscn/check.go
  cmd/pyscn/check_policy.go
  internal/mockdetector/detector.go
  service/di_antipattern_service.go
  service/di_antipattern_service_test.go
  service/mock_data_service.go
  service/mock_data_service_test.go
  service/project_snapshot.go
Labels: cli, tests

test: lock graph policy provenance
  service/community_analysis_service_test.go
Labels: tests

test: wire community snapshot integration
  integration/community_integration_test.go
Labels: tests

fix: capture module roots with project syntax
  internal/analyzer/module_analyzer.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: analyzer, tests

fix: seal relative snapshot paths at capture
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

fix: mark incomplete MCP analysis unhealthy
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

fix: preserve aggregate analyzer error identity
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

docs: complete snapshot contract documentation
  app/cbo_usecase.go
  app/clone_usecase.go
  app/community_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/di_antipattern_usecase.go
  app/lcom_usecase.go
  app/mock_data_usecase.go
  app/system_analysis_usecase.go
  domain/analysis_coverage.go
  website/docs/output/schemas.md
Labels: documentation

test: benchmark aggregate graph reuse
  service/project_snapshot_bench_test.go
Labels: tests

fix: validate aggregate collaborators at build time
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

fix: retain benchmark graph clones
  service/project_snapshot_bench_test.go
Labels: tests

fix: deep clone node-valued syntax
  internal/parser/ast.go
  service/project_snapshot_test.go
Labels: parser, tests

fix: preserve snapshot analysis errors
  app/cbo_usecase.go
  app/clone_usecase.go
  app/di_antipattern_usecase.go
  app/lcom_usecase.go
  app/lcom_usecase_test.go
  cmd/pyscn/check_policy.go
  internal/analyzer/module_analyzer.go
  internal/mockdetector/detector.go
  service/di_antipattern_service.go
  service/mock_data_service.go
  service/system_analysis_service.go
Labels: analyzer, cli, tests

fix: stabilize MCP issue arrays
  docs/MCP_INTEGRATION.md
  mcp/README.md
  mcp/handlers.go
  mcp/handlers_test.go
Labels: documentation, tests

docs: align analysis failure schemas
  domain/analysis_coverage.go
  website/docs/cli/check.md
  website/docs/fr/cli/check.md
  website/docs/ja/cli/check.md
  website/docs/output/schemas.md
  website/docs/zh/cli/check.md
Labels: documentation

fix: wrap snapshot clone configuration errors
  app/clone_usecase.go
Labels: none

fix(check): pin dependency graph policy
  app/analyze_usecase.go
  cmd/pyscn/check_parse_errors_test.go
  cmd/pyscn/check_policy.go
Labels: cli, tests

fix(deps): include stub modules in project snapshots
  app/analyze_usecase.go
  cmd/pyscn/check_parse_errors_test.go
  domain/analyze.go
  service/analyze_config_loader.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/di_antipattern_service.go
  service/lcom_service.go
  service/mock_data_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: cli, tests

fix(clones): honor snapshot file filters
  service/clone_service.go
  service/clone_service_test.go
  service/project_snapshot.go
Labels: tests

fix(deps): resolve captured absolute imports exactly
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_parsed_test.go
Labels: analyzer, tests

fix(complexity): return partial results for parse gaps
  cmd/pyscn/check_parse_errors_test.go
  service/complexity_service.go
Labels: cli, tests

fix(mcp): preserve partial health results
  docs/MCP_INTEGRATION.md
  mcp/README.md
  mcp/handlers.go
  mcp/handlers_test.go
Labels: documentation, tests

perf(snapshot): materialize compatibility files lazily
  service/project_snapshot.go
  service/project_snapshot_bench_test.go
  service/project_snapshot_test.go
Labels: tests

fix(deps): anchor modules to selected scope
  app/analyze_usecase.go
  service/project_root.go
  service/project_root_test.go
  service/project_snapshot.go
Labels: tests

test(mcp): cover health result contract
  mcp/handlers_test.go
Labels: tests

fix(complexity): distinguish empty parsed scopes
  service/complexity_service.go
Labels: none

fix(deps): restore captured sibling imports
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_parsed_test.go
Labels: analyzer, tests

fix(deps): keep stdlib exclusion intact
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_parsed_test.go
Labels: analyzer, tests

fix: keep coverage selection independent
  app/analyze_usecase_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

fix: preserve failure file paths
  service/analysis_issues.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/dead_code_service.go
  service/lcom_service.go
  service/system_analysis_service.go
Labels: tests

fix: wrap aggregate execution errors
  app/analyze_usecase.go
Labels: none

test: 全解析母集団の件数契約を検証する
  service/complexity_service_test.go
Labels: tests

chore: bump polyscan core to v0.2.2 (APTED/LSH optimizations)
  go.mod
  go.sum
Labels: dependencies

refactor: type CFG scope ownership
  domain/complexity.go
  internal/analyzer/cfg.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_comprehension_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/complexity_test.go
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/file_analyzer.go
  service/complexity_service.go
  service/dead_code_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: analyzer, tests

fix: isolate executable class suites
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix: align class scope complexity metrics
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
  internal/analyzer/nesting_depth.go
  internal/analyzer/nesting_depth_test.go
Labels: analyzer, tests

feat: publish typed complexity scopes
  domain/complexity.go
  domain/complexity_test.go
  domain/suggestion.go
  domain/suggestion_test.go
  mcp/handlers.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

test: preserve dead code scope boundary
  service/dead_code_service_test.go
Labels: tests

fix: label executable scope reports
  domain/complexity.go
  domain/module_quality.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/directory_complexity_formatter.go
  service/html_formatter.go
  service/html_formatter_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
