Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

fix: improve clone detection service and add HTML output support
  domain/clone.go
  service/clone_formatter.go
  service/clone_service.go
Labels: none

feat: improve output format flags and file generation
  app/clone_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyqol/.pyqol.yaml
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/complexity_test.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/init.go
  cmd/pyqol/new_commands_test.go
  cmd/pyqol/utils.go
  domain/analyze.go
  domain/complexity.go
  domain/complexity_test.go
  domain/dead_code.go
  internal/analyzer/apted_test.go
  internal/config/config.go
  service/analyze_formatter.go
  service/browser.go
  service/clone_config_loader_with_flags.go
  service/config_loader.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_with_flags.go
  service/dead_code_formatter.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: analyzer, cli, tests

feat: improve output format flags and file generation
  app/clone_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyqol/.pyqol.yaml
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/complexity_test.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/init.go
  cmd/pyqol/new_commands_test.go
  cmd/pyqol/utils.go
  domain/analyze.go
  domain/complexity.go
  domain/complexity_test.go
  domain/dead_code.go
  internal/analyzer/apted_test.go
  internal/config/config.go
  service/analyze_formatter.go
  service/browser.go
  service/clone_config_loader_with_flags.go
  service/config_loader.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_with_flags.go
  service/dead_code_formatter.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: analyzer, cli, tests

feat: implement Ruff-style hierarchical configuration system
  .pyqol.yaml
  README.md
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/complexity_test.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  e2e/testdata/.pyqol.yaml
  internal/config/config.go
  internal/config/config_test.go
Labels: documentation, cli, tests

feat: implement Ruff-style hierarchical configuration system
  .pyqol.yaml
  README.md
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/complexity_test.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  e2e/testdata/.pyqol.yaml
  internal/config/config.go
  internal/config/config_test.go
Labels: documentation, cli, tests

refactor: eliminate DRY violations in configuration and testing code
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  e2e/helpers.go
  internal/config/config.go
Labels: cli, tests

refactor: eliminate DRY violations in configuration and testing code
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  e2e/helpers.go
  internal/config/config.go
Labels: cli, tests

refactor: implement Separation of Concerns (SoC) for better code organization
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  internal/config/config.go
Labels: cli

refactor: implement Separation of Concerns (SoC) for better code organization
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  internal/config/config.go
Labels: cli

fix: resolve three critical logic bugs
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  internal/config/config.go
Labels: cli, tests

fix: resolve three critical logic bugs
  cmd/pyqol/analyze.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/utils.go
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  internal/config/config.go
Labels: cli, tests

fix: resolve viper race condition in parallel config loading
  internal/config/config.go
Labels: cli

fix: resolve viper race condition in parallel config loading
  internal/config/config.go
Labels: cli

fix: analyze command no longer hangs when no Python files found
  cmd/pyqol/analyze.go
Labels: cli

fix: analyze command no longer hangs when no Python files found
  cmd/pyqol/analyze.go
Labels: cli

refactor: centralize json/yaml encoding (#60)
  AGENTS.md
  service/analyze_formatter.go
  service/clone_formatter.go
  service/dead_code_formatter.go
  service/format_utils.go
  service/output_formatter.go
Labels: documentation

refactor: centralize json/yaml encoding (#60)
  service/analyze_formatter.go
  service/clone_formatter.go
  service/dead_code_formatter.go
  service/format_utils.go
  service/output_formatter.go
Labels: none

refactor: finalize json/yaml dedup in formatters (#60)
  service/clone_formatter.go
  service/dead_code_formatter.go
Labels: none

refactor: finalize json/yaml dedup in formatters (#60)
  service/clone_formatter.go
  service/dead_code_formatter.go
Labels: none

chore: set release Go version to 1.23
  .github/workflows/release.yml
Labels: ci

chore: set release Go version to 1.23
  .github/workflows/release.yml
Labels: ci

refactor: move io + browser out of use cases
  AGENTS.md
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  domain/output.go
  service/file_output_writer.go
  service/output_format_resolver.go
Labels: documentation, cli

refactor: move io + browser out of use cases
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  domain/output.go
  service/file_output_writer.go
  service/output_format_resolver.go
Labels: cli

refactor: dedupe default ReportWriter init and remove runtime nil guards
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
Labels: none

refactor: dedupe default ReportWriter init and remove runtime nil guards
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
Labels: none

feat: implement CBO (Coupling Between Objects) metric analysis
  app/cbo_usecase.go
  cmd/pyqol/cbo.go
  domain/cbo.go
  domain/complexity.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  service/cbo_formatter.go
  service/cbo_service.go
Labels: analyzer, cli, tests

feat: implement CBO (Coupling Between Objects) metric analysis
  app/cbo_usecase.go
  cmd/pyqol/cbo.go
  domain/cbo.go
  domain/complexity.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  service/cbo_formatter.go
  service/cbo_service.go
Labels: analyzer, cli, tests

feat: integrate CBO analysis into analyze command
  cmd/pyqol/analyze.go
  domain/analyze.go
  service/analyze_formatter.go
Labels: cli

feat: integrate CBO analysis into analyze command
  cmd/pyqol/analyze.go
  domain/analyze.go
  service/analyze_formatter.go
Labels: cli

refactor: improve CBO labeling consistency
  cmd/pyqol/analyze.go
  service/analyze_formatter.go
Labels: cli

refactor: improve CBO labeling consistency
  cmd/pyqol/analyze.go
  service/analyze_formatter.go
Labels: cli

fix: resolve CBO analyzer test failures from code review
  domain/cbo.go
  internal/analyzer/cbo.go
  internal/parser/ast.go
  service/cbo_formatter.go
  service/cbo_service.go
Labels: parser, analyzer

fix: resolve CBO analyzer test failures from code review
  domain/cbo.go
  internal/analyzer/cbo.go
  internal/parser/ast.go
  service/cbo_formatter.go
  service/cbo_service.go
Labels: parser, analyzer

fix: separate built-in types from functions in CBO analysis
  domain/cbo.go
  internal/analyzer/cbo.go
  service/cbo_formatter.go
  service/cbo_service.go
Labels: analyzer

fix: separate built-in types from functions in CBO analysis
  domain/cbo.go
  internal/analyzer/cbo.go
  service/cbo_formatter.go
  service/cbo_service.go
Labels: analyzer

chore: update gitignore
  .gitignore
Labels: none

chore: update gitignore
  .gitignore
Labels: none

fix: resolve CBO function call false positives and nested call detection
  internal/analyzer/cbo.go
Labels: analyzer

fix: resolve CBO function call false positives and nested call detection
  internal/analyzer/cbo.go
Labels: analyzer

refactor: remove unused IncludeThirdParty field from CBOOptions
  domain/cbo.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  service/cbo_service.go
Labels: analyzer, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
