Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix: reset cfg builder state between builds
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
Labels: analyzer, tests

fix: limit dfa compound statement uses
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix: preserve dfa function header uses
  internal/analyzer/cfg_builder.go
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix: preserve parameter annotation contract
  internal/analyzer/cbo.go
  internal/analyzer/concrete_dependency_detector.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, analyzer, tests

fix: bind dfa definition scopes
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix: model dfa match pattern bindings
  internal/analyzer/dfa.go
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix(dead-code): skip trailing-semicolon empty statements (issue #499)
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.22.6
  CHANGELOG.md
Labels: documentation

Fix module import branch traversal
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  internal/analyzer/module_analyzer_type_checking_test.go
Labels: analyzer, tests

fix(clones): populate fragment id and type in clone group output
  service/clone_service.go
  service/clone_service_content_test.go
Labels: tests

fix(clones): use response-wide fragment id in clone groups
  service/clone_service.go
  service/clone_service_content_test.go
Labels: tests

Reuse prepared clone features for LSH
  internal/analyzer/clone_detector.go
  internal/analyzer/lsh_integration_test.go
Labels: analyzer, tests

Clarify clone feature cache contract
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_benchmark_fixture_test.go
  internal/analyzer/lsh_integration_test.go
Labels: analyzer, tests

Make clone feature cache detector-owned
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_benchmark_fixture_test.go
  internal/analyzer/lsh_integration_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.22.7
  CHANGELOG.md
Labels: documentation

ci: upgrade golangci-lint-action to v7
  .github/workflows/ci.yml
  .golangci.yml
Labels: ci

fix: move plugin manifest into nested .claude-plugin/ dir (#509)
  .claude-plugin/pyscn-mcp/.claude-plugin/plugin.json
Labels: none

docs: update CHANGELOG for v1.22.8
  CHANGELOG.md
Labels: documentation

fix(security): clear dependency CVEs and suppress math/rand false positive
  .gitignore
  internal/analyzer/minhash.go
  pyproject.toml
  uv.lock
Labels: analyzer

fix(deps): exclude lazy function-body imports from circular dependency detection
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_lazy_import_test.go
Labels: analyzer, tests

fix(deps): retain lazy imports as edges, exclude only from cycle detection
  internal/analyzer/circular_detector.go
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_lazy_import_test.go
Labels: analyzer, tests

refactor(complexity): consolidate AST source node selection in analyzer
  internal/analyzer/complexity.go
Labels: analyzer

docs: update CHANGELOG for v1.22.9
  CHANGELOG.md
Labels: documentation

fix(dead-code): merge overlapping unreachable findings (#471)
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

feat(architecture): add style preset plumbing with layered preset (#335)
  domain/system_analysis.go
  internal/config/architecture_presets.go
  internal/config/architecture_presets_test.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: cli, tests

feat(architecture): add hexagonal and clean style presets (#335)
  integration/architecture_integration_test.go
  internal/config/architecture_presets.go
  internal/config/architecture_presets_test.go
  testdata/python/clean_layers/app/__init__.py
  testdata/python/clean_layers/app/entities/__init__.py
  testdata/python/clean_layers/app/entities/user.py
  testdata/python/clean_layers/app/frameworks/__init__.py
  testdata/python/clean_layers/app/frameworks/web.py
  testdata/python/clean_layers/app/interface_adapters/__init__.py
  testdata/python/clean_layers/app/interface_adapters/user_gateway.py
  testdata/python/clean_layers/app/use_cases/__init__.py
  testdata/python/clean_layers/app/use_cases/create_user.py
  testdata/python/clean_layers/pyproject.toml
  testdata/python/hexagonal_ports/app/__init__.py
  testdata/python/hexagonal_ports/app/adapters/__init__.py
  testdata/python/hexagonal_ports/app/adapters/user_repo.py
  testdata/python/hexagonal_ports/app/domain/__init__.py
  testdata/python/hexagonal_ports/app/domain/order.py
  testdata/python/hexagonal_ports/app/domain/user.py
  testdata/python/hexagonal_ports/app/ports/__init__.py
  testdata/python/hexagonal_ports/app/ports/user_port.py
  testdata/python/hexagonal_ports/pyproject.toml
Labels: cli, tests

feat(architecture): add mvc style preset with warning-severity rules (#335)
  domain/system_analysis.go
  integration/architecture_integration_test.go
  internal/config/architecture_presets.go
  internal/config/architecture_presets_test.go
  internal/config/config.go
  internal/config/default_config.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
  testdata/python/mvc_app/app/__init__.py
  testdata/python/mvc_app/app/controller/__init__.py
  testdata/python/mvc_app/app/controller/user_controller.py
  testdata/python/mvc_app/app/model/__init__.py
  testdata/python/mvc_app/app/model/user.py
  testdata/python/mvc_app/app/view/__init__.py
  testdata/python/mvc_app/app/view/profile.py
  testdata/python/mvc_app/pyproject.toml
Labels: cli, tests

test(architecture): track mvc fixture config
  testdata/python/mvc_app/pyproject.toml
Labels: tests

fix(architecture): filter preset rules for custom layers
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: tests

feat(architecture): add hexagonal and clean style presets (#335)
  integration/architecture_integration_test.go
  internal/config/architecture_presets.go
  internal/config/architecture_presets_test.go
  testdata/python/clean_layers/app/__init__.py
  testdata/python/clean_layers/app/entities/__init__.py
  testdata/python/clean_layers/app/entities/user.py
  testdata/python/clean_layers/app/frameworks/__init__.py
  testdata/python/clean_layers/app/frameworks/web.py
  testdata/python/clean_layers/app/interface_adapters/__init__.py
  testdata/python/clean_layers/app/interface_adapters/user_gateway.py
  testdata/python/clean_layers/app/use_cases/__init__.py
  testdata/python/clean_layers/app/use_cases/create_user.py
  testdata/python/clean_layers/pyproject.toml
  testdata/python/hexagonal_ports/app/__init__.py
  testdata/python/hexagonal_ports/app/adapters/__init__.py
  testdata/python/hexagonal_ports/app/adapters/user_repo.py
  testdata/python/hexagonal_ports/app/domain/__init__.py
  testdata/python/hexagonal_ports/app/domain/order.py
  testdata/python/hexagonal_ports/app/domain/user.py
  testdata/python/hexagonal_ports/app/ports/__init__.py
  testdata/python/hexagonal_ports/app/ports/user_port.py
  testdata/python/hexagonal_ports/pyproject.toml
Labels: cli, tests

test(architecture): configure style preset fixtures
  testdata/python/clean_layers/pyproject.toml
  testdata/python/hexagonal_ports/pyproject.toml
Labels: tests

feat(architecture): add mvc style preset with warning-severity rules (#335)
  domain/system_analysis.go
  integration/architecture_integration_test.go
  internal/config/architecture_presets.go
  internal/config/architecture_presets_test.go
  internal/config/config.go
  internal/config/default_config.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
  testdata/python/mvc_app/app/__init__.py
  testdata/python/mvc_app/app/controller/__init__.py
  testdata/python/mvc_app/app/controller/user_controller.py
  testdata/python/mvc_app/app/model/__init__.py
  testdata/python/mvc_app/app/model/user.py
  testdata/python/mvc_app/app/view/__init__.py
  testdata/python/mvc_app/app/view/profile.py
  testdata/python/mvc_app/pyproject.toml
Labels: cli, tests

test(architecture): track mvc fixture config
  testdata/python/mvc_app/pyproject.toml
Labels: tests

style: use LayerRule cast over struct literal (staticcheck S1016)
  internal/config/pyproject_loader.go
Labels: cli

docs(architecture): document style presets (layered/hexagonal/clean/mvc)
  docs/README.md
  docs/algorithms/architecture-presets.md
  website/docs/configuration/reference.md
  website/docs/fr/configuration/reference.md
  website/docs/ja/configuration/reference.md
  website/docs/zh/configuration/reference.md
Labels: documentation

docs(architecture): clarify layered default and allow-list semantics
  docs/algorithms/architecture-presets.md
  website/docs/configuration/reference.md
  website/docs/fr/configuration/reference.md
  website/docs/ja/configuration/reference.md
  website/docs/zh/configuration/reference.md
Labels: documentation

docs: update CHANGELOG for v1.23.0
  CHANGELOG.md
Labels: documentation

fix(score): soften CBO coupling scoring calibration
  domain/analyze.go
  domain/analyze_test.go
Labels: tests

fix(score): soften LCOM cohesion scoring calibration
  domain/analyze.go
  domain/analyze_test.go
Labels: tests

docs: update CHANGELOG for v1.23.1
  CHANGELOG.md
Labels: documentation
