Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix(tfidf): multiply TF by actual IDF, add BuildFromCorpus
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

Change default output directory from .pyscn/reports to reports
  cmd/pyscn/utils.go
  internal/config/config.go
  internal/config/pyscn_config.go
Labels: cli

fix: address PR feedback - drop dead tests, remove duplicate error print, add errcheck nolint
  cmd/pyscn/analyze.go
  cmd/pyscn/utils_test.go
Labels: cli, tests

style: fix gofmt alignment in TFIDFCalculator struct fields
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

fix: remove dead medoid branch
  internal/analyzer/star_medoid_grouping.go
Labels: analyzer

fix(tfidf): initialize tfidfCalculator and build corpus in CloneDetector
  internal/analyzer/clone_detector.go
Labels: analyzer

fix(test): use filepath.EvalSymlinks on t.TempDir to fix macOS path mismatch
  cmd/pyscn/utils_test.go
Labels: cli, tests

chore(test): drop unused //nolint:errcheck on deferred os.Chdir
  cmd/pyscn/utils_test.go
Labels: cli, tests

test(cmd/pyscn): handle deferred os.Chdir error properly
  cmd/pyscn/utils_test.go
Labels: cli, tests

fix(architecture): count rule invocations, not violations, in ComplianceScore
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
  service/system_analysis_service.go
Labels: tests

docs: update CHANGELOG for v1.21.0
  CHANGELOG.md
Labels: documentation

fix(clone): gate Type-4 on minimum CFG size to cut linear-shape FPs
  docs/algorithms/clone-detection.md
  domain/defaults.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/semantic_min_size_test.go
  internal/analyzer/semantic_similarity.go
Labels: documentation, analyzer, tests

fix(clone): gate Type-4 on cyclomatic complexity instead of block count
  docs/algorithms/clone-detection.md
  domain/defaults.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/semantic_min_size_test.go
  internal/analyzer/semantic_similarity.go
Labels: documentation, analyzer, tests

refactor(clone): tighten Type-4 gate comment and reuse FindByType in tests
  internal/analyzer/semantic_min_size_test.go
  internal/analyzer/semantic_similarity.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.21.1
  CHANGELOG.md
Labels: documentation

feat(analyzer): TF-IDF + Cosine Similarity for Type-2 clone detection (fixes #315)
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/apted_validation_test.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/recursion_test.go
  internal/analyzer/semantic_min_size_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
  internal/analyzer/tfidf.go
  internal/analyzer/type4_similarity_test.go
  service/clone_service.go
Labels: analyzer, tests

test(tfidf): add unit tests for TFIDFCalculator and CosineSimilarity
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

style: gofmt formatting fixes for tfidf and similarity_analyzer
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_test.go
Labels: analyzer, tests

fix(syntactic): restore Features fast path in ComputeSimilarity (fixes #315)
  internal/analyzer/syntactic_similarity.go
Labels: analyzer

refactor(analyzer): add ComputeDistanceAndSimilarity to eliminate double APTED runs
  internal/analyzer/apted.go
  internal/analyzer/clone_detector.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
Labels: analyzer

refactor: strip TF-IDF feature code from PR #452
  internal/analyzer/apted.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/semantic_min_size_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_test.go
  internal/analyzer/type4_similarity_test.go
Labels: analyzer, tests

fix: preserve large-tree APTED label distance
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

test: bench large-tree APTED thresholds
  internal/analyzer/apted_test.go
Labels: analyzer, tests

fix: honor APTED cost model in large profiles
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

perf: tighten large-tree APTED profiles
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

test: add mock data usecase unit coverage
  app/mock_data_usecase_test.go
Labels: tests

test: add LCOM use case unit tests
  app/lcom_usecase_test.go
Labels: tests

perf: restore source extraction fast path (fixes regression from PR #438)
  internal/analyzer/clone_detector.go
Labels: analyzer

perf: restore source extraction fast path (fixes regression from PR #438)
  internal/analyzer/clone_detector.go
Labels: analyzer

test: add unit tests for app/di_antipattern_usecase.go
  app/di_antipattern_usecase_test.go
Labels: tests

fix(analyzer): update apted_test.go to use ComputeDistanceTrees/ComputeDistanceAndSimilarityTrees
  internal/analyzer/apted_test.go
Labels: analyzer, tests

fix: resolve issue #462 - [BUG][auto] module-level-cognitive-zero: <module> entries al
  internal/analyzer/module_analyzer.go
Labels: analyzer

fix: compute module cognitive metrics
  internal/analyzer/complexity.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: analyzer, tests

fix: use AST counts for complexity metrics
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
  service/complexity_service.go
Labels: analyzer, tests

test: cover public complexity metric counts
  service/complexity_service_test.go
Labels: tests

docs: clarify complexity metric sources
  docs/algorithms/complexity.md
Labels: documentation

fix: preserve complexity metric fallbacks
  docs/algorithms/complexity.md
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
Labels: documentation, analyzer, tests

docs: clarify large-tree APTED heuristic
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.22.0
  CHANGELOG.md
Labels: documentation

docs: tidy mkdocs header logo
  website/docs/assets/icon.svg
  website/docs/assets/logo.svg
  website/mkdocs.yml
Labels: none
