Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

style(html): restyle output with professional data-first palette (#345)
  service/analyze_formatter.go
  service/html_formatter.go
  service/html_template.go
Labels: none

docs: update CHANGELOG for v1.11.1
  CHANGELOG.md
Labels: documentation

feat(analyze): add actionable suggestions to analyze output
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  domain/analyze.go
  domain/suggestion.go
  domain/suggestion_test.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: cli, tests

fix(suggestions): prioritize before truncating clones, separate system limits
  domain/suggestion.go
  domain/suggestion_test.go
Labels: tests

feat(suggestions): add concrete refactoring steps to each suggestion
  cmd/pyscn/analyze.go
  domain/suggestion.go
  domain/suggestion_test.go
  service/analyze_formatter.go
Labels: cli, tests

fix(suggestions): address PR review feedback
  domain/suggestion.go
  domain/suggestion_test.go
Labels: tests

docs: update CHANGELOG for v1.12.0
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.12.0 (#350)
  CHANGELOG.md
Labels: documentation

refactor: extract repeated color hex values into CSS custom properties and Go constants
  service/analyze_formatter.go
  service/html_formatter.go
  service/html_template.go
Labels: none

fix: propagate [[architecture.layers]] and [[architecture.rules]] from TOML config
  internal/config/config.go
  internal/config/config_test.go
  internal/config/pyproject_loader.go
  internal/config/pyproject_loader_test.go
  internal/config/pyscn_config.go
Labels: cli, tests

style: fix gofmt alignment in pyscn_config.go
  internal/config/pyscn_config.go
Labels: cli

fix: resolve layer misclassification for ambiguous module paths
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
  service/system_analysis_service_patterns_test.go
Labels: tests

fix: fill missing layers/rules from auto-detection for partial configs
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: tests

fix: address review feedback on partial config and match priority
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
  service/system_analysis_service_patterns_test.go
Labels: tests

fix: merge default rules for rules-only config and clone ArchitectureRules before mutation
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: tests

fix: replace detectLayerFromModule heuristic with findLayerForModule (#354)
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

fix: support underscore-boundary matching in layer detection
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
  service/system_analysis_service_patterns_test.go
Labels: tests

fix: exclude test modules from buildModuleLayerMap and add case-insensitive matching
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

fix: use match position instead of pattern length as tie-breaker in findLayerForModule
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

fix: compute actual match position for suffix regex matches
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

fix: use dot-boundary search instead of LastIndex for suffix match position
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

style: fix formatting in test file
  service/system_analysis_service_test.go
Labels: tests

fix: add missing IsAbstract and Description fields to TOML layer/rule types
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
Labels: cli

test: add architecture layer integration tests for discussion #352
  integration/architecture_integration_test.go
  testdata/python/fastapi_layers/.pyscn.toml
  testdata/python/fastapi_layers/app/__init__.py
  testdata/python/fastapi_layers/app/domain/__init__.py
  testdata/python/fastapi_layers/app/domain/item_model.py
  testdata/python/fastapi_layers/app/domain/services/__init__.py
  testdata/python/fastapi_layers/app/domain/services/user_service.py
  testdata/python/fastapi_layers/app/domain/user_model.py
  testdata/python/fastapi_layers/app/pages/__init__.py
  testdata/python/fastapi_layers/app/pages/user_page.py
  testdata/python/fastapi_layers/app/repositories/__init__.py
  testdata/python/fastapi_layers/app/repositories/item_repo.py
  testdata/python/fastapi_layers/app/repositories/user_repo.py
  testdata/python/fastapi_layers/app/routers/__init__.py
  testdata/python/fastapi_layers/app/routers/item_router.py
  testdata/python/fastapi_layers/app/routers/user_router.py
  testdata/python/fastapi_layers/pyproject.toml
Labels: tests

feat: add neutral_prefixes config for architecture layer detection (#364)
  domain/system_analysis.go
  integration/architecture_integration_test.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  service/system_analysis_service_patterns_test.go
  testdata/python/fastapi_layers/.pyscn.toml
Labels: cli, tests

docs: update CHANGELOG for v1.13.0
  CHANGELOG.md
Labels: documentation

refactor(cli): remove top suggestions from terminal output
  cmd/pyscn/analyze.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: cli, tests

feat(analyzer): add Cognitive Complexity metric (SonarQube-style)
  domain/complexity.go
  internal/analyzer/cognitive_complexity.go
  internal/analyzer/cognitive_complexity_test.go
  internal/analyzer/complexity.go
  service/analyze_formatter.go
  service/complexity_service.go
  service/html_formatter.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: analyzer, tests

fix(analyzer): address cognitive complexity review findings
  internal/analyzer/cognitive_complexity.go
  internal/analyzer/cognitive_complexity_test.go
Labels: analyzer, tests

refactor(analyzer): decouple cognitive complexity from CFG calculation
  internal/analyzer/complexity.go
  service/complexity_service.go
Labels: analyzer

fix(formatter): add cognitive complexity to text output table
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

fix(analyzer): propagate nesting level through BoolOp children
  internal/analyzer/cognitive_complexity.go
  internal/analyzer/cognitive_complexity_test.go
Labels: analyzer, tests

style: fix gofmt alignment in output_formatter.go
  service/output_formatter.go
Labels: none

feat(suggestions): improve display of __main__ top-level code suggestions
  domain/suggestion.go
  domain/suggestion_test.go
Labels: tests

code refactor:updated AnalyzeUseCaseBuilder to depend on AnalyzeOutputFormatter interface instead of the concrete *service.AnalyzeFormatter
  app/analyze_usecase.go
  domain/analyze.go
Labels: none

docs: update CHANGELOG for v1.14.0
  CHANGELOG.md
Labels: documentation

refactor: use system analysis in check
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

feat: add raw code metrics analyzer
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
Labels: analyzer, tests

feat: return raw metrics in complexity output
  domain/complexity.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: tests

feat: format raw code metrics in reports
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests
