Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix: use SemVer compliant version format
  CHANGELOG.md
  python/scripts/create_wheel.sh
Labels: documentation

chore: add Python virtual environments to .gitignore
  .gitignore
Labels: none

chore: add Python virtual environments to .gitignore
  .gitignore
Labels: none

fix: add PYPI_API_TOKEN to publish action for authentication
  .github/workflows/python-release.yml
Labels: ci

fix: add PYPI_API_TOKEN to publish action for authentication
  .github/workflows/python-release.yml
Labels: ci

fix: update repository URLs and fix GitHub Actions PyPI authentication
  .github/workflows/python-release.yml
  python/scripts/create_wheel.sh
Labels: ci

fix: update repository URLs and fix GitHub Actions PyPI authentication
  .github/workflows/python-release.yml
  python/scripts/create_wheel.sh
Labels: ci

fix: enable CGO and add Zig cross-compiler for GoReleaser
  .github/workflows/release.yml
  .goreleaser.yml
Labels: ci

fix: enable CGO and add Zig cross-compiler for GoReleaser
  .github/workflows/release.yml
  .goreleaser.yml
Labels: ci

feat: disable GoReleaser and focus on Python package distribution
  .github/workflows/release.yml
  .goreleaser.yml
  README.md
Labels: documentation, ci

feat: disable GoReleaser and focus on Python package distribution
  .github/workflows/release.yml
  .goreleaser.yml
  README.md
Labels: documentation, ci

docs: improve README structure by moving overview before Quick Start
  README.md
Labels: documentation

docs: improve README structure by moving overview before Quick Start
  README.md
Labels: documentation

feat: implement OS-specific runners for cross-platform wheel builds
  .github/workflows/python-release.yml
  python/scripts/build_platform_wheel.sh
Labels: ci

feat: implement OS-specific runners for cross-platform wheel builds
  .github/workflows/python-release.yml
  python/scripts/build_platform_wheel.sh
Labels: ci

fix: resolve GitHub Actions workflow YAML syntax issues
  .github/workflows/python-release.yml
  python/scripts/build_platform_wheel.sh
Labels: ci

fix: resolve GitHub Actions workflow YAML syntax issues
  .github/workflows/python-release.yml
  python/scripts/build_platform_wheel.sh
Labels: ci

fix: simplify GitHub Actions conditional expressions
  .github/workflows/python-release.yml
Labels: ci

fix: simplify GitHub Actions conditional expressions
  .github/workflows/python-release.yml
Labels: ci

fix: resolve Windows Go path issues in GitHub Actions
  .github/workflows/python-release.yml
Labels: ci

fix: resolve Windows Go path issues in GitHub Actions
  .github/workflows/python-release.yml
Labels: ci

fix: add zip utility to Windows MSYS2 environment
  .github/workflows/python-release.yml
Labels: ci

fix: add zip utility to Windows MSYS2 environment
  .github/workflows/python-release.yml
Labels: ci

fix: resolve Windows Go PATH and environment setup
  .github/workflows/python-release.yml
Labels: ci

fix: resolve Windows Go PATH and environment setup
  .github/workflows/python-release.yml
Labels: ci

fix: install Go directly in MSYS2 for Windows builds
  .github/workflows/python-release.yml
Labels: ci

fix: install Go directly in MSYS2 for Windows builds
  .github/workflows/python-release.yml
Labels: ci

fix: ensure consistent version numbers across all platform builds
  python/scripts/build_platform_wheel.sh
Labels: none

fix: ensure consistent version numbers across all platform builds
  python/scripts/build_platform_wheel.sh
Labels: none

fix: improve version detection robustness in Windows CI environment
  python/scripts/build_platform_wheel.sh
Labels: none

fix: improve version detection robustness in Windows CI environment
  python/scripts/build_platform_wheel.sh
Labels: none

fix: add proper beta release version parsing support
  python/scripts/build_platform_wheel.sh
Labels: none

fix: add proper beta release version parsing support
  python/scripts/build_platform_wheel.sh
Labels: none

fix: ensure consistent version numbers across platforms
  python/scripts/build_platform_wheel.sh
  python/scripts/create_wheel.sh
Labels: none

fix: ensure consistent version numbers across platforms
  python/scripts/build_platform_wheel.sh
  python/scripts/create_wheel.sh
Labels: none

fix: generate proper RECORD file for wheel compatibility
  python/scripts/create_wheel.sh
Labels: none

fix: generate proper RECORD file for wheel compatibility
  python/scripts/create_wheel.sh
Labels: none

fix: fix RECORD file CSV format for wheel specification compliance
  python/scripts/create_wheel.sh
Labels: none

fix: fix RECORD file CSV format for wheel specification compliance
  python/scripts/create_wheel.sh
Labels: none

fix: add RECORD file CSV validation to CI workflow
  .github/workflows/python-release.yml
Labels: ci
