Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

feat: add comprehensive input validation and configuration consolidation
  cmd/pyqol/clone.go
  domain/clone.go
  domain/clone_test.go
  integration/clone_integration_test.go
  internal/analyzer/apted.go
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_validation_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/clone_memory_test.go
  internal/analyzer/recursion_test.go
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/clone_config.go
  internal/config/config.go
  internal/constants/clone_thresholds.go
  internal/constants/clone_thresholds_test.go
  service/clone_config_loader.go
  service/clone_service.go
  service/validation_test.go
Labels: analyzer, cli, tests

feat: add comprehensive input validation and configuration consolidation
  cmd/pyqol/clone.go
  domain/clone.go
  domain/clone_test.go
  integration/clone_integration_test.go
  internal/analyzer/apted.go
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_validation_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/clone_memory_test.go
  internal/analyzer/recursion_test.go
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/clone_config.go
  internal/config/config.go
  internal/constants/clone_thresholds.go
  internal/constants/clone_thresholds_test.go
  service/clone_config_loader.go
  service/clone_service.go
  service/validation_test.go
Labels: analyzer, cli, tests

fix: reduce memory test sizes to prevent CI timeouts
  internal/analyzer/clone_memory_test.go
  internal/config/clone_adapters_test.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, cli, tests

fix: reduce memory test sizes to prevent CI timeouts
  internal/analyzer/clone_memory_test.go
  internal/config/clone_adapters_test.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, cli, tests

fix: resolve CI test and lint failures
  app/clone_usecase.go
  internal/analyzer/clone_detector.go
  internal/config/clone_config.go
  service/clone_service.go
  service/validation_test.go
Labels: analyzer, cli, tests

fix: resolve CI test and lint failures
  app/clone_usecase.go
  internal/analyzer/clone_detector.go
  internal/config/clone_config.go
  service/clone_service.go
  service/validation_test.go
Labels: analyzer, cli, tests

fix: disable Go module cache to resolve CI build failures
  .github/workflows/ci.yml
Labels: ci

fix: disable Go module cache to resolve CI build failures
  .github/workflows/ci.yml
Labels: ci

fix: add 5-minute timeout to prevent test hangs
  .github/workflows/ci.yml
Labels: ci

fix: add 5-minute timeout to prevent test hangs
  .github/workflows/ci.yml
Labels: ci

fix: separate race detection and coverage tests to avoid deadlock
  .github/workflows/ci.yml
Labels: ci

fix: separate race detection and coverage tests to avoid deadlock
  .github/workflows/ci.yml
Labels: ci

fix: remove race detection and re-enable cache for stable CI
  .github/workflows/ci.yml
Labels: ci

fix: remove race detection and re-enable cache for stable CI
  .github/workflows/ci.yml
Labels: ci

fix: remove race detection and coverage from make test target
  Makefile
Labels: none

fix: remove race detection and coverage from make test target
  Makefile
Labels: none

feat: implement CLI commands for comprehensive static analysis
  .pyqol.yaml
  cmd/pyqol/.pyqol.yaml
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/init.go
  cmd/pyqol/main.go
  cmd/pyqol/new_commands_test.go
  cmd/pyqol/version.go
Labels: cli, tests

feat: implement CLI commands for comprehensive static analysis
  .pyqol.yaml
  cmd/pyqol/.pyqol.yaml
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/init.go
  cmd/pyqol/main.go
  cmd/pyqol/new_commands_test.go
  cmd/pyqol/version.go
Labels: cli, tests

feat: enhance error handling in analyze.go and fix critical check.go bug
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
Labels: cli

feat: enhance error handling in analyze.go and fix critical check.go bug
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
Labels: cli

fix: critical bug in check.go - maxComplexity=0 prevented complexity detection
  cmd/pyqol/check.go
Labels: cli

fix: critical bug in check.go - maxComplexity=0 prevented complexity detection
  cmd/pyqol/check.go
Labels: cli

feat: implement automatic .pyqol.yaml configuration loading
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  cmd/pyqol/check.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli

feat: implement automatic .pyqol.yaml configuration loading
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  cmd/pyqol/check.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli

fix: remove overly broad *test*.py exclude pattern
  .pyqol.yaml
  cmd/pyqol/.pyqol.yaml
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/init.go
  domain/clone.go
  domain/dead_code.go
  internal/config/clone_config.go
  internal/config/config.go
  pyqol.yaml.example
  service/clone_config_loader.go
Labels: cli

fix: remove overly broad *test*.py exclude pattern
  .pyqol.yaml
  cmd/pyqol/.pyqol.yaml
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  cmd/pyqol/init.go
  domain/clone.go
  domain/dead_code.go
  internal/config/clone_config.go
  internal/config/config.go
  pyqol.yaml.example
  service/clone_config_loader.go
Labels: cli

fix: resolve check command threshold conflicts
  cmd/pyqol/check.go
Labels: cli

fix: resolve check command threshold conflicts
  cmd/pyqol/check.go
Labels: cli

test: fix tests after removing overly broad exclude pattern
  domain/clone_test.go
  internal/config/config_test.go
Labels: cli, tests

test: fix tests after removing overly broad exclude pattern
  domain/clone_test.go
  internal/config/config_test.go
Labels: cli, tests

fix: resolve linting issues
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  docs/SYSTEM_QUALITY_ANALYSIS.md
  go.mod
  go.sum
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: documentation, cli, dependencies

fix: resolve linting issues
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  docs/SYSTEM_QUALITY_ANALYSIS.md
  go.mod
  go.sum
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: documentation, cli, dependencies

fix: resolve clone analysis hanging on large projects
  cmd/pyqol/clone.go
  domain/clone.go
  internal/analyzer/clone_detector.go
  service/clone_service.go
Labels: analyzer, cli

fix: resolve clone analysis hanging on large projects
  cmd/pyqol/clone.go
  domain/clone.go
  internal/analyzer/clone_detector.go
  service/clone_service.go
Labels: analyzer, cli

refactor: eliminate DRY violation in clone detector early filtering
  internal/analyzer/clone_detector.go
Labels: analyzer

refactor: eliminate DRY violation in clone detector early filtering
  internal/analyzer/clone_detector.go
Labels: analyzer

refactor: remove YAGNI violations and simplify clone analysis
  cmd/pyqol/clone.go
  domain/clone.go
  internal/analyzer/clone_detector.go
  service/clone_service.go
Labels: analyzer, cli

refactor: remove YAGNI violations and simplify clone analysis
  cmd/pyqol/clone.go
  domain/clone.go
  internal/analyzer/clone_detector.go
  service/clone_service.go
Labels: analyzer, cli

fix: resolve golangci-lint SA9003 empty branch issues
  service/clone_service.go
Labels: none

fix: resolve golangci-lint SA9003 empty branch issues
  service/clone_service.go
Labels: none
