Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

fix: deduplicate clone pairs before reporting
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

fix: report only detected clone fragments
  service/clone_service.go
  service/clone_service_content_test.go
Labels: tests

fix(cbo): exclude annotation-only deps under PEP 563 future annotations
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

feat(complexity): report pre-filter function count in summary (#597)
  domain/complexity.go
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/output_formatter.go
Labels: tests

fix: ignore module constants in CBO dependencies
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix(analyzer): exclude same-file top-level peer classes from CBO (#637)
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  service/cbo_service_test.go
Labels: analyzer, tests

fix(config): honor explicit threshold overrides matching defaults
  service/config_loader.go
  service/config_loader_test.go
  service/config_loader_with_flags.go
  service/config_loader_with_flags_test.go
Labels: tests

test(cli): add threshold flag tests for analyze command
  app/analyze_usecase_test.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

feat(cli): add complexity threshold flags to analyze command
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
Labels: cli

refactor(config): unify MergeConfig on zero-value sentinel helpers
  internal/config/merge.go
  internal/config/merge_test.go
  service/cbo_config_loader.go
  service/cbo_config_loader_test.go
  service/community_config_loader.go
  service/community_config_loader_test.go
  service/config_loader.go
  service/config_loader_test.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_test.go
  service/di_antipattern_config_loader.go
  service/di_antipattern_config_loader_test.go
  service/lcom_config_loader.go
  service/lcom_config_loader_test.go
  service/mock_data_config_loader.go
  service/mock_data_config_loader_test.go
  service/system_analysis_config_loader.go
  service/system_analysis_config_loader_test.go
Labels: cli, tests

refactor(config): complete sentinel unification and remove FlagTracker
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/clone_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  cmd/pyscn/analyze.go
  cmd/pyscn/check.go
  cmd/pyscn/config_helper.go
  domain/clone.go
  domain/clone_test.go
  integration/clone_integration_test.go
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/flag_tracker.go
  internal/config/flag_tracker_test.go
  mcp/handlers.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/clone_config_loader.go
  service/clone_config_loader_test.go
  service/clone_config_loader_with_flags.go
  service/clone_formatter.go
  service/clone_formatter_test.go
  service/clone_service.go
  service/clone_service_test.go
  service/config_loader_with_flags.go
  service/config_loader_with_flags_test.go
  service/dead_code_config_loader_with_flags.go
Labels: cli, tests

fix(config): complete sparse-override migration across remaining call sites
  app/analyze_usecase.go
  app/cbo_usecase.go
  app/cbo_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyscn/analyze.go
  mcp/handlers.go
  mcp/handlers_test.go
Labels: cli, tests

docs: update CHANGELOG for v1.26.2
  CHANGELOG.md
Labels: documentation

fix: preserve acronym class constructor coupling
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix(complexity): clarify functions_parsed and propagate coverage
  app/analyze_usecase.go
  domain/analyze.go
  domain/complexity.go
  mcp/handlers.go
  service/analyze_formatter.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

fix(analyzer): harden same-file CBO peer exclusion against name collisions
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.26.3
  CHANGELOG.md
Labels: documentation

fix(analyzer): exclude Cython primitive types from CBO dependent classes (#644)
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix(domain): add dedup and file_path/start_line for architecture suggestions (#647)
  domain/suggestion.go
  domain/suggestion_test.go
Labels: tests

refactor: make request bool overrides sparse
  app/analyze_usecase.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  app/mock_data_usecase.go
  app/system_analysis_config_loader_test.go
  app/system_analysis_usecase.go
  cmd/pyscn/check.go
  domain/cbo.go
  domain/complexity.go
  domain/dead_code.go
  domain/lcom.go
  domain/mock_data.go
  integration/complexity_integration_test.go
  mcp/handlers.go
  service/cbo_config_loader.go
  service/cbo_config_loader_test.go
  service/cbo_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/config_loader.go
  service/config_loader_test.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_test.go
  service/dead_code_service_test.go
  service/lcom_config_loader.go
  service/lcom_config_loader_test.go
  service/mock_data_config_loader.go
  service/mock_data_config_loader_test.go
Labels: cli, tests

fix: preserve complexity JSON contract
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  docs/ARCHITECTURE.md
  domain/analyze.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  service/analyze_formatter_test.go
Labels: documentation, tests

fix(mcp): publish implemented output controls
  mcp/README.md
  mcp/tools.go
  mcp/tools_test.go
Labels: documentation, tests

docs(mcp): correct configuration discovery
  mcp/README.md
Labels: documentation

fix(analyzer): resolve Cython primitives by import provenance
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix(domain): preserve distinct architecture violations
  domain/suggestion.go
  domain/suggestion_test.go
Labels: tests

fix(check): fail on malformed discovered config
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

fix(mcp): honor analyze_code recursive override
  mcp/dependencies.go
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

fix(analyze): propagate recursive override
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  app/analyze_usecase_test.go
  mcp/dependencies.go
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

fix(mcp): require integer output controls
  mcp/tools.go
  mcp/tools_test.go
Labels: tests

fix(analyzer): scope Cython import provenance
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

docs(mcp): clarify invalid config behavior
  mcp/README.md
Labels: documentation

fix(domain): prioritize critical architecture suggestions
  domain/suggestion.go
  domain/suggestion_test.go
Labels: tests

fix(config): detect malformed pyscn pyproject
  cmd/pyscn/new_commands_test.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
Labels: cli, tests

Revert "fix(config): detect malformed pyscn pyproject"
  cmd/pyscn/new_commands_test.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
Labels: cli, tests

docs(mcp): document per-tool config loading
  mcp/README.md
Labels: documentation

test(domain): isolate architecture identity dimensions
  domain/suggestion_test.go
Labels: tests

fix(mcp): propagate analyze recursive override
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  app/analyze_usecase_test.go
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

fix: expose CBO value in class JSON output
  domain/cbo.go
  service/cbo_formatter_test.go
  service/cbo_service.go
  service/cbo_service_test.go
Labels: tests

feat(complexity): add per-function SLOC metric and long-function warnings (#551)
  domain/complexity.go
  domain/defaults.go
  internal/analyzer/complexity.go
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
  service/complexity_service.go
Labels: analyzer, tests

refactor: make request bool overrides sparse
  app/analyze_usecase.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  app/mock_data_usecase.go
  app/system_analysis_config_loader_test.go
  app/system_analysis_usecase.go
  cmd/pyscn/check.go
  domain/cbo.go
  domain/complexity.go
  domain/dead_code.go
  domain/lcom.go
  domain/mock_data.go
  integration/complexity_integration_test.go
  mcp/handlers.go
  service/cbo_config_loader.go
  service/cbo_config_loader_test.go
  service/cbo_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/config_loader.go
  service/config_loader_test.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_test.go
  service/dead_code_service_test.go
  service/lcom_config_loader.go
  service/lcom_config_loader_test.go
  service/mock_data_config_loader.go
  service/mock_data_config_loader_test.go
Labels: cli, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
