Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

feat: add warning messages for file processing errors
  service/clone_service.go
Labels: none

feat: add warning messages for file processing errors
  service/clone_service.go
Labels: none

fix: improve error wrapping for context cancellation
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
Labels: none

fix: improve error wrapping for context cancellation
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
Labels: none

fix: resolve NewFileReader undefined error and eliminate duplicate file collection
  app/clone_usecase.go
  service/clone_service.go
Labels: none

fix: resolve NewFileReader undefined error and eliminate duplicate file collection
  app/clone_usecase.go
  service/clone_service.go
Labels: none

fix: reduce minNodes threshold for better fragment detection
  cmd/pyqol/clone.go
Labels: cli

fix: reduce minNodes threshold for better fragment detection
  cmd/pyqol/clone.go
Labels: cli

test: fix context cancellation test to handle wrapped errors
  integration/complexity_integration_test.go
Labels: tests

test: fix context cancellation test to handle wrapped errors
  integration/complexity_integration_test.go
Labels: tests

fix: address PR53 review issues and improve clone detector reliability
  app/clone_usecase.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_memory_test.go
Labels: analyzer, tests

fix: address PR53 review issues and improve clone detector reliability
  app/clone_usecase.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_memory_test.go
Labels: analyzer, tests

docs: update claude.md
  CLAUDE.md
Labels: documentation

fix: configuration file loading now works with --config flag
  app/clone_usecase.go
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  domain/clone.go
  domain/complexity.go
  domain/dead_code.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli

fix: configuration file loading now works with --config flag
  app/clone_usecase.go
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  domain/clone.go
  domain/complexity.go
  domain/dead_code.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli

refactor: fix architecture violation - remove ExplicitFlags from domain layer
  app/clone_usecase.go
  cmd/pyqol/clone.go
  cmd/pyqol/clone_config_wrapper.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/config_helper.go
  cmd/pyqol/dead_code.go
  domain/clone.go
  domain/complexity.go
  domain/dead_code.go
  service/config_loader.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_with_flags.go
Labels: cli

refactor: fix architecture violation - remove ExplicitFlags from domain layer
  app/clone_usecase.go
  cmd/pyqol/clone.go
  cmd/pyqol/clone_config_wrapper.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/config_helper.go
  cmd/pyqol/dead_code.go
  domain/clone.go
  domain/complexity.go
  domain/dead_code.go
  service/config_loader.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_with_flags.go
Labels: cli

refactor: fix DRY violation - consolidate duplicate merge helper functions
  cmd/pyqol/clone_config_wrapper.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/config_helper.go
  cmd/pyqol/dead_code.go
  internal/config/merge.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader_with_flags.go
Labels: cli

refactor: fix DRY violation - consolidate duplicate merge helper functions
  cmd/pyqol/clone_config_wrapper.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/config_helper.go
  cmd/pyqol/dead_code.go
  internal/config/merge.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader_with_flags.go
Labels: cli

fix: address concurrency concerns with thread-safe FlagTracker
  cmd/pyqol/clone_config_wrapper.go
  cmd/pyqol/complexity_clean.go
  internal/config/flag_tracker.go
  internal/config/flag_tracker_test.go
  internal/config/merge_test.go
  service/clone_config_loader_with_flags.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader_with_flags.go
Labels: cli, tests

fix: address concurrency concerns with thread-safe FlagTracker
  cmd/pyqol/clone_config_wrapper.go
  cmd/pyqol/complexity_clean.go
  internal/config/flag_tracker.go
  internal/config/flag_tracker_test.go
  internal/config/merge_test.go
  service/clone_config_loader_with_flags.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader_with_flags.go
Labels: cli, tests

fix: resolve golangci-lint ineffectual assignment warning
  internal/config/flag_tracker_test.go
Labels: cli, tests

fix: resolve golangci-lint ineffectual assignment warning
  internal/config/flag_tracker_test.go
Labels: cli, tests

feat: add comprehensive E2E tests for deadcode and clone commands
  e2e/clone_e2e_test.go
  e2e/dead_code_e2e_test.go
Labels: tests

feat: add comprehensive E2E tests for deadcode and clone commands
  e2e/clone_e2e_test.go
  e2e/dead_code_e2e_test.go
Labels: tests

feat: add comprehensive App layer unit tests
  app/clone_usecase_test.go
  app/complexity_usecase_test.go
  app/dead_code_usecase_test.go
  go.mod
  go.sum
Labels: tests, dependencies

feat: add comprehensive App layer unit tests
  app/clone_usecase_test.go
  app/complexity_usecase_test.go
  app/dead_code_usecase_test.go
  go.mod
  go.sum
Labels: tests, dependencies

fix: resolve test failures in app layer unit tests
  app/clone_usecase_test.go
  app/complexity_usecase_test.go
  app/dead_code_usecase_test.go
Labels: tests

fix: resolve test failures in app layer unit tests
  app/clone_usecase_test.go
  app/complexity_usecase_test.go
  app/dead_code_usecase_test.go
Labels: tests

refactor: abstract file system operations through FileReader interface
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  domain/complexity.go
  service/file_reader.go
Labels: tests

refactor: abstract file system operations through FileReader interface
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  domain/complexity.go
  service/file_reader.go
Labels: tests

feat: add comprehensive Service layer unit tests
  service/basic_service_test.go
  service/file_reader_test.go
  service/output_formatter_test.go
Labels: tests

feat: add comprehensive Service layer unit tests
  service/basic_service_test.go
  service/file_reader_test.go
  service/output_formatter_test.go
Labels: tests

feat: add comprehensive Service layer unit tests
  service/basic_service_test.go
  service/file_reader_test.go
Labels: tests

feat: add comprehensive Service layer unit tests
  service/basic_service_test.go
  service/file_reader_test.go
Labels: tests

fix: fix APTED algorithm missing td matrix update in else branch
  internal/analyzer/apted.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

fix: fix APTED algorithm missing td matrix update in else branch
  internal/analyzer/apted.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

fix: resolve APTED algorithm bug causing incorrect clone similarity scores
  cmd/pyqol/analyze.go
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  service/html_formatter.go
  service/html_formatter_test.go
  service/progress_reporter.go
Labels: cli, tests

fix: resolve APTED algorithm bug causing incorrect clone similarity scores
  cmd/pyqol/analyze.go
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  service/html_formatter.go
  service/html_formatter_test.go
  service/progress_reporter.go
Labels: cli, tests

fix: improve clone detection service and add HTML output support
  domain/clone.go
  service/clone_formatter.go
  service/clone_service.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
