Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

style: gofmt analyze.go
  cmd/pyscn/analyze.go
Labels: cli

feat(communities): add CLI/config opt-in wiring (#583)
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  domain/analyze.go
  internal/config/communities_config_test.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  service/community_config_loader.go
  service/community_config_loader_test.go
Labels: cli, tests

fix: collapse enum member CBO dependencies
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

feat(service): add community analysis JSON formatter
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  service/analyze_formatter_test.go
  service/community_formatter.go
  service/community_formatter_test.go
  service/testdata/golden/community_analysis.json
  testdata/python/community_bridge/bridge.py
  testdata/python/community_bridge/mod/a.py
  testdata/python/community_bridge/mod/b.py
  testdata/python/community_bridge/mod/c.py
  testdata/python/community_bridge/mod/d.py
  testdata/python/community_bridge/pyproject.toml
  website/docs/output/schemas.md
Labels: documentation, cli, tests

fix(service): address PR review feedback for community JSON formatter
  cmd/pyscn/new_commands_test.go
  service/analyze_formatter.go
  service/community_formatter.go
  service/testdata/golden/community_analysis.json
  website/docs/output/schemas.md
Labels: documentation, cli, tests

feat(communities): add Text/HTML/YAML/CSV/DOT summary output (#585)
  domain/community.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/community_analysis_service.go
  service/community_formatter.go
  service/community_formatter_test.go
Labels: tests

fix(communities): allow DOT format in community use-case validation
  app/community_usecase.go
  app/community_usecase_test.go
Labels: tests

test(communities): add integration suite and documentation (#586)
  integration/community_integration_test.go
  testdata/python/community_cycle/cycle_a.py
  testdata/python/community_cycle/cycle_b.py
  testdata/python/community_cycle/cycle_c.py
  testdata/python/community_cycle/pyproject.toml
  testdata/python/community_isolated/alpha.py
  testdata/python/community_isolated/beta.py
  testdata/python/community_isolated/gamma.py
  testdata/python/community_isolated/pyproject.toml
  testdata/python/community_minimal/pyproject.toml
  testdata/python/community_minimal/solo.py
  testdata/python/community_separated/billing/invoice.py
  testdata/python/community_separated/billing/tax.py
  testdata/python/community_separated/inventory/stock.py
  testdata/python/community_separated/inventory/warehouse.py
  testdata/python/community_separated/pyproject.toml
  website/docs/cli/analyze.md
  website/docs/configuration/examples.md
  website/docs/configuration/reference.md
  website/docs/guides/module-community-detection.md
  website/docs/output/schemas.md
  website/mkdocs.yml
Labels: documentation, tests

docs(communities): cross-link guide and add service edge-case tests
  service/community_analysis_service_test.go
  website/docs/getting-started/quick-start.md
  website/docs/index.md
  website/docs/output/index.md
  website/docs/rules/index.md
Labels: documentation, tests

docs: clarify architecture defaults
  internal/config/config.go
  internal/config/pyscn_config.go
Labels: cli

docs: expand architecture comments per review feedback
  internal/config/config.go
  internal/config/pyscn_config.go
Labels: cli

feat(communities): add package mismatch scoring
  domain/community.go
  integration/community_integration_test.go
  internal/analyzer/community_metrics.go
  internal/analyzer/community_package_mismatch_test.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/community_formatter.go
  service/community_formatter_test.go
  service/testdata/golden/community_analysis.json
  testdata/python/community_package_mismatch/pkg_alpha/one.py
  testdata/python/community_package_mismatch/pkg_alpha/two.py
  testdata/python/community_package_mismatch/pkg_beta/one.py
  testdata/python/community_package_mismatch/pkg_beta/two.py
  testdata/python/community_package_mismatch/pyproject.toml
  website/docs/guides/module-community-detection.md
  website/docs/output/schemas.md
Labels: documentation, analyzer, tests

fix(communities): show per-community package metrics in HTML
  service/community_formatter.go
  service/community_formatter_test.go
Labels: tests

feat(communities): add layer mismatch scoring
  domain/community.go
  integration/community_integration_test.go
  internal/analyzer/community_layer_mismatch_test.go
  internal/analyzer/community_metrics.go
  internal/analyzer/community_metrics_test.go
  internal/analyzer/community_package_mismatch_test.go
  service/architecture_config.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/community_config_loader.go
  service/community_formatter.go
  service/community_formatter_test.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
  testdata/python/community_layer_aligned/billing/invoice.py
  testdata/python/community_layer_aligned/billing/tax.py
  testdata/python/community_layer_aligned/inventory/stock.py
  testdata/python/community_layer_aligned/inventory/warehouse.py
  testdata/python/community_layer_aligned/pyproject.toml
  testdata/python/community_layer_bridge/api/a.py
  testdata/python/community_layer_bridge/api/b.py
  testdata/python/community_layer_bridge/bridge.py
  testdata/python/community_layer_bridge/infra/c.py
  testdata/python/community_layer_bridge/infra/d.py
  testdata/python/community_layer_bridge/pyproject.toml
  testdata/python/community_layer_mixed/api/one.py
  testdata/python/community_layer_mixed/api/two.py
  testdata/python/community_layer_mixed/infra/one.py
  testdata/python/community_layer_mixed/infra/two.py
  testdata/python/community_layer_mixed/pyproject.toml
  website/docs/guides/module-community-detection.md
  website/docs/output/schemas.md
Labels: documentation, analyzer, tests

test(communities): track layer mismatch fixture architecture config
  testdata/python/community_layer_aligned/.pyscn.toml
  testdata/python/community_layer_bridge/.pyscn.toml
  testdata/python/community_layer_mixed/.pyscn.toml
Labels: tests

fix(communities): preserve zero layer_alignment in JSON output
  domain/community.go
  domain/dead_code.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/community_formatter.go
  service/community_formatter_test.go
Labels: tests

feat(communities): add community risk score and Health Score integration
  app/analyze_usecase.go
  docs/ANALYZE_SCORING.md
  domain/analyze.go
  domain/analyze_test.go
  domain/community.go
  mcp/handlers.go
  service/analyze_formatter.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/community_formatter.go
  service/testdata/golden/community_analysis.json
Labels: documentation, tests

fix(communities): decouple risk scoring from bridge report output
  app/analyze_usecase.go
  domain/community.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
Labels: tests

feat(communities): interactive macro-architecture graph in HTML report
  service/community_formatter.go
  service/community_graph_assets.go
  service/community_graph_html.go
  service/community_graph_html_test.go
  website/docs/guides/module-community-detection.md
Labels: documentation, tests

feat(communities): AI-agent context map + MCP docs
  .claude-plugin/pyscn-mcp/skills/SKILL.md
  domain/community.go
  domain/community_context_map_test.go
  mcp/README.md
  mcp/handlers_test.go
  mcp/tools.go
  service/testdata/golden/community_analysis.json
  website/docs/output/schemas.md
Labels: documentation, tests

feat(communities): graduate default analyze
  CHANGELOG.md
  Makefile
  app/analyze_selection.go
  app/analyze_selection_test.go
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  docs/ANALYZE_SCORING.md
  docs/COMMUNITY_DETECTION_GRADUATION.md
  docs/README.md
  domain/analyze.go
  internal/config/pyscn_config.go
  mcp/README.md
  mcp/handlers.go
  mcp/handlers_test.go
  mcp/tools.go
  mcp/wiring_test.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  website/docs/cli/analyze.md
  website/docs/configuration/reference.md
  website/docs/getting-started/quick-start.md
  website/docs/guides/module-community-detection.md
  website/docs/index.md
  website/docs/rules/index.md
Labels: documentation, cli, tests

fix(communities): resolve src layout imports
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  internal/analyzer/reexport_resolver.go
  service/community_analysis_service_test.go
Labels: analyzer, tests

fix: drop clone groups without backing pairs
  internal/analyzer/clone_detector.go
  internal/analyzer/group_dedup.go
  internal/analyzer/group_dedup_test.go
Labels: analyzer, tests

docs: add multilingual README translations
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs: add trailing newlines to translated README files
  README.fr.md
  README.ja.md
  README.zh-CN.md
Labels: documentation

docs: update CHANGELOG for v1.25.0
  CHANGELOG.md
Labels: documentation

feat(claude-plugin): split single skill into focused agent skills
  .claude-plugin/pyscn-mcp/skills/SKILL.md
  .claude-plugin/pyscn-mcp/skills/architecture-review/SKILL.md
  .claude-plugin/pyscn-mcp/skills/cli-analysis/SKILL.md
  .claude-plugin/pyscn-mcp/skills/health-check/SKILL.md
  .claude-plugin/pyscn-mcp/skills/refactoring/SKILL.md
  CHANGELOG.md
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
  mcp/README.md
  website/docs/fr/integrations/mcp.md
  website/docs/integrations/mcp.md
  website/docs/ja/integrations/mcp.md
  website/docs/zh/integrations/mcp.md
Labels: documentation

docs: recommend Agent Skills install via add-skills, make skills CLI-first
  .claude-plugin/pyscn-mcp/skills/architecture-review/SKILL.md
  .claude-plugin/pyscn-mcp/skills/cli-analysis/SKILL.md
  .claude-plugin/pyscn-mcp/skills/health-check/SKILL.md
  .claude-plugin/pyscn-mcp/skills/refactoring/SKILL.md
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs: update CHANGELOG for v1.26.0
  CHANGELOG.md
Labels: documentation

Update copyright year in LICENSE file
  LICENSE
Labels: none

docs(readme): refresh Features section with five analysis angles
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs(readme): clarify DI anti-pattern detection is opt-in
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

feat(service): fix test-file exclude patterns not matching nested paths (#532)
  domain/defaults.go
  internal/config/config_test.go
  service/file_reader.go
  service/file_reader_test.go
Labels: cli, tests

fix(service): address PR review feedback for nested test exclude patterns
  domain/defaults.go
  internal/config/config_test.go
  service/file_reader.go
  service/file_reader_test.go
Labels: cli, tests

docs: update CHANGELOG for v1.26.1
  CHANGELOG.md
Labels: documentation

feat(analyzer): exclude abstract methods from LCOM4 grouping (#559)
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(analyzer): handle dotted abstractmethod decorators
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(app): apply exclude patterns when all paths are pre-resolved files (#590)
  app/file_resolution_helper.go
  app/file_resolution_helper_test.go
Labels: tests

test(analyzer): pin LCOM4 InstanceVariables regression for issue #627
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(app): align pre-resolved exclude matching
  app/file_resolution_helper.go
  app/file_resolution_helper_test.go
Labels: tests
