Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

docs: define executable complexity scopes
  README.md
  docs/algorithms/complexity.md
Labels: documentation

refactor: clarify scope metric ownership
  internal/analyzer/cognitive_complexity.go
  internal/analyzer/complexity.go
  internal/analyzer/file_analyzer.go
  internal/analyzer/nesting_depth.go
  service/complexity_service.go
Labels: analyzer

docs: clarify nested scope binding
  internal/analyzer/cfg_builder.go
Labels: analyzer

fix: preserve function summary contracts
  domain/complexity.go
  domain/complexity_test.go
  domain/module_quality.go
  domain/module_quality_test.go
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: analyzer, tests

feat: separate class complexity contracts
  app/analyze_usecase.go
  domain/analyze.go
  domain/analyze_test.go
  domain/complexity.go
  domain/complexity_test.go
  domain/suggestion.go
  domain/suggestion_test.go
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: tests

fix: retain execution scope boundaries
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/file_analyzer.go
Labels: analyzer, tests

feat: publish class scope outputs
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/directory_complexity_formatter.go
  service/format_utils.go
  service/html_formatter.go
  service/html_formatter_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

fix: gate all executable scopes
  cmd/pyscn/check.go
  cmd/pyscn/check_complexity_test.go
  mcp/handlers.go
  mcp/handlers_test.go
  mcp/tools.go
Labels: cli, tests

docs: define class scope contracts
  docs/ANALYZE_SCORING.md
  docs/algorithms/complexity.md
  mcp/README.md
  website/docs/cli/analyze.md
  website/docs/cli/check.md
  website/docs/configuration/reference.md
  website/docs/index.md
  website/docs/output/html-report.md
  website/docs/output/schemas.md
  website/docs/rules/high-cyclomatic-complexity.md
Labels: documentation

fix: preserve MCP function averages
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

fix: complete class scope reporting
  cmd/pyscn/check.go
  domain/analyze.go
  domain/analyze_test.go
  internal/analyzer/cfg.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/file_analyzer.go
  internal/analyzer/file_analyzer_test.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
  mcp/handlers.go
  mcp/handlers_test.go
  service/complexity_service.go
Labels: analyzer, cli, tests

fix: name empty scope errors accurately
  internal/analyzer/file_analyzer.go
  service/complexity_service.go
Labels: analyzer

fix: make class ranking ties deterministic
  service/cbo_service.go
  service/cbo_service_test.go
  service/lcom_service.go
  service/lcom_service_test.go
Labels: tests

fix: preserve scope risk levels in text output
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

Define explicit execution scope contracts
  domain/complexity.go
  domain/complexity_test.go
  domain/dead_code.go
Labels: tests

Preserve health score semantics for class metrics
  domain/analyze.go
  domain/analyze_test.go
  domain/complexity.go
Labels: tests

test: allow sub-millisecond clone runs
  service/clone_service_test.go
Labels: tests

fix: preserve class flow in semantic clones
  internal/analyzer/semantic_min_size_test.go
  internal/analyzer/semantic_similarity.go
Labels: analyzer, tests

Use complete populations for MCP complexity gates
  domain/complexity.go
  mcp/handlers.go
  mcp/handlers_test.go
  service/complexity_service.go
Labels: tests

fix: gate the complete complexity population
  cmd/pyscn/check.go
  cmd/pyscn/check_complexity_test.go
Labels: cli, tests

Document execution scope contracts
  docs/ANALYZE_SCORING.md
  docs/MCP_INTEGRATION.md
  docs/algorithms/complexity.md
  mcp/README.md
  website/docs/output/schemas.md
Labels: documentation

refactor: build semantic fragments explicitly
  internal/analyzer/cfg_builder.go
  internal/analyzer/semantic_similarity.go
Labels: analyzer

refactor: require typed output scope kinds
  service/output_formatter.go
Labels: none

fix: analyze dead code in class scopes
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
  service/dead_code_service.go
  service/dead_code_service_test.go
Labels: analyzer, tests

fix: label dead code by execution scope
  service/dead_code_formatter.go
  service/dead_code_formatter_test.go
Labels: tests

Share execution scope labels with dead code
  domain/dead_code.go
  domain/dead_code_test.go
Labels: tests

Reject incomplete complexity scope ownership
  domain/analyze_test.go
  domain/complexity.go
  domain/complexity_test.go
  domain/module_quality.go
  domain/module_quality_test.go
  domain/suggestion.go
  domain/suggestion_test.go
  service/analyze_formatter.go
  service/complexity_service.go
  service/html_formatter.go
Labels: tests

refactor: assign dead code scope at detection
  internal/analyzer/dead_code.go
Labels: analyzer

test: allow sub-millisecond clone runs
  service/clone_service_test.go
Labels: tests

Separate dead code class scope contracts
  domain/dead_code.go
  domain/dead_code_test.go
  domain/module_quality.go
  domain/module_quality_test.go
Labels: tests

Require scope ownership in complexity reports
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, tests

fix: retain partial analysis causes
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analysis_coverage.go
  service/analysis_issues.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/lcom_service.go
  service/system_analysis_service.go
Labels: tests

fix: respect project path boundaries
  service/project_root.go
  service/project_root_test.go
Labels: tests

Preserve dead code function counters
  service/dead_code_service.go
  service/dead_code_service_test.go
Labels: tests

Label dead code execution scopes
  domain/suggestion.go
  domain/suggestion_test.go
  mcp/handlers.go
  mcp/handlers_test.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/dead_code_formatter.go
  service/dead_code_formatter_test.go
Labels: tests

Document dead code class scopes
  docs/MCP_INTEGRATION.md
  mcp/README.md
  website/docs/output/schemas.md
Labels: documentation

migrate: adopt core dependency chain finder
  go.mod
  go.sum
  internal/analyzer/dependency_chains.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_test.go
  website/docs/output/schemas.md
Labels: documentation, analyzer, tests, dependencies

fix: gate all analyzed functions
  cmd/pyscn/check.go
  cmd/pyscn/check_complexity_test.go
Labels: cli, tests

chore: translate Japanese code comments to English
  internal/analyzer/clone_detector.go
  internal/analyzer/grouping_mode.go
Labels: analyzer

migrate: adopt core parse-error penalty
  domain/analyze.go
  go.mod
  go.sum
Labels: dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
