Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

feat: Update README
  README.md
Labels: documentation

feat: Update README
  README.md
Labels: documentation

feat: Update Documents
  README.md
Labels: documentation

feat: Update Documents
  CLAUDE.md
  README.md
Labels: documentation

feat: implement clean architecture for complexity analysis
  app/complexity_usecase.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/complexity_test.go
  cmd/pyqol/main.go
  cmd/pyqol/simple_test.go
  domain/complexity.go
  domain/complexity_test.go
  domain/errors.go
  go.mod
  go.sum
  integration/complexity_integration_test.go
  internal/analyzer/file_analyzer.go
  service/complexity_service.go
  service/config_loader.go
  service/file_reader.go
  service/output_formatter.go
  service/progress_reporter.go
Labels: analyzer, cli, tests, dependencies

feat: implement clean architecture for complexity analysis
  app/complexity_usecase.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/complexity_test.go
  cmd/pyqol/main.go
  cmd/pyqol/simple_test.go
  domain/complexity.go
  domain/complexity_test.go
  domain/errors.go
  go.mod
  go.sum
  integration/complexity_integration_test.go
  internal/analyzer/file_analyzer.go
  service/complexity_service.go
  service/config_loader.go
  service/file_reader.go
  service/output_formatter.go
  service/progress_reporter.go
Labels: analyzer, cli, tests, dependencies

fix: resolve CI build errors in complexity_test.go
  cmd/pyqol/complexity_test.go
Labels: cli, tests

fix: resolve CI build errors in complexity_test.go
  cmd/pyqol/complexity_test.go
Labels: cli, tests

chore: remove unused simple_test.go file
  cmd/pyqol/simple_test.go
Labels: cli, tests

chore: remove unused simple_test.go file
  cmd/pyqol/simple_test.go
Labels: cli, tests

feat: add comprehensive E2E tests for complexity command
  e2e/complexity_e2e_test.go
Labels: tests

feat: add comprehensive E2E tests for complexity command
  e2e/complexity_e2e_test.go
Labels: tests

docs: update ARCHITECTURE.md for clean architecture implementation
  docs/ARCHITECTURE.md
Labels: documentation

docs: update ARCHITECTURE.md for clean architecture implementation
  docs/ARCHITECTURE.md
Labels: documentation

docs: comprehensive README.md update for clean architecture release
  README.md
Labels: documentation

docs: comprehensive README.md update for clean architecture release
  README.md
Labels: documentation

perf: optimize sorting algorithms and enhance error handling
  app/complexity_usecase.go
  service/complexity_service.go
  service/complexity_service_bench_test.go
Labels: tests

perf: optimize sorting algorithms and enhance error handling
  app/complexity_usecase.go
  service/complexity_service.go
  service/complexity_service_bench_test.go
Labels: tests

fix: resolve lint issue with deprecated rand.Seed
  service/complexity_service_bench_test.go
Labels: tests

fix: resolve lint issue with deprecated rand.Seed
  service/complexity_service_bench_test.go
Labels: tests

feat: implement core dead code detection analyzer
  internal/analyzer/dead_code.go
Labels: analyzer

feat: implement core dead code detection analyzer
  internal/analyzer/dead_code.go
Labels: analyzer

feat: add dead code detection domain models and interfaces
  domain/dead_code.go
Labels: none

feat: add dead code detection domain models and interfaces
  domain/dead_code.go
Labels: none

feat: implement dead code service layer with analysis orchestration
  service/dead_code_service.go
Labels: none

feat: implement dead code service layer with analysis orchestration
  service/dead_code_service.go
Labels: none

feat: add dead code use case with workflow orchestration
  app/dead_code_usecase.go
Labels: none

feat: add dead code use case with workflow orchestration
  app/dead_code_usecase.go
Labels: none

feat: extend configuration system for dead code detection
  internal/config/config.go
Labels: cli

feat: extend configuration system for dead code detection
  internal/config/config.go
Labels: cli

feat: add deadcode CLI command with comprehensive options
  cmd/pyqol/dead_code.go
  cmd/pyqol/main.go
Labels: cli

feat: add deadcode CLI command with comprehensive options
  cmd/pyqol/dead_code.go
  cmd/pyqol/main.go
Labels: cli

fix: resolve compilation errors and implement missing services
  app/dead_code_usecase.go
  cmd/pyqol/dead_code.go
  internal/analyzer/dead_code.go
  service/dead_code_config_loader.go
  service/dead_code_formatter.go
  service/dead_code_service.go
Labels: analyzer, cli

fix: resolve compilation errors and implement missing services
  app/dead_code_usecase.go
  cmd/pyqol/dead_code.go
  internal/analyzer/dead_code.go
  service/dead_code_config_loader.go
  service/dead_code_formatter.go
  service/dead_code_service.go
Labels: analyzer, cli

fix: resolve deadcode command registration issue
  cmd/pyqol/dead_code.go
  cmd/pyqol/main.go
Labels: cli

fix: resolve deadcode command registration issue
  cmd/pyqol/dead_code.go
  cmd/pyqol/main.go
Labels: cli

perf: optimize dead code detection algorithm and fix critical issues
  internal/analyzer/dead_code.go
Labels: analyzer

perf: optimize dead code detection algorithm and fix critical issues
  internal/analyzer/dead_code.go
Labels: analyzer

feat: complete clone detection implementation with APTED algorithm
  app/clone_usecase.go
  cmd/pyqol/clone.go
  cmd/pyqol/main.go
  domain/clone.go
  domain/clone_test.go
  domain/complexity.go
  domain/errors.go
  integration/clone_integration_test.go
  internal/analyzer/apted.go
  internal/analyzer/apted_cost.go
  internal/analyzer/apted_test.go
  internal/analyzer/apted_tree.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/dead_code_test.go
  internal/analyzer/file_analyzer.go
  internal/analyzer/reachability.go
  internal/config/config.go
  internal/reporter/complexity_reporter.go
  service/clone_config_loader.go
  service/clone_formatter.go
  service/clone_service.go
Labels: analyzer, cli, tests

feat: complete clone detection implementation with APTED algorithm
  app/clone_usecase.go
  cmd/pyqol/clone.go
  cmd/pyqol/main.go
  domain/clone.go
  domain/clone_test.go
  domain/complexity.go
  domain/errors.go
  integration/clone_integration_test.go
  internal/analyzer/apted.go
  internal/analyzer/apted_cost.go
  internal/analyzer/apted_test.go
  internal/analyzer/apted_tree.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/dead_code_test.go
  internal/analyzer/file_analyzer.go
  internal/analyzer/reachability.go
  internal/config/config.go
  internal/reporter/complexity_reporter.go
  service/clone_config_loader.go
  service/clone_formatter.go
  service/clone_service.go
Labels: analyzer, cli, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
