Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

refactor: remove unused IncludeThirdParty field from CBOOptions
  domain/cbo.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  service/cbo_service.go
Labels: analyzer, tests

refactor: improve code quality and reduce complexity in CBOUseCase
  app/cbo_usecase.go
Labels: none

refactor: improve code quality and reduce complexity in CBOUseCase
  app/cbo_usecase.go
Labels: none

fix: eliminate duplicate error messages in CLI
  cmd/pyqol/main.go
Labels: cli

fix: eliminate duplicate error messages in CLI
  cmd/pyqol/main.go
Labels: cli

refactor: remove meaningless progress bars from file parsing phase
  app/cbo_usecase.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/progress_reporter.go
Labels: cli, tests

refactor: remove meaningless progress bars from file parsing phase
  app/cbo_usecase.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/progress_reporter.go
Labels: cli, tests

refactor: remove deprecated createCloneUseCaseWithFileCount method
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
Labels: cli

refactor: remove deprecated createCloneUseCaseWithFileCount method
  cmd/pyqol/analyze.go
  cmd/pyqol/check.go
  cmd/pyqol/clone.go
Labels: cli

fix: remove unused import in check.go
  cmd/pyqol/check.go
Labels: cli

fix: remove unused import in check.go
  cmd/pyqol/check.go
Labels: cli

fix: improve Windows compatibility for progress bar display
  service/progress_reporter.go
Labels: none

fix: improve Windows compatibility for progress bar display
  service/progress_reporter.go
Labels: none

refactor: completely remove ProgressReporter infrastructure
  app/cbo_usecase.go
  app/clone_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyqol/analyze.go
  cmd/pyqol/cbo.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  domain/complexity.go
  integration/clone_integration_test.go
  integration/complexity_integration_test.go
  service/basic_service_test.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/progress_reporter.go
  service/validation_test.go
Labels: cli, tests

refactor: completely remove ProgressReporter infrastructure
  app/cbo_usecase.go
  app/clone_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyqol/analyze.go
  cmd/pyqol/cbo.go
  cmd/pyqol/clone.go
  cmd/pyqol/complexity_clean.go
  cmd/pyqol/dead_code.go
  domain/complexity.go
  integration/clone_integration_test.go
  integration/complexity_integration_test.go
  service/basic_service_test.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/progress_reporter.go
  service/validation_test.go
Labels: cli, tests

chore: add internal docs to gitignore
  .gitignore
Labels: none

docs: sanitize README for public release
  README.md
Labels: documentation

feat: add pip installation support with shell-based wheel creation
  .github/workflows/python-release.yml
  Makefile
  python/pyproject.toml
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
  python/src/pyqol/__init__.py
  python/src/pyqol/__main__.py
  python/src/pyqol/main.py
Labels: ci

fix: normalize architecture names between shell scripts and Python wrapper
  python/scripts/create_wheel.sh
Labels: none

fix: complete architecture naming consistency and metadata issues
  python/pyproject.toml
  python/scripts/create_wheel.sh
Labels: none

fix: update author info to use real GitHub noreply email
  python/pyproject.toml
Labels: none

refactor: adopt ruff-style project structure and improve messaging
  .github/workflows/python-release.yml
  Makefile
  README.md
  pyproject.toml
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
Labels: documentation, ci

fix: sync wheel metadata with pyproject.toml
  python/scripts/create_wheel.sh
Labels: none

feat: implement automatic version detection from git tags
  pyproject.toml
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
Labels: none

feat: implement automatic version detection from git tags
  pyproject.toml
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
Labels: none

fix: correct ldflags for Python wheel binary version injection
  Makefile
Labels: none

fix: correct ldflags for Python wheel binary version injection
  Makefile
Labels: none

fix: implement PEP 440 compliant version normalization and dynamic version detection
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
  python/src/pyqol/__init__.py
Labels: none

fix: implement PEP 440 compliant version normalization and dynamic version detection
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
  python/src/pyqol/__init__.py
Labels: none

docs: update README with Quick Start, CBO config, performance note, CI setup-go v5, and pip-first install
  README.md
Labels: documentation

docs: update README with Quick Start, CBO config, performance note, CI setup-go v5, and pip-first install
  README.md
Labels: documentation

docs: fix README inaccuracies in command examples and output formats
  README.md
Labels: documentation

docs: fix README inaccuracies in command examples and output formats
  README.md
Labels: documentation

chore: add CHANGELOG for v0.1.0b1 release
  CHANGELOG.md
Labels: documentation

chore: add CHANGELOG for v0.1.0b1 release
  CHANGELOG.md
Labels: documentation

fix: support beta version tags in wheel build script
  python/scripts/create_wheel.sh
Labels: none

fix: support beta version tags in wheel build script
  python/scripts/create_wheel.sh
Labels: none

fix: update GitHub Actions artifact actions to v4
  .github/workflows/python-release.yml
Labels: ci

fix: update GitHub Actions artifact actions to v4
  .github/workflows/python-release.yml
Labels: ci

fix: use SemVer compliant version format
  CHANGELOG.md
  python/scripts/create_wheel.sh
Labels: documentation

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
