Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

chore: reduce README demo screenshot to 256-color PNG (458KB -> 164KB)
  assets/demo-report.png
Labels: none

docs: move the GitHub App CTA above the fold
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs: reframe Polyscan CTA around weekly tracking, fix free-tier wording
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs: use the report screenshot in translated READMEs too
  README.fr.md
  README.ja.md
  README.zh-CN.md
Labels: documentation

fix(deps): stop an ancestor .pyscn.toml from relocating the project root
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  service/project_root.go
  service/project_root_test.go
Labels: analyzer, tests

fix(deps): ignore project markers found inside a package
  service/project_root.go
  service/project_root_test.go
Labels: tests

docs: serve documentation at docs.codescan.dev/pyscn/
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
  docs/README.md
  website/docs/CNAME
  website/docs/googlea7df632a98273149.html
  website/mkdocs.yml
Labels: documentation

fix(analyze): rework community_score so it measures structure, not sparsity
  app/analyze_usecase.go
  docs/ANALYZE_SCORING.md
  domain/analyze.go
  domain/analyze_test.go
  domain/community.go
  integration/community_integration_test.go
  internal/analyzer/community_layer_mismatch_test.go
  internal/analyzer/community_metrics.go
  internal/analyzer/community_package_mismatch_test.go
  mcp/handlers.go
  service/analyze_formatter.go
  service/analyze_html.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/community_formatter_test.go
  service/testdata/golden/community_analysis.json
Labels: documentation, analyzer, tests

fix(analyze): hide the Communities score pill when the category is unscored
  service/analyze_html_test.go
  service/templates/analyze/report.html
Labels: tests

fix(cbo,lcom): score against the full class population, not the displayed subset
  domain/cbo.go
  domain/lcom.go
  service/cbo_service.go
  service/cbo_service_test.go
  service/lcom_service.go
  service/lcom_service_test.go
  testdata/python/cbo_presentation_filters/deps.py
  testdata/python/cbo_presentation_filters/hub.py
Labels: tests

fix(clone): score duplication against the full clone population, not the displayed subset
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/clone.go
  service/basic_service_test.go
  service/clone_service.go
  service/clone_service_test.go
  testdata/python/clone_presentation_filters/dup.py
  website/docs/configuration/reference.md
  website/docs/fr/configuration/reference.md
  website/docs/fr/output/schemas.md
  website/docs/ja/configuration/reference.md
  website/docs/ja/output/schemas.md
  website/docs/output/schemas.md
  website/docs/zh/configuration/reference.md
  website/docs/zh/output/schemas.md
Labels: documentation, tests

fix(analyzer): weight Type-4 semantic operation overlap (#792)
  internal/analyzer/semantic_overlap_test.go
  internal/analyzer/semantic_similarity.go
Labels: analyzer, tests

fix(clone): default to complete_linkage grouping and validate config keys
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  domain/clone.go
  domain/clone_test.go
  domain/defaults.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/grouping_mode.go
  internal/config/default_config.go
  internal/config/default_config.toml.tmpl
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/config/unknown_keys.go
  internal/config/unknown_keys_test.go
  pyproject.toml
  service/clone_config_loader_test.go
  service/clone_service.go
  website/docs/cli/analyze.md
  website/docs/configuration/reference.md
  website/docs/fr/cli/analyze.md
  website/docs/fr/configuration/reference.md
  website/docs/ja/cli/analyze.md
  website/docs/ja/configuration/reference.md
  website/docs/zh/cli/analyze.md
  website/docs/zh/configuration/reference.md
Labels: documentation, analyzer, cli, tests

fix(clone): keep k-core exclusions, index group membership linearly
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

fix(clone): re-split groups after member suppression
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

fix(clone): align group members with filtered pairs (#800)
  service/clone_group_filter.go
  service/clone_group_filter_test.go
  service/clone_service.go
  service/clone_service_test.go
Labels: tests

fix(clone): refresh filtered group metadata from retained pairs
  service/clone_group_filter.go
  service/clone_group_filter_test.go
  service/clone_service.go
Labels: tests

feat(clone): report identical short method bodies (#794)
  domain/clone.go
  domain/clone_test.go
  internal/analyzer/apted_tree.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/type4_detector_test.go
  service/clone_service.go
  service/clone_service_test.go
  website/docs/configuration/reference.md
Labels: documentation, analyzer, tests

fix(clone): vindicate held fragments against every identical twin
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  website/docs/configuration/reference.md
Labels: documentation, analyzer, tests

fix(deadcode): summarize over the full analyzed population (#791)
  domain/dead_code.go
  service/basic_service_test.go
  service/dead_code_service.go
  service/dead_code_service_test.go
  testdata/python/deadcode_summary_population/clean1.py
  testdata/python/deadcode_summary_population/clean2.py
  testdata/python/deadcode_summary_population/dirty.py
Labels: tests

docs: update CHANGELOG for 1.32.1
  CHANGELOG.md
Labels: documentation

fix(analyzer): penalize asymmetric call evidence (#792)
  internal/analyzer/semantic_overlap_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/type4_detector_test.go
  internal/analyzer/type4_similarity_test.go
Labels: analyzer, tests

docs: add Polyscan App badge to README
  README.md
Labels: documentation

fix(deadcode): include try header in unreachable try range (#808)
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

feat(clone): measure min_lines in SLOC and lower the default to 8 (#803)
  domain/defaults.go
  integration/clone_integration_test.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_bench_test.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
  mcp/tools.go
  website/docs/configuration/reference.md
  website/docs/fr/configuration/reference.md
  website/docs/fr/rules/duplicate-code-identical.md
  website/docs/fr/rules/duplicate-code-modified.md
  website/docs/fr/rules/duplicate-code-renamed.md
  website/docs/fr/rules/duplicate-code-semantic.md
  website/docs/ja/configuration/reference.md
  website/docs/ja/rules/duplicate-code-identical.md
  website/docs/ja/rules/duplicate-code-modified.md
  website/docs/ja/rules/duplicate-code-renamed.md
  website/docs/ja/rules/duplicate-code-semantic.md
  website/docs/rules/duplicate-code-identical.md
  website/docs/rules/duplicate-code-modified.md
  website/docs/rules/duplicate-code-renamed.md
  website/docs/rules/duplicate-code-semantic.md
  website/docs/zh/configuration/reference.md
  website/docs/zh/rules/duplicate-code-identical.md
  website/docs/zh/rules/duplicate-code-modified.md
  website/docs/zh/rules/duplicate-code-renamed.md
  website/docs/zh/rules/duplicate-code-semantic.md
Labels: documentation, analyzer, tests

fix(raw-metrics): end a multi-line def header only at a colon outside brackets
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
Labels: analyzer, tests

feat(analysis): exclude examples, docs, demo and samples dirs by default (#809)
  domain/defaults.go
  internal/config/config_test.go
  service/file_reader_test.go
Labels: cli, tests

fix(analysis): match file patterns relative to the project root
  app/file_resolution_helper.go
  app/file_resolution_helper_test.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/path_pattern.go
  service/clone_service.go
  service/di_antipattern_service.go
  service/file_reader.go
  service/file_reader_test.go
  service/mock_data_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: analyzer, tests

fix(lcom): stop counting method references as instance variables (#678)
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(deadcode): derive unreachable reason from the CFG, not line proximity (#471)
  docs/algorithms/dead-code.md
  internal/analyzer/cfg_builder.go
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: documentation, analyzer, tests

feat(clone): report single-statement fragments only as identical clones (#814)
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  service/clone_service_test.go
  website/docs/configuration/reference.md
Labels: documentation, analyzer, tests

fix(clone): drop Type-4 pairs shadowed by much stronger syntactic matches (#815)
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  website/docs/configuration/reference.md
Labels: documentation, analyzer, tests

fix(clone): don't pair flat if/elif dispatch chains as Type-4 (#822)
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  website/docs/configuration/reference.md
Labels: documentation, analyzer, tests

test(lcom): cover ordered mapping regression
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): connect list conversion to length
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): respect shadowed protocol builtins
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): avoid speculative protocol edges
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): connect iteration protocol methods
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

refactor(lcom): resolve calls after method collection
  internal/analyzer/lcom.go
Labels: analyzer

fix(lcom): keep comprehension bindings scoped
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
