Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

feat: expose text analysis reports
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

fix: preserve empty directory contract
  app/directory_complexity.go
  app/directory_complexity_test.go
  domain/complexity.go
  service/analyze_formatter_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

docs: document text analysis output
  website/docs/cli/analyze.md
  website/docs/configuration/reference.md
  website/docs/getting-started/quick-start.md
  website/docs/output/html-report.md
  website/docs/output/index.md
  website/docs/output/schemas.md
Labels: documentation

refactor: remove stale format resolver
  service/output_format_resolver.go
Labels: none

docs: clarify analysis output contracts
  website/docs/cli/analyze.md
  website/docs/configuration/reference.md
  website/docs/output/schemas.md
Labels: documentation

refactor: own directory collection encoding
  app/directory_complexity.go
  domain/complexity.go
  domain/complexity_test.go
  service/analyze_formatter_test.go
  service/output_formatter.go
Labels: tests

refactor: centralize output format routing
  cmd/pyscn/analyze.go
  domain/complexity.go
  service/output_format_resolver.go
  service/output_format_resolver_test.go
Labels: cli, tests

docs: update CHANGELOG for v1.29.0
  CHANGELOG.md
Labels: documentation

Add MCP Toplist rank badge
  README.md
Labels: documentation

feat(complexity): add per-function SLOC metric and long-function warnings (#551)
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  docs/algorithms/complexity.md
  domain/analyze.go
  domain/complexity.go
  domain/defaults.go
  internal/analyzer/complexity.go
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/analyze_config_loader.go
  service/analyze_formatter.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/config_loader.go
  service/html_formatter.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: documentation, analyzer, cli, tests

feat(complexity): surface long functions in check and the HTML report
  cmd/pyscn/check.go
  cmd/pyscn/check_complexity_test.go
  docs/algorithms/complexity.md
  domain/complexity.go
  domain/complexity_test.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: documentation, cli, tests

fix(complexity): make the SLOC thresholds configurable and consistent
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  docs/algorithms/complexity.md
  domain/complexity.go
  domain/complexity_test.go
  domain/defaults.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader_test.go
  service/config_loader.go
  service/config_loader_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: documentation, cli, tests

docs(analyzer): correct cognitive complexity scope-boundary docs and tests
  internal/analyzer/cognitive_complexity.go
  internal/analyzer/cognitive_complexity_test.go
Labels: analyzer, tests

perf: linearize dependency depth
  internal/analyzer/dependency_topology.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: analyzer, tests

test: define dependency depth semantics
  internal/analyzer/dependency_topology_test.go
Labels: analyzer, tests

refactor: centralize topology depth
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_topology_test.go
  service/system_analysis_service.go
  service/system_metrics_test.go
Labels: analyzer, tests

refactor: remove depth fallbacks
  service/system_analysis_service.go
  service/system_metrics_test.go
Labels: tests

perf: bound dependency chain search
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: tests

test: cover reported branching scale
  internal/analyzer/dependency_topology_test.go
  service/system_analysis_service_test.go
Labels: analyzer, tests

docs: define dependency depth contract
  docs/algorithms/dependency.md
  website/docs/output/schemas.md
Labels: documentation

fix: preserve longest chain ranking
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: tests

refactor: commit coupling metrics atomically
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_topology_test.go
Labels: analyzer, tests

perf: make topology traversal cancellable
  internal/analyzer/dependency_topology.go
Labels: analyzer

test: widen performance safety margin
  service/system_analysis_service_test.go
Labels: tests

perf: rank dependency chains on the DAG
  internal/analyzer/dependency_chains.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_test.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
  service/system_analysis_service_test.go
Labels: analyzer, tests

docs: define ranked chain semantics
  docs/algorithms/dependency.md
  domain/system_analysis.go
  website/docs/output/schemas.md
Labels: documentation

test: tighten branching deadline
  service/system_analysis_service_test.go
Labels: tests

test: reject malformed topology edges
  internal/analyzer/dependency_topology_test.go
Labels: analyzer, tests

test: enforce reported runtime bound
  service/system_analysis_service_test.go
Labels: tests

refactor: clarify chain errors
  internal/analyzer/dependency_chains.go
Labels: analyzer

test: cover chained cycle components
  internal/analyzer/dependency_topology_test.go
Labels: analyzer, tests

refactor: share dependency topology result
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_chains.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_test.go
  service/system_analysis_service.go
  service/system_metrics_test.go
Labels: analyzer, tests

refactor: narrow topology interface
  internal/analyzer/dependency_chains.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_test.go
Labels: analyzer, tests

refactor: clarify topology ownership
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_test.go
  service/system_analysis_service.go
Labels: analyzer, tests

test: benchmark branching topology
  internal/analyzer/dependency_topology_bench_test.go
Labels: analyzer, tests

docs: clarify topology ownership contract
  docs/algorithms/dependency.md
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_topology.go
Labels: documentation, analyzer

fix: reject stale topology results
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_test.go
Labels: analyzer, tests

refactor: make topology results immutable
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_bench_test.go
  internal/analyzer/dependency_topology_test.go
  service/system_analysis_service.go
Labels: analyzer, tests

docs: define topology mutation contract
  internal/analyzer/dependency_topology.go
Labels: analyzer

fix: align topology with load-time imports
  internal/analyzer/circular_detector.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_chains.go
  internal/analyzer/dependency_graph.go
  internal/analyzer/dependency_topology.go
  internal/analyzer/dependency_topology_test.go
  service/system_analysis_service.go
Labels: analyzer, tests
