Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

fix: improve CBO analysis with Union type support and score calibration (#326)
  domain/analyze.go
  domain/analyze_test.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

chore: remove empty branch to fix staticcheck lint error
  internal/parser/ast_builder.go
Labels: parser

fix: calibrate clone detection thresholds and scoring
  cmd/pyscn/analyze.go
  domain/clone.go
  domain/clone_test.go
  domain/defaults.go
  domain/defaults_test.go
  integration/clone_integration_test.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/config/pyscn_config.go
  service/clone_service.go
Labels: analyzer, cli, tests

fix: calibrate clone detection thresholds and scoring (#327)
  cmd/pyscn/analyze.go
  domain/clone.go
  domain/clone_test.go
  domain/defaults.go
  domain/defaults_test.go
  integration/clone_integration_test.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/config/pyscn_config.go
  service/clone_service.go
Labels: analyzer, cli, tests

docs: update CHANGELOG for v1.10.2
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.10.2 (#328)
  CHANGELOG.md
Labels: documentation

docs: redesign README header with centered logo and layout
  README.md
  assets/logo.svg
Labels: documentation

docs: use horizontal logo layout with dark/light mode support
  README.md
  assets/logo-light.svg
Labels: documentation

docs: replace static badges with dynamic PyPI/GitHub stats
  README.md
Labels: documentation

docs: use pyscn@latest in Quick Start to avoid stale cache
  README.md
Labels: documentation

docs: redesign README header with centered logo (#329)
  README.md
  assets/logo-light.svg
  assets/logo.svg
Labels: documentation

docs: add algorithm documentation for all analysis engines
  docs/algorithms/cbo.md
  docs/algorithms/clone-detection.md
  docs/algorithms/complexity.md
  docs/algorithms/dead-code.md
  docs/algorithms/dependency.md
Labels: documentation

docs: add algorithm documentation for all analysis engines (#330)
  docs/algorithms/cbo.md
  docs/algorithms/clone-detection.md
  docs/algorithms/complexity.md
  docs/algorithms/dead-code.md
  docs/algorithms/dependency.md
Labels: documentation

feat: show README badge snippet after health score output
  cmd/pyscn/analyze.go
Labels: cli

refactor: remove redundant analysis status summary from CLI output
  cmd/pyscn/analyze.go
Labels: cli

feat: show README badge snippet after health score output (#331)
  cmd/pyscn/analyze.go
Labels: cli

test: Add unit tests for MCP server handlers
  mcp/dependencies.go
  mcp/handlers_test.go
Labels: tests

feat(analyzer): integrate TF-IDF + Cosine Similarity for Type-2 clone detection
  internal/analyzer/apted.go
  internal/analyzer/apted_interface_impl.go
  internal/analyzer/apted_test.go
  internal/analyzer/apted_validation_test.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/recursion_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
  internal/analyzer/tfidf.go
  internal/analyzer/tfidf_integration_test.go
  internal/analyzer/type4_similarity_test.go
  service/clone_service.go
Labels: analyzer, tests

start review
  mcp/dependencies.go
  mcp/dependencies_test.go
  mcp/handlers_test.go
Labels: tests

fix(analyzer): correct APTED key-root DP ordering
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

fix(clones): exclude type3 from default enabled clone types
  domain/clone.go
  domain/clone_test.go
  internal/config/default_config.toml
  pyproject.toml
Labels: cli, tests

perf(clone): add Jaccard pre-filter to minimize APTED calls
  internal/analyzer/clone_detector.go
  internal/analyzer/syntactic_similarity.go
Labels: analyzer

style: fix gofmt formatting
  internal/analyzer/clone_detector.go
Labels: analyzer

fix(clone): use APTED for all clone typing and distance in classifier path
  internal/analyzer/clone_detector.go
Labels: analyzer

feat: add LCOM4 class cohesion metric (#334)
  app/analyze_usecase.go
  app/lcom_usecase.go
  cmd/pyscn/analyze.go
  domain/analyze.go
  domain/complexity.go
  domain/defaults.go
  domain/lcom.go
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  mcp/handlers.go
  mcp/tools.go
  service/lcom_config_loader.go
  service/lcom_config_loader_test.go
  service/lcom_formatter.go
  service/lcom_formatter_test.go
  service/lcom_service.go
  service/lcom_service_test.go
  testdata/python/simple/lcom_classes.py
Labels: analyzer, cli, tests

fix(mcp): wire LCOM config loader into MCP analyze use case
  mcp/handlers.go
Labels: none

review
  mcp/handlers_test.go
Labels: tests

test: Add unit tests for MCP server handlers (#332)
  mcp/dependencies_test.go
  mcp/handlers_test.go
Labels: tests

fix: correct decorator detection and config precedence in LCOM
  internal/analyzer/lcom.go
  internal/parser/ast_builder.go
  mcp/handlers.go
Labels: parser, analyzer

feat(html): add LCOM cohesion tab to unified analyze HTML report
  service/analyze_formatter.go
Labels: none

fix(lcom): connect methods linked by intra-class self.xxx() calls
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(html): shorten tab labels to prevent wrapping
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

docs: update CHANGELOG for v1.11.0
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.11.0 (#342)
  CHANGELOG.md
Labels: documentation

fix(config): generate default_config.toml dynamically from domain defaults
  cmd/pyscn/init.go
  internal/config/default_config.go
  internal/config/default_config.toml.tmpl
Labels: cli

style(config): fix gofmt formatting
  internal/config/default_config.go
Labels: cli

chore: add video/ to .gitignore for Remotion demo project
  .gitignore
Labels: none

Update README.md
  README.md
Labels: documentation

perf: deduplicate AST parsing in unified analyze command via ParseCache
  app/analyze_usecase.go
  app/cbo_usecase.go
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/lcom_usecase.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/lcom_service.go
  service/parse_cache.go
  service/parse_cache_test.go
Labels: tests

style(html): restyle output with professional data-first palette
  service/analyze_formatter.go
  service/html_formatter.go
  service/html_template.go
Labels: none

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
