Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

docs: remove outdated SYSTEM_QUALITY_ANALYSIS.md
  docs/SYSTEM_QUALITY_ANALYSIS.md
Labels: documentation

fix: detect dead code after exhaustive if-elif-else chains
  internal/analyzer/cfg_builder.go
  internal/analyzer/dead_code_test.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

refactor: improve dead code detection robustness
  internal/analyzer/cfg_builder.go
Labels: analyzer

docs: prepare for v1.0.0 with vibe coding positioning
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
Labels: documentation

docs: prepare for v1.0.0 with vibe coding positioning (#119)
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
Labels: documentation

docs: add demo video link to README
  README.md
Labels: documentation

docs: update demo video to embedded GitHub URL
  README.md
Labels: documentation

docs: update readme
  README.md
Labels: documentation

feat: add individual category scores to analyze command
  cmd/pyscn/analyze.go
  domain/analyze.go
  domain/analyze_test.go
  service/analyze_formatter.go
Labels: cli, tests

fix: remove unused getScoreLabel function
  cmd/pyscn/analyze.go
Labels: cli

refactor: replace magic numbers with score threshold constants
  cmd/pyscn/analyze.go
  domain/analyze.go
  service/analyze_formatter.go
Labels: cli

fix: simplify dead code penalty to use only critical issues
  domain/analyze.go
  domain/analyze_test.go
Labels: tests

feat: implement unified progress bar with time-based estimation
  app/analyze_usecase.go
Labels: none

refactor: simplify ProgressManager following YAGNI principle
  service/progress_manager.go
Labels: none

refactor: remove unnecessary taskName parameter from ProgressManager
  app/analyze_usecase.go
  domain/output.go
  service/progress_manager.go
Labels: none

refactor: remove redundant nil check for progressManager
  app/analyze_usecase.go
Labels: none

refactor: rename startFakeProgressUpdater to startTimeBasedProgressUpdater
  app/analyze_usecase.go
Labels: none

refactor: remove legacy commented-out progress code
  app/cbo_usecase.go
  app/clone_usecase.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
Labels: tests

chore: update demo movie
  README.md
Labels: documentation

refactor: prioritize .pyscn.toml over pyproject.toml for configuration
  docs/ARCHITECTURE.md
  internal/config/toml_loader.go
Labels: documentation, cli

docs: update DEVELOPMENT.md to reflect .pyscn.toml priority
  docs/DEVELOPMENT.md
Labels: documentation

fix: implement LSH auto-enable from config file
  .pyscn.toml
  domain/clone.go
  internal/config/toml_loader.go
  service/clone_config_loader.go
  service/clone_service.go
Labels: cli

chore: fix lint formatting issues
  domain/clone.go
  internal/config/toml_loader.go
Labels: cli

refactor: unify config architecture and remove technical debt (issue #124)
  cmd/pyscn/init.go
  cmd/pyscn/new_commands_test.go
  domain/clone.go
  internal/analyzer/lsh_index.go
  internal/config/clone_adapters.go
  internal/config/clone_adapters_test.go
  internal/config/clone_config.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  internal/constants/clone_thresholds.go
  internal/constants/clone_thresholds_test.go
  pyproject.toml
  service/clone_config_loader.go
  service/dead_code_formatter.go
Labels: analyzer, cli, tests

refactor: simplify CloneDetector by embedding config directly
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/clone_memory_test.go
  internal/config/clone_adapters.go
  service/clone_service.go
Labels: analyzer, cli, tests

fix: improve encapsulation and remove dead code
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/clone_memory_test.go
  service/clone_service.go
Labels: analyzer, tests

chore: fix lint formatting issues
  internal/analyzer/clone_detector.go
  internal/config/toml_loader.go
Labels: analyzer, cli

fix: improve test encapsulation with SetBatchSizeLarge method
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_memory_test.go
Labels: analyzer, tests

refactor: remove redundant LSH detection logic in service layer
  service/clone_service.go
Labels: none

docs: improve grouping mode comments in config template
  cmd/pyscn/init.go
Labels: cli

fix: remove LSH debug messages to prevent progress bar interruption
  service/clone_service.go
Labels: none

fix: increase LSH similarity threshold from 0.78 to 0.88
  cmd/pyscn/init.go
  domain/clone.go
  internal/analyzer/clone_detector.go
  internal/config/clone_config.go
Labels: analyzer, cli

fix: make duplication scoring more strict and lower LSH threshold
  .pyscn.toml
  domain/analyze.go
Labels: none

fix: unify LSH threshold to 0.50 across all defaults and update tests
  cmd/pyscn/init.go
  domain/analyze_test.go
  domain/clone.go
  internal/analyzer/clone_detector.go
  internal/config/clone_config.go
Labels: analyzer, cli, tests

fix: correct test expectations for new duplication thresholds
  domain/analyze_test.go
Labels: tests

feat: tighten CBO coupling thresholds to industry standards
  domain/analyze.go
  domain/analyze_test.go
  domain/cbo.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

feat: include medium-risk classes in CBO penalty calculation
  app/analyze_usecase.go
  domain/analyze.go
Labels: none

chore: prepare v1.0.0 release
  CHANGELOG.md
Labels: documentation

chore: update demo movie
  README.md
Labels: documentation

chore: update development status to stable for v1.0.0
  pyproject.toml
Labels: none
