Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

docs: update CHANGELOG for v1.19.0
  CHANGELOG.md
Labels: documentation

narrow class body regression check
  service/clone_service_test.go
Labels: tests

docs: update CHANGELOG for v1.19.1
  CHANGELOG.md
Labels: documentation

fix: preserve f-string ivar access
  internal/analyzer/apted_tree_test.go
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, analyzer, tests

perf: reduce f-string traversal overhead
  internal/parser/ast.go
  internal/parser/ast_builder.go
Labels: parser

fix: advance f-string cursor
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, tests

fix: preserve f-string ivar access (#415)
  internal/analyzer/apted_tree_test.go
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
  internal/parser/ast.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, analyzer, tests

docs: include #415 in v1.19.1 CHANGELOG
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.19.1 (#414)
  CHANGELOG.md
Labels: documentation

fix: report module-scope code as "<module>" instead of "__main__" (#394)
  domain/complexity.go
  domain/suggestion.go
  domain/suggestion_test.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/complexity_test.go
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
  service/dead_code_service.go
Labels: analyzer, tests

fix(lcom): include with context expressions
  internal/analyzer/lcom_test.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, analyzer, tests

refactor(parser): simplify with item parsing
  internal/parser/ast_builder.go
Labels: parser

docs: update CHANGELOG for v1.19.2
  CHANGELOG.md
Labels: documentation

Fix DFA extraction for with statement alias targets
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix: resolve analyze enabled contract
  app/analyze_usecase.go
  domain/analyze.go
  service/analyze_config_loader.go
Labels: none

fix: validate analyze selection
  cmd/pyscn/analyze.go
Labels: cli

test: cover analyze contracts
  app/analyze_usecase_test.go
  cmd/pyscn/new_commands_test.go
  service/analyze_config_loader_test.go
Labels: cli, tests

fix: preserve analyze system defaults
  app/analyze_usecase_test.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
Labels: tests

Handle non-identifier names in with statement alias extraction (review feedback)
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix: avoid resolving stdlib imports to shadowing project modules
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  service/system_analysis_service_test.go
Labels: analyzer, tests

fix: structurally model with-statement aliases in NodeWithItem
  internal/analyzer/apted_tree.go
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
  internal/parser/ast.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, analyzer, tests

docs: update CHANGELOG for v1.19.3
  CHANGELOG.md
Labels: documentation

fix: drop strict-subset members from clone groups (issue #416)
  internal/analyzer/clone_detector.go
  internal/analyzer/group_dedup.go
  internal/analyzer/group_dedup_test.go
Labels: analyzer, tests

fix(analyzer): keep clone dedupe outputs consistent
  internal/analyzer/clone_detector.go
  internal/analyzer/group_dedup.go
  internal/analyzer/group_dedup_test.go
Labels: analyzer, tests

fix(clones): auto-enable lsh for high pair counts
  app/analyze_usecase.go
  domain/clone.go
  domain/clone_test.go
  domain/defaults.go
  domain/defaults_test.go
  service/clone_service.go
Labels: tests

fix: unify parser child traversal
  internal/analyzer/apted_tree.go
  internal/analyzer/clone_detector.go
  internal/parser/ast.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
Labels: parser, analyzer, tests

fix: read dfa values from parser fields
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
Labels: analyzer, tests

fix: honor semantic clone classification
  internal/analyzer/clone_detector.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/type4_detector_test.go
  internal/analyzer/type4_similarity_test.go
Labels: analyzer, tests

docs(clones): clarify lsh auto activation
  docs/ARCHITECTURE.md
  docs/algorithms/clone-detection.md
  internal/config/default_config.toml.tmpl
  internal/config/pyscn_config.go
  website/docs/configuration/reference.md
  website/docs/ja/configuration/reference.md
  website/docs/zh/configuration/reference.md
Labels: documentation, cli

docs: update CHANGELOG for v1.20.0
  CHANGELOG.md
Labels: documentation

fix: exit non-zero when output generation fails in analyze command
  cmd/pyscn/analyze.go
  cmd/pyscn/utils_test.go
Labels: cli, tests

perf: score apted pairs once
  internal/analyzer/apted.go
  internal/analyzer/clone_detector.go
Labels: analyzer

perf: use integer lsh candidates
  internal/analyzer/clone_detector.go
  internal/analyzer/lsh_bench_test.go
  internal/analyzer/lsh_index.go
  internal/analyzer/lsh_index_test.go
  internal/analyzer/lsh_integration_test.go
Labels: analyzer, tests

perf: group star medoids from sparse edges
  internal/analyzer/star_medoid_grouping.go
Labels: analyzer

perf: reuse parsed files in analyze
  app/analyze_usecase.go
  app/cbo_usecase.go
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/lcom_usecase.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/lcom_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

perf: reuse system dependency graph
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

perf: cut clone source extraction churn
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_bench_test.go
Labels: analyzer, tests

fix: tighten analyze perf contracts
  app/analyze_usecase.go
  app/cbo_usecase.go
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/lcom_usecase.go
  internal/analyzer/lsh_index_test.go
  internal/analyzer/lsh_integration_test.go
  internal/analyzer/star_medoid_grouping.go
  internal/analyzer/star_medoid_grouping_test.go
  service/clone_service.go
  service/complexity_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: analyzer, tests

feat(analyzer): integrate TF-IDF + Cosine Similarity for Type-2 clone detection (fixes #315)
  internal/analyzer/apted.go
  internal/analyzer/apted_test.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/apted_validation_test.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/recursion_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
  internal/analyzer/tfidf.go
  internal/analyzer/type4_similarity_test.go
  service/clone_service.go
Labels: analyzer, tests

style: gofmt trailing newlines and alignment
  internal/analyzer/clone_detector.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/tfidf.go
Labels: analyzer

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
