Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix: preserve sparse bool response contracts
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  app/system_analysis_usecase.go
Labels: tests

fix: preserve complexity JSON contract
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  docs/ARCHITECTURE.md
  domain/analyze.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  service/analyze_formatter_test.go
Labels: documentation, tests

fix(analyzer): stop cognitive complexity from crossing scope boundaries (#658)
  internal/analyzer/cognitive_complexity.go
  internal/analyzer/cognitive_complexity_test.go
Labels: analyzer, tests

fix(architecture): default StrictMode to false when auto-detecting layers without user config (#659)
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: tests

fix(architecture): preserve explicit strict mode
  internal/config/pyscn_config.go
  service/system_analysis_service.go
  service/system_analysis_service_helpers_test.go
Labels: cli, tests

fix(check): honor configured analysis overrides
  app/mock_data_usecase.go
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  service/dead_code_service.go
  service/dead_code_service_test.go
  service/mock_data_service.go
  service/mock_data_service_test.go
Labels: cli, tests

docs: update CHANGELOG for v1.26.4
  CHANGELOG.md
Labels: documentation

migrate: adopt core/clone from polyscan for clone grouping, dedup, gates, and classification
  docs/ARCHITECTURE.md
  docs/algorithms/clone-detection.md
  go.mod
  go.sum
  internal/analyzer/ast_features.go
  internal/analyzer/ast_features_test.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/centroid_grouping_test.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/complete_linkage_clusterer.go
  internal/analyzer/complete_linkage_grouping.go
  internal/analyzer/complete_linkage_grouping_test.go
  internal/analyzer/complete_linkage_heap.go
  internal/analyzer/connected_grouping.go
  internal/analyzer/group_dedup.go
  internal/analyzer/group_dedup_test.go
  internal/analyzer/grouping_mode.go
  internal/analyzer/grouping_strategies_test.go
  internal/analyzer/grouping_strategy.go
  internal/analyzer/k_core_grouping.go
  internal/analyzer/lsh_integration_test.go
  internal/analyzer/python_comments.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/star_medoid_grouping.go
  internal/analyzer/star_medoid_grouping_test.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
Labels: documentation, analyzer, tests, dependencies

fix(clone): preserve grouping migration behavior
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/grouping_compat.go
Labels: analyzer, tests

test: cover mock data use case
  app/mock_data_usecase_test.go
Labels: tests

test(cbo): assert exact DependentClasses set for Cython primitive exclusion
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

docs(website): document Agent Skills as a recommended AI integration
  website/docs/fr/index.md
  website/docs/fr/integrations/index.md
  website/docs/fr/integrations/skills.md
  website/docs/index.md
  website/docs/integrations/index.md
  website/docs/integrations/skills.md
  website/docs/ja/index.md
  website/docs/ja/integrations/index.md
  website/docs/ja/integrations/skills.md
  website/docs/zh/index.md
  website/docs/zh/integrations/index.md
  website/docs/zh/integrations/skills.md
  website/mkdocs.yml
Labels: documentation

migrate: adopt core APTED from polyscan
  CONTRIBUTING.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/TESTING.md
  docs/algorithms/clone-detection.md
  go.mod
  go.sum
  internal/analyzer/apted.go
  internal/analyzer/apted_cost.go
  internal/analyzer/apted_test.go
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/apted_validation_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/grouping_compat.go
  internal/analyzer/lsh_integration_test.go
  internal/analyzer/recursion_test.go
  internal/analyzer/structural_similarity.go
  service/clone_service.go
  website/docs/fr/rules/duplicate-code-identical.md
  website/docs/fr/rules/duplicate-code-modified.md
  website/docs/fr/rules/duplicate-code-renamed.md
  website/docs/fr/rules/duplicate-code-semantic.md
  website/docs/ja/rules/duplicate-code-identical.md
  website/docs/ja/rules/duplicate-code-modified.md
  website/docs/ja/rules/duplicate-code-renamed.md
  website/docs/ja/rules/duplicate-code-semantic.md
  website/docs/rules/duplicate-code-identical.md
  website/docs/rules/duplicate-code-modified.md
  website/docs/rules/duplicate-code-renamed.md
  website/docs/rules/duplicate-code-semantic.md
  website/docs/zh/rules/duplicate-code-identical.md
  website/docs/zh/rules/duplicate-code-modified.md
  website/docs/zh/rules/duplicate-code-renamed.md
  website/docs/zh/rules/duplicate-code-semantic.md
Labels: documentation, analyzer, tests, dependencies

refactor: centralize APTED analyzer construction
  internal/analyzer/apted_cost.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/grouping_compat.go
  internal/analyzer/structural_similarity.go
Labels: analyzer, tests

migrate: adopt core CFG analyses
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/algorithms/complexity.md
  docs/algorithms/dead-code.md
  internal/analyzer/cfg.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_finally_test.go
  internal/analyzer/cfg_test.go
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
  internal/analyzer/dfa_builder.go
  internal/analyzer/python_cfg.go
  internal/analyzer/python_cfg_test.go
  internal/analyzer/reachability.go
  internal/analyzer/reachability_example_test.go
Labels: documentation, analyzer, tests

refactor: remove retired CFG helpers
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
  internal/analyzer/dead_code.go
  internal/analyzer/reachability.go
Labels: analyzer, tests

docs(website): redesign homepage with CFG diagram hero
  website/docs/fr/index.md
  website/docs/index.md
  website/docs/ja/index.md
  website/docs/stylesheets/extra.css
  website/docs/zh/index.md
  website/includes/cfg-diagram.html
  website/mkdocs.yml
Labels: documentation

test(cfg): cover core terminator mappings
  internal/analyzer/complexity.go
  internal/analyzer/python_cfg_test.go
  internal/analyzer/reachability.go
Labels: analyzer, tests

migrate: adopt core graph analyses
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/algorithms/dependency.md
  internal/analyzer/circular_detector.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
Labels: documentation, analyzer

fix(graph): filter lazy predecessor edges
  internal/analyzer/circular_detector.go
  internal/analyzer/module_analyzer_lazy_import_test.go
Labels: analyzer, tests

migrate: adopt core LSH, LCOM, DFA, and semantic evidence
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/algorithms/clone-detection.md
  internal/analyzer/clone_detector.go
  internal/analyzer/dfa.go
  internal/analyzer/dfa_builder.go
  internal/analyzer/dfa_builder_test.go
  internal/analyzer/dfa_test.go
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
  internal/analyzer/lsh_bench_test.go
  internal/analyzer/lsh_index.go
  internal/analyzer/lsh_index_test.go
  internal/analyzer/lsh_integration_test.go
  internal/analyzer/lsh_minhash_test.go
  internal/analyzer/minhash.go
  internal/analyzer/semantic_literal_evidence_test.go
  internal/analyzer/semantic_similarity.go
  service/lcom_service.go
Labels: documentation, analyzer, tests

fix(lsh): delegate candidate cap to core band-order traversal
  go.mod
  go.sum
  internal/analyzer/lsh_index.go
  internal/analyzer/lsh_index_test.go
Labels: analyzer, tests, dependencies

migrate: adopt core scoring and grade mapping
  docs/ANALYZE_SCORING.md
  domain/analyze.go
  domain/analyze_test.go
Labels: documentation, tests

Fix module-qualified enum coupling
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

feat(report): link reports and CLI output back to the GitHub repo
  cmd/pyscn/analyze.go
  service/analyze_formatter.go
  service/html_formatter.go
  service/html_star_link_test.go
  service/html_template.go
  service/lcom_formatter.go
  service/mock_data_formatter.go
Labels: cli, tests

docs: update CHANGELOG for v1.27.0
  CHANGELOG.md
Labels: documentation

refactor(domain): merge architecture violations per problem and share the category cap
  domain/suggestion.go
  domain/suggestion_test.go
Labels: tests

docs: point cross-language link to polyscan instead of archived jscan
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

feat(mcp): list pyscn in the MCP Registry and Glama
  .github/workflows/python-release.yml
  glama.json
  python/README-mcp.md
  server.json
Labels: documentation, ci

fix(ci): gate MCP registry publishing and wait for PyPI propagation
  .github/workflows/python-release.yml
Labels: ci

docs: update CHANGELOG for v1.28.0
  CHANGELOG.md
Labels: documentation

docs(ci): record the tag ruleset as what gates registry publishing
  .github/workflows/python-release.yml
Labels: ci

docs: serve documentation at docs.codescan.dev
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
  docs/README.md
  website/docs/CNAME
  website/mkdocs.yml
Labels: documentation

docs: serve documentation at docs.codescan.dev (#685)
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
  docs/README.md
  website/docs/CNAME
  website/mkdocs.yml
Labels: documentation

feat(analyze): aggregate module complexity metrics
  domain/module_quality.go
  domain/module_quality_test.go
Labels: tests

feat(analyze): join module metadata and dead code
  domain/module_quality.go
  domain/module_quality_test.go
Labels: tests

feat(analyze): publish module quality rollups
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analyze.go
Labels: tests

test(report): lock module quality serialization
  service/analyze_formatter_test.go
Labels: tests

feat(report): show module hotspots in text output
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

feat(report): export module quality in CSV
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests
