Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

test(deps): add unit tests for dependency graph, service, and CLI flags (Issue #49)
  cmd/pyscn/deps_test.go
  internal/analyzer/dependency_graph_test.go
  service/deps_service_test.go
Labels: analyzer, cli, tests

refactor(deps): DRY output handling via helpers; ignore local .gocache
  .gitignore
  cmd/pyscn/deps.go
Labels: cli

chore(lint): remove unused code/imports in deps command
  cmd/pyscn/deps.go
Labels: cli

test(deps): add tests for DepsUseCase and DepsFormatter
  app/deps_usecase_test.go
  service/deps_formatter_test.go
Labels: tests

test(e2e): add deps E2E tests (text/json/html/csv/violations); chore(make): add test-local and lint-local with local caches
  Makefile
  e2e/deps_e2e_test.go
Labels: tests

fix(deps): exclude self-referential imports from cycle detection
  internal/analyzer/dependency_graph.go
  internal/analyzer/dependency_graph_test.go
Labels: analyzer, tests

feat(deps): drop self-referential edges from output and DOT
  internal/analyzer/dependency_graph.go
  service/deps_service.go
Labels: analyzer

test(deps): assert self-loop edges are filtered and not drawn in DOT
  internal/analyzer/dependency_graph_test.go
  service/deps_service_test.go
Labels: analyzer, tests

feat(deps): smart defaults — infer root/prefix only when most modules are single-segment; prefer stdlib for plain imports; try prefixed fallback
  service/deps_service.go
Labels: none

feat(deps/html): fold high-degree hub targets by default and add toggle to inspect folded edges
  service/html_formatter.go
Labels: none

feat: implement system-level structural quality analysis (Phase 2)
  app/system_analysis_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/cbo.go
  cmd/pyscn/deps.go
  domain/system_analysis.go
  internal/analyzer/circular_detector.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/config/config.go
  internal/parser/ast_builder.go
  internal/parser/ast_imports_test.go
  service/cbo_formatter.go
  service/html_template.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
Labels: parser, analyzer, cli, tests

fix: wire config loader in deps command
  cmd/pyscn/deps.go
Labels: cli

refactor: use ModuleAnalyzer for dependency analysis
  service/system_analysis_service.go
Labels: none

fix: CLI consistency and type safety improvements
  cmd/pyscn/deps.go
  domain/complexity.go
Labels: cli

fix: resolve all linter issues
  cmd/pyscn/deps.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/module_analyzer.go
  internal/parser/ast_builder.go
  service/cbo_formatter.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
Labels: parser, analyzer, cli

fix: remove unused --cycles and --chains flags from deps command
  cmd/pyscn/deps.go
Labels: cli

chore: update go.mod dependencies
  go.mod
Labels: dependencies

docs(pr): PR-95 Architecture Analysis Phase 2 (md)
  docs/pr/PR-95-architecture-analysis-phase2.md
Labels: documentation

chore: remove unintended PR markdown file
  docs/pr/PR-95-architecture-analysis-phase2.md
Labels: documentation

refactor(architecture): improve code quality and consistency in PR #95
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
Labels: none

feat(deps): add auto-detect architecture validation
  cmd/pyscn/deps.go
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
Labels: cli

feat(deps): make architecture validation default enabled
  cmd/pyscn/deps.go
Labels: cli

fix(deps): disable auto-detection by default to avoid false positives
  cmd/pyscn/deps.go
  service/system_analysis_service.go
Labels: cli

fix: remove --validate flag and make architecture validation always enabled
  cmd/pyscn/deps.go
Labels: cli

fix(formatter): improve Architecture tab HTML layout to match Dependencies tab
  service/system_analysis_formatter.go
Labels: none

fix: add white background to tab-content for consistent appearance
  service/html_template.go
Labels: none

fix: remove extra closing div tags in HTML content generation
  service/system_analysis_formatter.go
Labels: none

fix: exclude __init__.py to submodule dependencies and allow same-layer deps
  internal/analyzer/module_analyzer.go
  service/system_analysis_service.go
Labels: analyzer

fix: improve layer detection by prioritizing specific patterns
  service/system_analysis_service.go
Labels: none

fix: remove unnecessary --auto-detect flag and improve pattern detection
  cmd/pyscn/deps.go
  service/system_analysis_service.go
Labels: cli

fix: remove incorrectly added 'app' and 'application' patterns
  service/system_analysis_service.go
Labels: none

fix(arch,ui): improve layer matching specificity and HTML cards
  service/html_template.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
Labels: none

feat(analyze-summary): add system Dependencies and Architecture metrics to Summary tab and clarify CBO labels
  cmd/pyscn/analyze.go
  domain/analyze.go
  service/analyze_formatter.go
Labels: cli

fix(analyze): correct CBO goroutine block and separate system analysis goroutine
  cmd/pyscn/analyze.go
Labels: cli

feat(deps): Auto-detect architecture patterns for validation (#96)
  cmd/pyscn/analyze.go
  cmd/pyscn/deps.go
  domain/analyze.go
  internal/analyzer/module_analyzer.go
  service/analyze_formatter.go
  service/html_template.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
Labels: analyzer, cli

feat(clone): improve clone detection grouping and display
  cmd/pyscn/analyze.go
  domain/analyze.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_detector.go
  internal/analyzer/grouping_mode.go
  internal/constants/clone_thresholds.go
  service/analyze_formatter.go
  service/clone_service.go
Labels: analyzer, cli

fix: address code review feedback on clone detection
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_detector.go
Labels: analyzer

refactor: use unified GroupingStrategy interface for all grouping modes
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_detector.go
Labels: analyzer

test: update tests for new clone type thresholds
  internal/analyzer/clone_detector_test.go
  internal/constants/clone_thresholds_test.go
Labels: analyzer, tests

fix: resolve lint and test failures in PR #97
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
