Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

refactor(di): address review feedback for DI anti-pattern detection
  app/di_antipattern_usecase.go
  internal/analyzer/concrete_dependency_detector.go
  internal/analyzer/constructor_analyzer.go
  internal/analyzer/di_antipattern_detector.go
  internal/analyzer/di_helpers.go
  internal/analyzer/hidden_dependency_detector.go
  internal/analyzer/service_locator_detector.go
Labels: analyzer

fix(di): tighten error handling, config discovery, and parser validation
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  internal/analyzer/di_antipattern_detector_test.go
  internal/parser/parser.go
  internal/parser/parser_test.go
  service/di_antipattern_config_loader.go
Labels: parser, analyzer, cli, tests

style: gofmt service_locator_detector.go
  internal/analyzer/service_locator_detector.go
Labels: analyzer

fix: tighten raw metrics docstring detection
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
Labels: analyzer, tests

test: lock raw metrics file counting behavior
  service/complexity_service_test.go
Labels: tests

fix: ignore nil raw metrics in aggregates
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
Labels: analyzer, tests

fix: address raw metrics review comments
  internal/analyzer/raw_metrics.go
  internal/analyzer/raw_metrics_test.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.15.0
  CHANGELOG.md
Labels: documentation

fix: honor complexity config flags
  domain/complexity.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/pyproject_loader.go
  internal/config/pyproject_loader_test.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/config_loader.go
  service/config_loader_test.go
Labels: cli, tests

fix: skip disabled complexity in analyze
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

refactor: centralize analyze execution config
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

fix: preserve min complexity config precedence
  internal/config/config.go
  internal/config/config_test.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  service/config_loader.go
  service/config_loader_test.go
Labels: cli, tests

refactor: share resolved complexity analysis path
  app/complexity_usecase.go
  app/complexity_usecase_test.go
Labels: tests

refactor: tighten analyze execution config
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

feat: add analyze configuration loader
  domain/analyze.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
Labels: tests

refactor: use analyze config loader in use case
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  cmd/pyscn/analyze.go
Labels: cli, tests

refactor: return analyze config by value
  app/analyze_usecase.go
  domain/analyze.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
Labels: tests

refactor: centralize clone config merging
  app/clone_usecase.go
  app/clone_usecase_test.go
  cmd/pyscn/analyze.go
  domain/clone.go
  service/clone_config_loader.go
  service/clone_config_loader_test.go
  service/clone_config_loader_with_flags.go
Labels: cli, tests

fix: render clone previews in analyze html
  domain/clone.go
  domain/clone_test.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/clone_service.go
  service/clone_service_content_test.go
Labels: tests

refactor: align clone file execution requests
  app/clone_usecase.go
  app/clone_usecase_test.go
Labels: tests

fix: preserve clone defaults in analyze
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  service/clone_config_loader.go
  service/clone_config_loader_test.go
Labels: tests

refactor: drop clone dfa default override
  domain/clone.go
  domain/clone_test.go
  service/clone_config_loader.go
Labels: tests

test: cover reachability after return
  internal/analyzer/reachability_bench_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

refactor: reuse visited state in reachability
  internal/analyzer/reachability.go
Labels: analyzer

refactor: drop reachability visited copies
  internal/analyzer/reachability.go
Labels: analyzer

test: cover shared and cyclic return tails
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

fix: avoid revisits in return reachability walk
  internal/analyzer/reachability.go
Labels: analyzer

fix(di): reduce detector false positives
  internal/analyzer/concrete_dependency_detector.go
  internal/analyzer/di_antipattern_detector_test.go
  internal/analyzer/hidden_dependency_detector.go
  internal/analyzer/service_locator_detector.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

docs: update CHANGELOG for v1.16.0
  CHANGELOG.md
Labels: documentation

docs: default to uvx and link README to docs site
  README.md
  website/docs/faq.md
  website/docs/getting-started/installation.md
  website/docs/getting-started/quick-start.md
  website/docs/index.md
  website/docs/integrations/ci-cd.md
  website/docs/integrations/python-packaging.md
Labels: documentation

fix: make grouping clone-type tie breaks deterministic
  internal/analyzer/connected_grouping.go
  internal/analyzer/grouping_strategies_test.go
Labels: analyzer, tests

refactor: simplify clone-type tie break
  internal/analyzer/connected_grouping.go
Labels: analyzer

ci: auto-assign PR author on open/reopen
  .github/workflows/auto-assign.yml
Labels: ci

perf: cache complete-linkage cluster similarities
  internal/analyzer/complete_linkage_grouping.go
  internal/analyzer/complete_linkage_grouping_test.go
Labels: analyzer, tests

test: harden complete-linkage invariants
  internal/analyzer/complete_linkage_grouping_test.go
  internal/analyzer/connected_grouping.go
Labels: analyzer, tests

refactor: use sparse complete-linkage clusterer
  internal/analyzer/complete_linkage_clusterer.go
  internal/analyzer/complete_linkage_grouping.go
  internal/analyzer/complete_linkage_grouping_test.go
  internal/analyzer/complete_linkage_heap.go
Labels: analyzer, tests

perf: avoid rescanning complete-linkage pairs
  internal/analyzer/complete_linkage_grouping.go
  internal/analyzer/complete_linkage_grouping_test.go
  internal/analyzer/complete_linkage_heap.go
Labels: analyzer, tests

test: restore clone-type parity checks
  internal/analyzer/complete_linkage_grouping_test.go
  internal/analyzer/connected_grouping.go
Labels: analyzer, tests

test: add clone detection baseline benchmarks
  internal/analyzer/clone_detector_bench_test.go
Labels: analyzer, tests

test: compare clone benchmarks with lsh
  internal/analyzer/clone_detector_bench_test.go
Labels: analyzer, tests
