Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

feat: render class execution scopes
  service/analyze_formatter_test.go
  service/analyze_html.go
  service/analyze_html_test.go
  service/templates/analyze/report.html
Labels: tests

docs: sync class scope schemas
  website/docs/fr/output/html-report.md
  website/docs/fr/output/schemas.md
  website/docs/ja/output/html-report.md
  website/docs/ja/output/schemas.md
  website/docs/zh/output/html-report.md
  website/docs/zh/output/schemas.md
Labels: documentation

fix: retain functions tab identity
  service/analyze_html.go
Labels: none

fix: expose class hotspots in MCP summary
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

test: assert embedded class scope report
  service/analyze_formatter_test.go
Labels: tests

fix: require complete function population
  app/complexity_usecase.go
  app/directory_complexity_test.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: tests

fix: align complexity output populations
  docs/MCP_INTEGRATION.md
  domain/complexity.go
  domain/complexity_test.go
  domain/suggestion.go
  domain/suggestion_test.go
  mcp/README.md
  mcp/handlers.go
  mcp/handlers_test.go
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_bench_test.go
  service/complexity_service_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: documentation, tests

Honor file patterns in snapshot checks
  service/di_antipattern_service.go
  service/di_antipattern_service_test.go
  service/mock_data_service.go
  service/mock_data_service_test.go
Labels: tests

Keep snapshot patterns on collection paths
  service/clone_service_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

Classify clone failures from run errors
  app/analyze_usecase.go
  cmd/pyscn/check.go
  cmd/pyscn/check_parse_errors_test.go
  domain/analysis_coverage.go
Labels: cli, tests

Restore snapshot analyzer diagnostics
  service/analysis_issues.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/di_antipattern_service.go
  service/lcom_service.go
  service/mock_data_service.go
  service/project_snapshot_test.go
Labels: tests

Keep stub diagnostics out of quality coverage
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  cmd/pyscn/check_parse_errors_test.go
Labels: cli, tests

Clarify parse error waiver scope
  CHANGELOG.md
  cmd/pyscn/check.go
  website/docs/cli/check.md
  website/docs/fr/cli/check.md
  website/docs/ja/cli/check.md
  website/docs/zh/cli/check.md
Labels: documentation, cli

Document nested basename glob matching
  CHANGELOG.md
  website/docs/configuration/reference.md
Labels: documentation

docs: update CHANGELOG for v1.30.0
  CHANGELOG.md
Labels: documentation

Clean up complexity reporting after PR #697
  app/analyze_usecase_test.go
  app/complexity_usecase.go
  app/directory_complexity_test.go
  domain/analyze.go
  domain/complexity.go
  service/analyze_formatter.go
  service/analyze_html_test.go
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/output_formatter.go
  service/output_formatter_test.go
  service/templates/analyze/report.html
  website/docs/fr/output/schemas.md
  website/docs/ja/output/schemas.md
  website/docs/output/schemas.md
  website/docs/zh/output/schemas.md
Labels: documentation, tests

fix: report unclamped code duplication percentage
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

docs: drop clamped duplication formula from health-score
  website/docs/fr/output/health-score.md
  website/docs/ja/output/health-score.md
  website/docs/output/health-score.md
  website/docs/zh/output/health-score.md
Labels: documentation

fix: record dependency kind for imported names in CBO breakdown
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix: stop counting elif arms as extra nesting levels
  internal/analyzer/complexity_test.go
  internal/analyzer/nesting_depth.go
  internal/analyzer/nesting_depth_test.go
Labels: analyzer, tests

fix(report): add LCOM4 to analyze text and CSV reports
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

docs: update CHANGELOG for v1.30.1
  CHANGELOG.md
Labels: documentation

docs: replace vibe coders tagline with AI coding wording
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

Rename Pyscn Bot to Polyscan App in README
  README.md
Labels: documentation

fix(analyzer): cap semantic Type-4 similarity below the Type-1 threshold
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

docs: clarify Polyscan install CTA
  README.ja.md
  README.md
Labels: documentation

docs: align localized Polyscan CTAs
  README.fr.md
  README.ja.md
  README.zh-CN.md
Labels: documentation

fix: surface project root import diagnostics (#738)
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/analyze_project_root_test.go
  docs/algorithms/dependency.md
  domain/system_analysis.go
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  service/system_analysis_config_loader.go
  service/system_analysis_config_loader_test.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: documentation, analyzer, cli, tests

fix: address project root review feedback
  app/analyze_usecase.go
  app/system_analysis_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/analyze_project_root_test.go
  docs/DEVELOPMENT.md
  docs/algorithms/dependency.md
  domain/analyze.go
  domain/community.go
  integration/architecture_integration_test.go
  integration/community_integration_test.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/community_config_loader.go
  service/community_config_loader_test.go
  service/community_formatter_test.go
  service/project_root.go
  service/project_root_test.go
  service/system_analysis_config_loader.go
  service/system_analysis_config_loader_test.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: documentation, cli, tests

fix(config): keep system analysis LoadDefaultConfig free of discovery
  service/system_analysis_config_loader.go
  service/system_analysis_config_loader_test.go
Labels: tests

docs: update CHANGELOG for v1.30.2
  CHANGELOG.md
Labels: documentation

fix: serialize empty report collections as []
  domain/complexity.go
  service/complexity_service_test.go
  service/dead_code_service.go
  service/dead_code_service_test.go
Labels: tests

feat: add --output flag to analyze
  README.md
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  website/docs/cli/analyze.md
  website/docs/integrations/ci-cd.md
Labels: documentation, cli, tests

fix(analyzer): use PairClassifier.CapNonTextualSimilarity from polyscan core v0.2.7
  go.mod
  go.sum
  internal/analyzer/clone_detector.go
Labels: analyzer, dependencies

test: adopt the core v0.2.6 duplication scale
  app/analyze_usecase_test.go
  domain/analyze.go
  domain/analyze_test.go
  website/docs/ja/output/health-score.md
  website/docs/output/health-score.md
  website/docs/zh/output/health-score.md
Labels: documentation, tests

fix(analyzer): cap semantic Type-4 similarity below the Type-1 threshold (#735)
  app/analyze_usecase_test.go
  domain/analyze.go
  domain/analyze_test.go
  go.mod
  go.sum
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  website/docs/ja/output/health-score.md
  website/docs/output/health-score.md
  website/docs/zh/output/health-score.md
Labels: documentation, analyzer, tests, dependencies

fix: serialize empty report collections as [] (#747)
  domain/complexity.go
  service/complexity_service_test.go
  service/dead_code_service.go
  service/dead_code_service_test.go
Labels: tests

feat: add --output flag to analyze (#748)
  README.md
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  website/docs/cli/analyze.md
  website/docs/integrations/ci-cd.md
Labels: documentation, cli, tests

docs: update CHANGELOG for v1.31.0
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.31.0 (#749)
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
