Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

docs: update CHANGELOG for v1.29.1
  CHANGELOG.md
Labels: documentation

docs: replace README demo video with report screenshot
  README.md
  assets/demo-report.png
Labels: documentation

Remove demo video link from README
  README.md
Labels: documentation

Redesign the analyze HTML report
  assets/demo-report.png
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/analyze_html.go
  service/analyze_html_test.go
  service/html_star_link_test.go
  service/templates/analyze/report.css
  service/templates/analyze/report.html
  service/templates/analyze/report.js
  website/docs/fr/output/html-report.md
  website/docs/ja/output/html-report.md
  website/docs/output/html-report.md
  website/docs/zh/output/html-report.md
Labels: documentation, tests

Address review findings on the analyze report
  service/analyze_html.go
  service/analyze_html_test.go
  service/templates/analyze/report.css
  service/templates/analyze/report.html
  service/templates/analyze/report.js
Labels: tests

fix(lcom): exclude constructors from the LCOM4 graph
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
  website/docs/fr/rules/low-class-cohesion.md
  website/docs/ja/rules/low-class-cohesion.md
  website/docs/rules/low-class-cohesion.md
  website/docs/zh/rules/low-class-cohesion.md
Labels: documentation, analyzer, tests

feat(report)!: emit snake_case keys throughout analyze JSON/YAML
  CHANGELOG.md
  domain/cbo.go
  domain/complexity.go
  domain/dead_code.go
  domain/lcom.go
  domain/system_analysis.go
  integration/community_integration_test.go
  service/cbo_service.go
  service/cbo_service_test.go
  service/community_analysis_service.go
  service/community_formatter_test.go
  service/lcom_service.go
  service/testdata/golden/community_analysis.json
  website/docs/fr/output/schemas.md
  website/docs/ja/output/schemas.md
  website/docs/output/schemas.md
  website/docs/zh/output/schemas.md
Labels: documentation, tests

fix(lcom): keep constructor property reads out of InstanceVariables
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

test(lcom): add failing repro for #678 (call targets counted as instance variables)
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

Exclude method-call targets from LCOM4 InstanceVariables count
  internal/analyzer/lcom.go
Labels: analyzer

fix: keep snapshot filename filters consistent
  service/file_reader.go
  service/file_reader_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

fix: preserve project module roots
  app/analyze_usecase.go
  service/project_root.go
  service/project_root_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

fix: constrain module discovery scope
  domain/defaults.go
  domain/defaults_test.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
Labels: tests

fix: resolve captured namespace imports
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_parsed_test.go
  service/project_snapshot_test.go
Labels: analyzer, tests

fix: retain cancelled snapshot paths
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

refactor: seal aggregate file selection
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analyze.go
  domain/defaults.go
  domain/defaults_test.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

refactor: type aggregate task results
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  app/analyze_usecase_test.go
Labels: tests

refactor: key progress by analysis kind
  app/analysis_progress.go
  app/analysis_progress_test.go
  app/analyze_usecase.go
  service/timing_cache.go
Labels: tests

refactor: remove snapshot compatibility state
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

fix: preserve informational clone failures
  cmd/pyscn/check.go
  cmd/pyscn/check_parse_errors_test.go
Labels: cli, tests

fix: describe skipped analysis accurately
  service/analyze_html.go
  service/analyze_html_test.go
Labels: tests

fix: trust captured clone scope
  service/clone_service.go
  service/clone_service_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

refactor: capture module roots with snapshots
  app/analyze_usecase.go
  service/project_snapshot.go
  service/project_snapshot_bench_test.go
  service/project_snapshot_test.go
Labels: tests

fix: allow waived empty dependency graphs
  cmd/pyscn/check_parse_errors_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: cli, tests

fix: waive only parse diagnostics
  cmd/pyscn/check_parse_errors_test.go
  cmd/pyscn/check_policy.go
Labels: cli, tests

fix: retain analyzer failure causes
  app/analyze_usecase.go
  service/di_antipattern_service.go
  service/mock_data_service.go
Labels: none

fix: honor snapshot cancellation upfront
  service/di_antipattern_service.go
  service/di_antipattern_service_test.go
  service/mock_data_service.go
  service/mock_data_service_test.go
Labels: tests

fix: retain unresolved snapshot paths
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

docs: define aggregate failure schemas
  website/docs/output/schemas.md
Labels: documentation

test: align empty graph diagnostics
  mcp/handlers_test.go
Labels: tests

refactor: remove stale selection helper
  service/project_snapshot.go
Labels: none

refactor: preserve snapshot file access
  service/clone_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

refactor: preserve configured file scope API
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analyze.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
Labels: tests

fix: honor snapshot clone file scope
  service/clone_service.go
  service/clone_service_test.go
  service/project_snapshot.go
Labels: tests

fix: report module surface diagnostics
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  service/project_snapshot.go
Labels: tests

docs: clarify aggregate coverage phases
  website/docs/output/schemas.md
Labels: documentation

test: assert complete module coverage
  app/analyze_usecase_test.go
Labels: tests

fix: preserve zero-value snapshot scope
  app/lcom_usecase_test.go
  service/project_snapshot.go
Labels: tests

fix: normalize dead code YAML fields
  domain/dead_code.go
  domain/dead_code_test.go
Labels: tests

fix: preserve reporter scope identity
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/analyzer/file_analyzer.go
  internal/analyzer/file_analyzer_test.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, tests

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
