Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix(clone): penalize Type-4 similarity for disjoint string literal vocabularies
  internal/analyzer/semantic_literal_evidence_test.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/type4_detector_test.go
  internal/analyzer/type4_similarity_test.go
  testdata/python/clones/type4/field_converter_a.py
  testdata/python/clones/type4/field_converter_b.py
Labels: analyzer, tests

fix(cbo): stop counting imported function calls as class dependencies
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix(cbo): keep class coupling for class-method calls on dotted names
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.23.2
  CHANGELOG.md
Labels: documentation

fix(parser): preserve every elif in a chain so complexity isn't undercounted (#511)
  internal/analyzer/complexity_elif_chain_test.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

perf(clone): reuse APTED DP matrices and parallelize pair comparison
  internal/analyzer/apted.go
  internal/analyzer/apted_tree.go
  internal/analyzer/clone_detector.go
Labels: analyzer

fix(clone): invalidate key-root cache on mutation, stream LSH verification
  internal/analyzer/apted_tree.go
  internal/analyzer/apted_tree_test.go
  internal/analyzer/clone_detector.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.24.0
  CHANGELOG.md
Labels: documentation

fix(analyze): calibrate progress bar with actual task timings
  app/analysis_progress.go
  app/analysis_progress_test.go
  app/analyze_usecase.go
  service/timing_cache.go
Labels: tests

docs: add duplicate code detection guide
  Makefile
  website/docs/guides/find-duplicate-code-python.md
  website/mkdocs.yml
Labels: documentation

docs: add japanese translation of clone guide
  website/docs/ja/guides/find-duplicate-code-python.md
Labels: documentation

docs: add zh and fr translations of clone guide
  website/docs/fr/guides/find-duplicate-code-python.md
  website/docs/zh/guides/find-duplicate-code-python.md
Labels: documentation

docs: align guide title tags with h1
  website/docs/fr/guides/find-duplicate-code-python.md
  website/docs/guides/find-duplicate-code-python.md
  website/docs/ja/guides/find-duplicate-code-python.md
  website/docs/zh/guides/find-duplicate-code-python.md
Labels: documentation

chore: add search console verification file
  website/docs/googlea7df632a98273149.html
Labels: none

fix: suppress clone groups covered by another group's larger windows
  internal/analyzer/clone_detector.go
  internal/analyzer/group_dedup.go
  internal/analyzer/group_dedup_test.go
Labels: analyzer, tests

fix(clones): populate fragment hash in clone output
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/textual_similarity.go
  service/clone_service.go
  service/clone_service_content_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.24.1
  CHANGELOG.md
Labels: documentation

feat(complexity): use cognitive metrics for risk
  app/analyze_usecase.go
  app/complexity_usecase.go
  docs/ANALYZE_SCORING.md
  docs/algorithms/complexity.md
  domain/analyze.go
  domain/analyze_test.go
  domain/complexity.go
  domain/defaults.go
  internal/analyzer/complexity.go
  internal/analyzer/complexity_benchmark_test.go
  internal/analyzer/complexity_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  service/analyze_config_loader.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/config_loader.go
Labels: documentation, analyzer, cli, tests

feat(analyzer): group namespace import members for CBO calculation
  app/analyze_usecase.go
  domain/cbo.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  internal/config/cbo_config_test.go
  internal/config/default_config.toml.tmpl
  internal/config/pyproject_loader.go
  internal/config/pyscn_config.go
  internal/config/toml_loader.go
  service/cbo_config_loader.go
  service/cbo_config_loader_test.go
  service/cbo_service.go
  service/cbo_service_test.go
Labels: analyzer, cli, tests

fix(score): change duplication metric from group density to fragment ratio
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/check.go
  domain/analyze.go
  domain/analyze_test.go
  service/analyze_formatter.go
Labels: cli, tests

chore: fix gofmt alignment and update stale duplication penalty comments
  domain/analyze.go
  domain/analyze_test.go
Labels: tests

fix(score): address review feedback for fragment-ratio duplication metric
  app/analyze_usecase.go
  cmd/pyscn/check.go
  service/analyze_formatter.go
  website/docs/fr/output/health-score.md
  website/docs/ja/output/health-score.md
  website/docs/output/health-score.md
  website/docs/zh/output/health-score.md
Labels: documentation, cli

fix(analyzer): prefer highest-similarity clone type for group classification (issue #525)
  internal/analyzer/clone_detector_test.go
  internal/analyzer/complete_linkage_grouping.go
  internal/analyzer/complete_linkage_grouping_test.go
  internal/analyzer/connected_grouping.go
  internal/analyzer/group_dedup.go
  internal/analyzer/grouping_strategies_test.go
  internal/analyzer/k_core_grouping.go
  internal/analyzer/star_medoid_grouping.go
  testdata/python/issue525/aggregation.py
Labels: analyzer, tests

docs: update CHANGELOG for v1.24.2
  CHANGELOG.md
Labels: documentation

fix(lcom): count self.<property> reads as method-call edges
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(config): honor explicit threshold overrides matching defaults
  service/config_loader.go
  service/config_loader_test.go
  service/config_loader_with_flags.go
  service/config_loader_with_flags_test.go
Labels: tests

feat(cli): add complexity threshold flags to analyze command
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
Labels: cli

test(cli): add threshold flag tests for analyze command
  app/analyze_usecase_test.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

refactor(clone): integrate statistics into detector result types
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_bench_test.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/clone_memory_test.go
  internal/analyzer/lsh_integration_test.go
  internal/analyzer/type4_detector_test.go
  service/basic_service_test.go
  service/clone_service.go
  service/clone_service_test.go
Labels: analyzer, tests

fix(cbo): don't count a class defined within a class as coupling
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

feat(analyzer): build CommunityGraph from DependencyGraph (issue #579)
  internal/analyzer/community_graph.go
  internal/analyzer/community_graph_test.go
Labels: analyzer, tests

fix(analyzer): use ExcludeLazyEdges for correct zero-value default
  internal/analyzer/community_graph.go
  internal/analyzer/community_graph_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.24.3
  CHANGELOG.md
Labels: documentation

feat(analyzer): implement deterministic Leiden community detection (issue #580)
  internal/analyzer/leiden.go
  internal/analyzer/leiden_bench_test.go
  internal/analyzer/leiden_test.go
Labels: analyzer, tests

fix(analyzer): address Leiden review findings (issue #580)
  internal/analyzer/leiden.go
  internal/analyzer/leiden_test.go
Labels: analyzer, tests

fix(cbo): resolve method signature annotations in the defining scope
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

feat(communities): wire domain, service, and use-case layers (#582)
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  app/community_usecase.go
  app/community_usecase_test.go
  domain/analyze.go
  domain/community.go
  domain/defaults.go
  internal/analyzer/community_metrics.go
  internal/analyzer/community_metrics_test.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
Labels: analyzer, tests

fix(communities): wire entry points and fix project root detection
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  app/community_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/analyze_wiring_test.go
  domain/community.go
  mcp/handlers.go
  mcp/wiring_test.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/community_formatter.go
  service/project_root.go
  service/project_root_test.go
  service/system_analysis_service.go
Labels: cli, tests

fix(communities): expose communities in CLI --select and MCP schema
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  mcp/tools.go
Labels: cli, tests

fix(mcp): keep community analysis opt-in when analyses is omitted
  mcp/handlers.go
  mcp/tools.go
  mcp/wiring_test.go
Labels: tests
