Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

refactor: Extract common file resolution logic into shared helper (#183)
  app/cbo_usecase.go
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/file_resolution_helper.go
  app/file_resolution_helper_test.go
  app/system_analysis_usecase.go
Labels: tests

chore: improve build system and MCP documentation
  Makefile
  README.md
Labels: documentation

chore: update issue templates for user feedback
  .github/ISSUE_TEMPLATE/feedback.md
  .github/ISSUE_TEMPLATE/task.md
Labels: documentation

chore: prepare v1.2.0 release
  CHANGELOG.md
Labels: documentation

chore: update CHANGELOG.md with PR references
  CHANGELOG.md
Labels: documentation

chore: add pyscn-mcp as standalone PyPI package
  .github/workflows/python-release.yml
  python/README-mcp.md
  python/pyproject-mcp.toml
  python/scripts/build_mcp_wheel.sh
  python/src/pyscn_mcp/__init__.py
  python/src/pyscn_mcp/__main__.py
Labels: documentation, ci

chore: prepare v1.2.1 release
  CHANGELOG.md
Labels: documentation

fix: use pip platform detection for wheel installation tests
  .github/workflows/python-release.yml
Labels: ci

fix: simplify pyscn-mcp wheel build by reusing binaries
  .github/workflows/python-release.yml
  python/scripts/build_mcp_wheel.sh
  python/scripts/build_platform_wheel.sh
Labels: ci

fix: preserve dist/ directory with wheels during cleanup
  python/scripts/build_platform_wheel.sh
Labels: none

fix: resolve build path and wheel filtering issues
  .github/workflows/python-release.yml
  python/scripts/build_platform_wheel.sh
Labels: ci

fix: remove license file reference from pyscn-mcp pyproject.toml
  python/pyproject-mcp.toml
Labels: none

fix: add unzip and python to Windows MSYS2 environment
  .github/workflows/python-release.yml
  python/scripts/build_platform_wheel.sh
Labels: ci

fix: use GitHub Actions Python on Windows instead of MSYS2 Python
  .github/workflows/python-release.yml
  python/scripts/build_platform_wheel.sh
Labels: ci

chore: use create_wheel.sh for pyscn-mcp to avoid Python dependency on Windows
  python/scripts/build_platform_wheel.sh
  python/scripts/create_wheel.sh
Labels: none

chore: remove unnecessary Python checks from Windows build
  .github/workflows/python-release.yml
Labels: ci

feat: add compact summary output mode for MCP tools
  mcp/handlers.go
Labels: none

fix: format code with gofmt
  mcp/handlers.go
Labels: none

fix: separate total count from displayed results in format functions
  mcp/handlers.go
Labels: none

chore: remove unnecessary file
  python/pyproject-mcp.toml
Labels: none

chore: remove redundant sentence
  README.md
Labels: documentation

chore(release): prepare v1.2.2
  CHANGELOG.md
Labels: documentation

fix: Resolve #207 - [BUG] Clone detection stats count skipped files as analyzed
  service/clone_service.go
  service/clone_service_test.go
Labels: tests

fix(parser): extract finally clause from try statements
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_finally_test.go
  internal/parser/ast_builder.go
  internal/parser/ast_debug_test.go
  internal/parser/parser_test.go
Labels: parser, analyzer, tests

fix(cfg): prevent self-loop when return is inside finally block
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_finally_test.go
Labels: analyzer, tests

fix(cfg): propagate return through nested finally blocks
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_finally_test.go
Labels: analyzer, tests

docs: add analyze scoring reference
  docs/ANALYZE_SCORING.md
Labels: documentation

feat: add circular dependency detection
  README.md
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  service/circular_dependency_service.go
  service/circular_dependency_service_test.go
  testdata/python/circular/main.py
  testdata/python/circular/physics.py
  testdata/python/circular/player.py
Labels: documentation, cli, tests

refactor: remove dead clone grouping fallback
  internal/analyzer/clone_detector.go
Labels: analyzer

refactor: drop unused clone similarity helper
  internal/analyzer/clone_detector.go
Labels: analyzer

test(system-analysis): cover helper utilities
  service/system_analysis_service_helpers_test.go
Labels: tests

test(version): add unit tests for version package functions
  internal/version/version_test.go
Labels: tests

test(version): enhance metadata validation in Info() test
  internal/version/version_test.go
Labels: tests

fix(test): correct expected format for pyscn line in version info output
  internal/version/version_test.go
Labels: tests

test(version): add unit tests for version package functions (#218)
  internal/version/version_test.go
Labels: tests

feat: add circular dependency detection
  README.md
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  service/circular_dependency_service.go
  service/circular_dependency_service_test.go
  testdata/python/circular/main.py
  testdata/python/circular/physics.py
  testdata/python/circular/player.py
Labels: documentation, cli, tests

feat: add circular dependency detection to check command
  README.md
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  testdata/python/circular_deps_test/main.py
  testdata/python/circular_deps_test/physics.py
  testdata/python/circular_deps_test/player.py
Labels: documentation, cli, tests

docs: simplify readme
  README.md
Labels: documentation

refactor: simplify checkCircularDependencies implementation
  cmd/pyscn/check.go
Labels: cli

feat: improve analyze scoring strictness (#212)
  app/analyze_usecase.go
  docs/ANALYZE_SCORING.md
  domain/analyze.go
  domain/analyze_test.go
Labels: documentation, tests
