Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

docs: clarify caching as future enhancement
  docs/ARCHITECTURE.md
Labels: documentation

fix: add missing CloneConfig validation call
  internal/config/config.go
Labels: cli

fix: use nested TOML sections in default config template
  cmd/pyscn/init.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

fix: change default sort order to complexity for HTML reports
  .pyscn.toml
  internal/config/config.go
  internal/config/config_test.go
  internal/reporter/complexity_reporter_test.go
Labels: cli, tests

fix: add missing config sections and set default sort to complexity
  cmd/pyscn/init.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

Implement show_content option for HTML output
  app/analyze_usecase.go
  app/clone_usecase.go
  internal/analyzer/clone_detector.go
  service/analyze_formatter.go
  service/clone_service.go
Labels: analyzer

docs: add enterprise support section to README
  README.md
Labels: documentation

chore: prepare v1.0.1 release
  CHANGELOG.md
Labels: documentation

feat: Add comprehensive test coverage for error_categorizer.go
  service/error_categorizer_test.go
Labels: tests

Run go fmt
  service/error_categorizer_test.go
Labels: tests

feat: Add comprehensive test coverage for error_categorizer.go (#142)
  service/error_categorizer_test.go
Labels: tests

Implements a function to calculate the maximum nesting depth for Python functions by traversing their Abstract Syntax Tree (AST).
  internal/analyzer/nesting_depth.go
  internal/analyzer/nesting_depth_test.go
Labels: analyzer, tests

simplify NestingDepthResult comment
  internal/analyzer/nesting_depth.go
Labels: analyzer

refactor: exclude function/class definitions from nesting depth
  internal/analyzer/nesting_depth.go
Labels: analyzer

Updated the test file to reflect the change.
  internal/analyzer/nesting_depth_test.go
Labels: analyzer, tests

feat: Add maximum nesting depth calculator for Python functions (#143)
  internal/analyzer/nesting_depth.go
  internal/analyzer/nesting_depth_test.go
Labels: analyzer, tests

fix: resolve current directory detection when using '.' as path
  service/file_reader.go
  service/file_reader_test.go
Labels: tests

fix: add proper error handling for os.Chdir in test
  service/file_reader_test.go
Labels: tests

docs: improve README structure and installation section
  README.md
Labels: documentation

feat: add nesting depth to complexity metrics
  domain/complexity.go
  internal/analyzer/cfg.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/complexity.go
  service/complexity_service.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: analyzer, tests

Ignore circular dependencies for imports inside TYPE_CHECKING
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_type_checking_test.go
  testdata/python/type_checking_imports.py
Labels: analyzer, tests

Support for ** exclude patterns as seen in default config file
  service/file_reader.go
  service/file_reader_globstar_test.go
  service/file_reader_validation_test.go
Labels: tests

preventing browser from opening report when via ssh
  cmd/pyscn/analyze.go
  cmd/pyscn/utils.go
  service/browser.go
  service/file_output_writer.go
Labels: cli

makefile: fixed ascii escape codes being printed literally
  Makefile
Labels: none

feat(complexity): add nesting depth column to HTML complexity report
  service/html_formatter.go
Labels: none

Updated the test file to reflect the change.
  service/html_formatter_test.go
Labels: tests

Ignore circular dependencies for imports inside TYPE_CHECKING (#151)
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_type_checking_test.go
  testdata/python/type_checking_imports.py
Labels: analyzer, tests

fix: resolve current directory detection when using '.' as path (#147)
  service/file_reader.go
  service/file_reader_test.go
Labels: tests

docs: improve README structure and installation section (#148)
  README.md
Labels: documentation

feat: add nesting depth to unified analysis report HTML table
  service/analyze_formatter.go
Labels: none

docs: simplify and modernize pull request template
  .github/pull_request_template.md
Labels: documentation

Replace custom globbing with doublestar package
  .pyscn.toml
  app/analyze_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyscn/.pyqol.yaml
  cmd/pyscn/check.go
  cmd/pyscn/init.go
  domain/cbo.go
  domain/clone.go
  domain/clone_test.go
  domain/dead_code.go
  domain/system_analysis.go
  go.mod
  go.sum
  integration/clone_integration_test.go
  integration/complexity_integration_test.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_type_checking_test.go
  internal/config/clone_adapters_test.go
  internal/config/clone_config.go
  internal/config/config.go
  internal/config/config_test.go
  service/complexity_service_test.go
  service/dead_code_service_test.go
  service/file_reader.go
  service/file_reader_globstar_test.go
  service/file_reader_test.go
  service/file_reader_validation_test.go
  service/system_analysis_config_loader.go
Labels: analyzer, cli, tests, dependencies

Update the path
  service/analyze_formatter.go
Labels: none

Fixed linting error and removed legacy comments
  internal/analyzer/module_analyzer.go
Labels: analyzer

Implemented --select flag in check command
  cmd/pyscn/check.go
Labels: cli

feat: add nesting depth to complexity metrics (#150)
  domain/complexity.go
  internal/analyzer/cfg.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/complexity.go
  service/analyze_formatter.go
  service/complexity_service.go
  service/html_formatter.go
  service/html_formatter_test.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: analyzer, tests

chore: prepare release v1.0.2
  CHANGELOG.md
Labels: documentation

fix: improve progress estimation for clone detection with LSH
  app/analyze_usecase.go
Labels: none

refactor: centralize LSH decision logic to eliminate duplication
  app/analyze_usecase.go
  domain/clone.go
  service/clone_service.go
Labels: none

final correction
  cmd/pyscn/check.go
Labels: cli
