Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

feat(report): add sortable module quality table
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

docs: describe module quality rollups
  README.md
  website/docs/cli/analyze.md
  website/docs/output/html-report.md
  website/docs/output/schemas.md
Labels: documentation

fix(analyze): keep module complexity unfiltered
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/complexity.go
  domain/dead_code.go
  domain/module_quality.go
  domain/module_quality_test.go
  domain/system_analysis.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: tests

fix(deadcode): aggregate before severity filters
  service/dead_code_service.go
  service/dead_code_service_test.go
Labels: tests

fix(report): complete module quality contract
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

docs: clarify stable module rollups
  website/docs/cli/analyze.md
  website/docs/output/html-report.md
  website/docs/output/schemas.md
Labels: documentation

test(system): lock module quality projection
  domain/module_quality_test.go
  website/docs/output/schemas.md
Labels: documentation, tests

fix(analyze): keep module rollups function-scoped
  domain/module_quality.go
  domain/module_quality_test.go
  website/docs/output/schemas.md
Labels: documentation, tests

fix(analyze): dedupe canonical source paths
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

fix(system): wire module quality inputs
  domain/system_analysis.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: analyzer, tests

test(report): harden module output contracts
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

fix(system): inline quality metrics in YAML
  domain/module_quality_test.go
  domain/system_analysis.go
Labels: tests

refactor(system): remove inert coupling inputs
  domain/system_analysis.go
  internal/analyzer/coupling_metrics.go
  service/system_analysis_service.go
Labels: analyzer

fix(analyze): preserve reported source paths
  app/analyze_usecase.go
  app/analyze_usecase_test.go
Labels: tests

refactor(analyze): centralize module quality ownership
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/module_quality.go
  domain/module_quality.go
  domain/module_quality_test.go
  domain/system_analysis.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
  website/docs/output/schemas.md
Labels: documentation, analyzer, tests

fix(complexity): preserve parsed function counts
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  service/system_analysis_service.go
Labels: tests

fix(analyze): preserve system-only source paths
  app/analysis_paths.go
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/module_quality.go
Labels: tests

test(analyze): share module quality fixture
  app/analyze_usecase_test.go
Labels: tests

feat(analyze): define directory quality rollups
  app/directory_quality.go
  app/directory_quality_test.go
  domain/module_quality.go
Labels: tests

feat(analyze): publish directory quality hierarchy
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analyze.go
Labels: tests

test(analyze): lock directory quality contract
  service/analyze_formatter_test.go
Labels: tests

feat(report): show directory quality in text
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

feat(report): export directory quality to csv
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

feat(report): add directory quality table
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

docs: describe directory quality outputs
  README.md
  website/docs/output/html-report.md
  website/docs/output/schemas.md
Labels: documentation

refactor: align rollups with complexity
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/directory_quality.go
  app/directory_quality_test.go
  domain/analyze.go
  domain/complexity.go
  domain/module_quality.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

feat: publish directory complexity rollups
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/directory_quality.go
  app/directory_quality_test.go
Labels: tests

feat: serialize directory complexity
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

feat: show directory complexity in text
  service/analyze_formatter.go
  service/directory_complexity_formatter.go
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

feat: export directory complexity in csv
  service/output_formatter.go
  service/output_formatter_test.go
Labels: tests

feat: add directory complexity to html
  service/html_formatter.go
  service/html_formatter_test.go
Labels: tests

docs: describe directory complexity rollups
  README.md
  website/docs/output/html-report.md
  website/docs/output/schemas.md
Labels: documentation

docs: fix complexity formatter references
  website/docs/output/html-report.md
  website/docs/output/schemas.md
Labels: documentation

fix: propagate analysis text write errors
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

fix: preserve standalone csv records
  service/output_formatter.go
  service/output_formatter_test.go
  website/docs/output/schemas.md
Labels: documentation, tests

test: prove directory filter semantics
  app/complexity_usecase_test.go
Labels: tests

fix: append directory csv rows
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  website/docs/output/schemas.md
Labels: documentation, tests

test: cover multi-root directory rollups
  app/complexity_usecase_test.go
  domain/complexity.go
  website/docs/output/schemas.md
Labels: documentation, tests

refactor: name directory complexity files
  app/directory_complexity.go
  app/directory_complexity_test.go
Labels: tests

docs: correct unified csv description
  website/docs/output/schemas.md
Labels: documentation
