Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

test: update tests for new clone detection thresholds
  domain/defaults_test.go
  integration/clone_integration_test.go
  internal/analyzer/clone_detector_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.9.1
  CHANGELOG.md
Labels: documentation

feat: add DI anti-pattern detection for Python code
  app/di_antipattern_usecase.go
  domain/complexity.go
  domain/defaults.go
  domain/di_antipattern.go
  integration/di_antipattern_integration_test.go
  internal/analyzer/concrete_dependency_detector.go
  internal/analyzer/constructor_analyzer.go
  internal/analyzer/di_antipattern_detector.go
  internal/analyzer/di_antipattern_detector_test.go
  internal/analyzer/hidden_dependency_detector.go
  internal/analyzer/service_locator_detector.go
  mcp/handlers.go
  mcp/tools.go
  service/di_antipattern_formatter.go
  service/di_antipattern_service.go
  testdata/python/di_antipatterns/concrete_dependency.py
  testdata/python/di_antipatterns/constructor_over_injection.py
  testdata/python/di_antipatterns/hidden_dependency.py
  testdata/python/di_antipatterns/service_locator.py
Labels: analyzer, tests

fix: address lint warnings in DI anti-pattern detection
  internal/analyzer/concrete_dependency_detector.go
  internal/analyzer/di_antipattern_detector.go
  service/di_antipattern_service.go
Labels: analyzer

refactor: address code review feedback for DI anti-pattern detection
  internal/analyzer/concrete_dependency_detector.go
  internal/analyzer/di_antipattern_detector_test.go
  internal/analyzer/hidden_dependency_detector.go
  internal/analyzer/service_locator_detector.go
  internal/parser/ast.go
Labels: parser, analyzer, tests

feat(cli): add DI anti-pattern detection to check command
  cmd/pyscn/check.go
  domain/di_antipattern.go
  internal/config/pyscn_config.go
  service/di_antipattern_config_loader.go
Labels: cli

refactor: extract shared DI helpers and fix ClassesAnalyzed
  domain/di_antipattern.go
  internal/analyzer/concrete_dependency_detector.go
  internal/analyzer/constructor_analyzer.go
  internal/analyzer/di_antipattern_detector.go
  internal/analyzer/di_helpers.go
  internal/analyzer/hidden_dependency_detector.go
  internal/analyzer/service_locator_detector.go
  service/di_antipattern_formatter.go
Labels: analyzer

fix: exclude test modules from layer detection
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

fix: reduce clone detection false positives for framework patterns
  internal/analyzer/apted_cost.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/framework_patterns.go
  internal/analyzer/framework_patterns_test.go
  testdata/python/frameworks/actual_clones.py
  testdata/python/frameworks/dataclasses_similar.py
  testdata/python/frameworks/pydantic_models.py
Labels: analyzer, tests

refactor: simplify boilerplate detection and remove DRY violation
  internal/analyzer/apted_cost.go
  internal/analyzer/clone_classifier_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/framework_patterns.go
  internal/analyzer/framework_patterns_test.go
Labels: analyzer, tests

fix: prevent Type-3 clone false positives for different class/function names
  internal/analyzer/apted_cost.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

fix: include AsyncFunctionDef in isTopLevelDefinition for consistency
  internal/analyzer/apted_cost.go
  internal/analyzer/apted_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.9.2
  CHANGELOG.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md (#316)
  README.md
Labels: documentation

added tfidf to analyzers
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  internal/analyzer/apted.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/clone_detector.go
  internal/analyzer/semantic_similarity.go
  internal/analyzer/similarity_analyzer.go
  internal/analyzer/structural_similarity.go
  internal/analyzer/syntactic_similarity.go
  internal/analyzer/textual_similarity.go
  internal/analyzer/tfidf.go
  internal/config/pyscn_config.go
  service/clone_service.go
Labels: analyzer, cli

fix: reduce false positives in DI anti-pattern detection
  domain/defaults.go
  integration/di_antipattern_integration_test.go
  internal/analyzer/di_antipattern_detector_test.go
  internal/analyzer/service_locator_detector.go
  service/di_antipattern_service.go
Labels: analyzer, tests

fix: detect circular dependencies through __init__.py re-exports
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_reexport_test.go
  internal/analyzer/reexport_resolver.go
  internal/analyzer/reexport_resolver_test.go
  testdata/python/reexport_cycle/pkg_a/__init__.py
  testdata/python/reexport_cycle/pkg_a/module_x.py
  testdata/python/reexport_cycle/pkg_b/__init__.py
  testdata/python/reexport_cycle/pkg_b/file.py
Labels: analyzer, tests

style: fix gofmt formatting in reexport_resolver.go
  internal/analyzer/reexport_resolver.go
Labels: analyzer

test: add tests for level 2+ relative imports, aliases, and wildcard limitation
  internal/analyzer/reexport_resolver.go
  internal/analyzer/reexport_resolver_test.go
Labels: analyzer, tests

fix: address code review feedback for re-export tracking
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_reexport_test.go
  internal/analyzer/reexport_resolver.go
  internal/analyzer/reexport_resolver_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.9.3
  CHANGELOG.md
Labels: documentation

feat: add missing error code constants
  domain/errors.go
Labels: none

test: add test for ast_features.go
  internal/analyzer/ast_features_test.go
Labels: analyzer, tests

test: add test for ast_features.go (#321)
  internal/analyzer/ast_features_test.go
Labels: analyzer, tests

feat: Add CFG support for Walrus operator
  internal/analyzer/cfg_builder.go
  internal/parser/ast_builder.go
Labels: parser, analyzer

test: Test CFG support for Walrus operator
  internal/analyzer/cfg_edge_cases_test.go
Labels: analyzer, tests

feat: add missing error code constants (#320)
  domain/errors.go
Labels: none

fix(di): honor DI config and close AST traversal gaps
  cmd/pyscn/check.go
  cmd/pyscn/new_commands_test.go
  internal/analyzer/di_antipattern_detector_test.go
  internal/config/pyproject_loader.go
  internal/config/pyproject_loader_test.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  internal/parser/ast.go
  mcp/handlers.go
  mcp/handlers_di_test.go
Labels: parser, analyzer, cli, tests

fix: improve config file discovery from target paths
  app/analyze_usecase.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  service/cbo_config_loader.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
  service/mock_data_config_loader.go
Labels: cli

chore: add test-codes to gitignore
  .gitignore
Labels: none

fix(ast_tree): removing wrapping of simple assignement
  internal/parser/ast_builder.go
Labels: parser

fix(config): unify config resolution across analyze pipeline
  app/analyze_usecase.go
  integration/clone_integration_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/cbo_config_loader.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
  service/mock_data_config_loader.go
Labels: cli, tests

fix(config): fail on missing explicit config path
  internal/config/config_test.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
Labels: cli, tests

fix: - handling comprehension in cfg_builder.go instead of ast_builder.go - update simple Walrus test to not expect a NodeExpr container
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

Feat: Add CFG support for Walrus operator (#322)
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

docs: update CHANGELOG for v1.10.1
  CHANGELOG.md
Labels: documentation

fix: extend clone memory test timeout to 180s
  internal/analyzer/clone_memory_test.go
Labels: analyzer, tests

fix: improve CBO analysis with Union type support and score calibration
  domain/analyze.go
  domain/analyze_test.go
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

fix: store return type annotation in Right field to avoid DFA interference
  internal/analyzer/cbo.go
  internal/parser/ast_builder.go
Labels: parser, analyzer
