Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

Fix CI configuration for Go version compatibility
  .github/workflows/ci.yml
  cmd/pyqol/main_test.go
  go.mod
Labels: ci, cli, tests, dependencies

Fix CI configuration for Go version compatibility
  .github/workflows/ci.yml
  cmd/pyqol/main_test.go
  go.mod
Labels: ci, cli, tests, dependencies

docs: add comprehensive development documentation
  docs/ARCHITECTURE.md
  docs/CODING_STANDARDS.md
  docs/DEVELOPMENT.md
  docs/TESTING.md
Labels: documentation

docs: add comprehensive development documentation
  docs/ARCHITECTURE.md
  docs/CODING_STANDARDS.md
  docs/DEVELOPMENT.md
  docs/TESTING.md
Labels: documentation

docs: add CLAUDE.md with development instructions
  CLAUDE.md
Labels: documentation

docs: add comprehensive branching strategy
  .github/branch-protection.json
  CLAUDE.md
  docs/BRANCHING.md
  docs/DEVELOPMENT.md
  scripts/branch.sh
  scripts/tasks.sh
Labels: documentation

docs: add comprehensive branching strategy
  .github/branch-protection.json
  docs/BRANCHING.md
  docs/DEVELOPMENT.md
  scripts/branch.sh
  scripts/tasks.sh
Labels: documentation

feat: integrate tree-sitter Go bindings for Python parsing
  cmd/pyqol/main.go
  cmd/pyqol/main_test.go
  go.mod
  go.sum
  internal/parser/doc.go
  internal/parser/example_test.go
  internal/parser/parser.go
  internal/parser/parser_test.go
Labels: parser, cli, tests, dependencies

feat: integrate tree-sitter Go bindings for Python parsing
  cmd/pyqol/main.go
  cmd/pyqol/main_test.go
  go.mod
  go.sum
  internal/parser/doc.go
  internal/parser/example_test.go
  internal/parser/parser.go
  internal/parser/parser_test.go
Labels: parser, cli, tests, dependencies

chore: add commit conventions
  .gitmessage
  CLAUDE.md
  docs/COMMIT_CONVENTION.md
Labels: documentation

chore: add commit conventions
  .gitmessage
  docs/COMMIT_CONVENTION.md
Labels: documentation

chore: add proper version management
  Makefile
  cmd/pyqol/main.go
  cmd/pyqol/main_test.go
  internal/version/version.go
Labels: cli, tests

chore: add proper version management
  Makefile
  cmd/pyqol/main.go
  cmd/pyqol/main_test.go
  internal/version/version.go
Labels: cli, tests

docs: add make commands to readme
  README.md
Labels: documentation

docs: add make commands to readme
  README.md
Labels: documentation

feat: implement Python AST construction from tree-sitter parse tree
  internal/parser/ast.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
  internal/parser/parser.go
Labels: parser, tests

feat: implement Python AST construction from tree-sitter parse tree
  internal/parser/ast.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
  internal/parser/parser.go
Labels: parser, tests

feat: complete AST implementation with visitor pattern and test data
  internal/parser/visitor.go
  internal/parser/visitor_test.go
  testdata/python/complex/async_await.py
  testdata/python/complex/comprehensions.py
  testdata/python/complex/decorators.py
  testdata/python/complex/exceptions.py
  testdata/python/edge_cases/nested_structures.py
  testdata/python/edge_cases/python310_features.py
  testdata/python/edge_cases/syntax_errors.py
  testdata/python/simple/classes.py
  testdata/python/simple/control_flow.py
  testdata/python/simple/functions.py
  testdata/python/simple/imports.py
Labels: parser, tests

feat: complete AST implementation with visitor pattern and test data
  internal/parser/visitor.go
  internal/parser/visitor_test.go
  testdata/python/complex/async_await.py
  testdata/python/complex/comprehensions.py
  testdata/python/complex/decorators.py
  testdata/python/complex/exceptions.py
  testdata/python/edge_cases/nested_structures.py
  testdata/python/edge_cases/python310_features.py
  testdata/python/edge_cases/syntax_errors.py
  testdata/python/simple/classes.py
  testdata/python/simple/control_flow.py
  testdata/python/simple/functions.py
  testdata/python/simple/imports.py
Labels: parser, tests

fix: address PR review feedback for AST implementation
  internal/parser/ast_builder.go
  internal/parser/ast_builder_fix.go
  internal/parser/visitor.go
  internal/parser/visitor_test.go
Labels: parser, tests

fix: address PR review feedback for AST implementation
  internal/parser/ast_builder.go
  internal/parser/ast_builder_fix.go
  internal/parser/visitor.go
  internal/parser/visitor_test.go
Labels: parser, tests

fix: resolve GitHub Actions failures
  internal/parser/ast_builder_fix.go
  internal/parser/visitor_test.go
Labels: parser, tests

fix: resolve GitHub Actions failures
  internal/parser/ast_builder_fix.go
  internal/parser/visitor_test.go
Labels: parser, tests

fix: parent references incorrectly set when extracting from block nodes
  internal/parser/ast_builder.go
  internal/parser/ast_builder_fix.go
  internal/parser/visitor_test.go
Labels: parser, tests

fix: parent references incorrectly set when extracting from block nodes
  internal/parser/ast_builder.go
  internal/parser/ast_builder_fix.go
  internal/parser/visitor_test.go
Labels: parser, tests

feat: implement CFG core data structures
  internal/analyzer/cfg.go
  internal/analyzer/cfg_test.go
Labels: analyzer, tests

feat: implement CFG core data structures
  internal/analyzer/cfg.go
  internal/analyzer/cfg_test.go
Labels: analyzer, tests

feat: implement CFG builder for basic statements
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
Labels: analyzer, tests

feat: implement CFG builder for basic statements
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
Labels: analyzer, tests

refactor: improve CFG builder based on PR feedback
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
Labels: analyzer, tests

refactor: improve CFG builder based on PR feedback
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
Labels: analyzer, tests

feat: implement CFG builder for conditional flow
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_conditional_test.go
Labels: analyzer, tests

feat: implement CFG builder for conditional flow
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_conditional_test.go
Labels: analyzer, tests

feat: implement advanced CFG constructs for issues #19, #20, #21
  internal/analyzer/cfg_advanced_test.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_conditional_test.go
  internal/analyzer/cfg_exception_test.go
  internal/analyzer/cfg_loops_test.go
Labels: analyzer, tests

feat: implement advanced CFG constructs for issues #19, #20, #21
  internal/analyzer/cfg_advanced_test.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_conditional_test.go
  internal/analyzer/cfg_exception_test.go
  internal/analyzer/cfg_loops_test.go
Labels: analyzer, tests

fix: resolve critical CFG test failures and achieve 100% pass rate
  internal/analyzer/cfg.go
  internal/analyzer/cfg_advanced_test.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_conditional_test.go
  internal/analyzer/cfg_exception_test.go
  internal/analyzer/cfg_loops_test.go
  internal/analyzer/cfg_test.go
Labels: analyzer, tests

fix: resolve critical CFG test failures and achieve 100% pass rate
  internal/analyzer/cfg.go
  internal/analyzer/cfg_advanced_test.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_conditional_test.go
  internal/analyzer/cfg_exception_test.go
  internal/analyzer/cfg_loops_test.go
  internal/analyzer/cfg_test.go
Labels: analyzer, tests

feat: implement reachability analysis for CFG traversal
  internal/analyzer/reachability.go
  internal/analyzer/reachability_bench_test.go
  internal/analyzer/reachability_example_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

feat: implement reachability analysis for CFG traversal
  internal/analyzer/reachability.go
  internal/analyzer/reachability_bench_test.go
  internal/analyzer/reachability_example_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

feat: implement reachability analysis for CFG (#22)
  examples/reachability_example.go
  internal/analyzer/reachability.go
  internal/analyzer/reachability_integration_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests
