Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

docs: define load-time depth semantics
  docs/algorithms/dependency.md
  domain/system_analysis.go
  website/docs/output/schemas.md
Labels: documentation

fix: [BUG] --min-complexity filters the analysed function set, not just the report: raising it lowers the health score (#696)
  domain/complexity.go
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: tests

fix: address review comment on #697
  service/complexity_service_test.go
Labels: tests

fix: address review comment on #697
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
Labels: tests

fix: derive SRP concerns from fan-out only
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
Labels: tests

fix: require multiple concerns before flagging hub as SRP violation
  service/responsibility_analysis.go
  service/responsibility_analysis_test.go
  website/docs/fr/rules/single-responsibility.md
  website/docs/ja/rules/single-responsibility.md
  website/docs/rules/single-responsibility.md
  website/docs/zh/rules/single-responsibility.md
Labels: documentation, tests

fix(config): stop config discovery at the target repository root
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  website/docs/configuration/format.md
  website/docs/ja/configuration/format.md
Labels: documentation, cli, tests

fix: ディレクトリ集計を完全な解析母集団に揃える
  app/analyze_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/directory_complexity.go
  app/directory_complexity_test.go
  domain/complexity.go
  service/analyze_formatter.go
  service/complexity_service.go
Labels: tests

fix(parser): reject legacy syntax no Python 3 release accepts
  internal/parser/parser.go
  internal/parser/parser_test.go
  internal/parser/python3_syntax.go
Labels: parser, tests

fix(parser): reject Python 2 tuple parameter unpacking
  internal/parser/parser_test.go
  internal/parser/python3_syntax.go
Labels: parser, tests

fix(check): fail the gate on files that cannot be parsed
  app/analyze_summary_files_test.go
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/check.go
  cmd/pyscn/check_parse_errors_test.go
  cmd/pyscn/exit_code.go
  cmd/pyscn/main.go
  cmd/pyscn/new_commands_test.go
  domain/analyze.go
  domain/complexity.go
  domain/parse_error_score_test.go
  service/basic_service_test.go
  service/complexity_service.go
  service/complexity_service_test.go
  website/docs/cli/check.md
  website/docs/fr/cli/check.md
  website/docs/fr/integrations/ci-cd.md
  website/docs/fr/output/health-score.md
  website/docs/fr/output/schemas.md
  website/docs/integrations/ci-cd.md
  website/docs/ja/cli/check.md
  website/docs/ja/integrations/ci-cd.md
  website/docs/ja/output/health-score.md
  website/docs/ja/output/schemas.md
  website/docs/output/health-score.md
  website/docs/output/schemas.md
  website/docs/zh/cli/check.md
  website/docs/zh/integrations/ci-cd.md
  website/docs/zh/output/health-score.md
  website/docs/zh/output/schemas.md
Labels: documentation, cli, tests

fix(check): gate clone detection and honour the exit-code contract
  cmd/pyscn/analyze.go
  cmd/pyscn/check.go
  cmd/pyscn/check_parse_errors_test.go
  domain/clone.go
  service/clone_service.go
  website/docs/cli/check.md
  website/docs/fr/cli/check.md
  website/docs/fr/output/health-score.md
  website/docs/fr/output/schemas.md
  website/docs/ja/cli/check.md
  website/docs/ja/output/health-score.md
  website/docs/ja/output/schemas.md
  website/docs/output/health-score.md
  website/docs/output/schemas.md
  website/docs/zh/cli/check.md
  website/docs/zh/output/health-score.md
  website/docs/zh/output/schemas.md
Labels: documentation, cli, tests

fix: report coverage across analyzer selections
  app/analyze_summary_files_test.go
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analysis_coverage.go
  domain/analyze.go
  service/project_snapshot.go
Labels: tests

perf: reuse parsed source for clone analysis
  app/analyze_usecase.go
  app/clone_usecase.go
  service/clone_service.go
  service/clone_service_test.go
  service/project_snapshot.go
Labels: tests

fix: make dependency graph clones independent
  internal/analyzer/dependency_graph.go
  internal/analyzer/dependency_graph_test.go
Labels: analyzer, tests

refactor: analyze modules from captured syntax
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_parsed_test.go
  internal/analyzer/parsed_module.go
Labels: analyzer, tests

feat: project dependency graphs from snapshots
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

refactor: separate graph analysis from discovery
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

feat: expose module graph execution settings
  domain/analyze.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
Labels: tests

perf: share one module graph across analysis
  app/analyze_usecase.go
  app/analyze_usecase_community_test.go
  app/analyze_usecase_test.go
  app/community_usecase.go
  app/system_analysis_usecase.go
Labels: tests

fix: expose partial analysis through MCP
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

refactor: check one canonical analysis result
  cmd/pyscn/analyze.go
  cmd/pyscn/analyze_wiring_test.go
  cmd/pyscn/check.go
  cmd/pyscn/check_complexity_test.go
  cmd/pyscn/check_parse_errors_test.go
  cmd/pyscn/check_policy.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

feat: render typed analysis diagnostics
  service/analyze_formatter.go
  service/analyze_formatter_test.go
Labels: tests

docs: define project coverage contract
  docs/ARCHITECTURE.md
  docs/MCP_INTEGRATION.md
  mcp/README.md
  website/docs/output/schemas.md
Labels: documentation

refactor: keep snapshot membership private
  app/lcom_usecase_test.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/lcom_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

fix: label skipped files explicitly
  service/analyze_formatter_test.go
  service/format_utils.go
Labels: tests

fix: resolve re-exports from captured syntax
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_parsed_test.go
  internal/analyzer/reexport_resolver.go
Labels: analyzer, tests

fix: preserve the project snapshot API
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/lcom_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: tests

fix: keep explicit check gates authoritative
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  cmd/pyscn/check_parse_errors_test.go
  cmd/pyscn/check_policy.go
Labels: cli, tests

fix: preserve partial analyzer failures
  app/analyze_usecase.go
  domain/analysis_coverage.go
  domain/analyze.go
  mcp/handlers.go
  mcp/handlers_test.go
Labels: tests

refactor: own project graphs in the service layer
  app/analyze_usecase.go
  app/community_usecase.go
  app/system_analysis_usecase.go
  service/community_analysis_service.go
  service/community_analysis_service_test.go
  service/project_snapshot.go
  service/project_snapshot_test.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

refactor: resolve module graph policy once
  app/analyze_usecase.go
  domain/analyze.go
  service/analyze_config_loader.go
  service/analyze_config_loader_test.go
  service/project_snapshot.go
Labels: tests

refactor: keep parse diagnostics in the snapshot
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/lcom_service.go
Labels: none

fix: fail checks on analyzer execution errors
  app/analyze_usecase.go
  domain/analysis_coverage.go
Labels: none

fix: separate parse gaps from check failures
  cmd/pyscn/check.go
  cmd/pyscn/check_parse_errors_test.go
  domain/analysis_coverage.go
  domain/di_antipattern.go
  domain/mock_data.go
  service/analysis_issues.go
  service/di_antipattern_service.go
  service/mock_data_service.go
  service/mock_data_service_test.go
Labels: cli, tests

refactor: require snapshot capable analyzers
  app/cbo_usecase.go
  app/cbo_usecase_test.go
  app/clone_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  app/lcom_usecase.go
  app/lcom_usecase_test.go
Labels: tests

fix: resolve captured imports without disk access
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  internal/analyzer/module_analyzer_parsed_test.go
Labels: analyzer, tests

fix: preserve standalone service contracts
  app/analyze_usecase_community_test.go
  app/analyze_usecase_test.go
  app/cbo_usecase.go
  app/clone_usecase.go
  app/community_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/lcom_usecase.go
  app/lcom_usecase_test.go
  app/system_analysis_usecase.go
  cmd/pyscn/analyze.go
  mcp/handlers.go
Labels: cli, tests

fix: preserve analyzer failures losslessly
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analysis_coverage.go
  domain/cbo.go
  domain/clone.go
  domain/community.go
  domain/complexity.go
  domain/dead_code.go
  domain/lcom.go
  domain/system_analysis.go
  service/analysis_issues.go
  service/analyze_formatter.go
  service/analyze_formatter_test.go
  service/cbo_service.go
  service/clone_service.go
  service/complexity_service.go
  service/dead_code_service.go
  service/lcom_service.go
  service/system_analysis_service.go
  website/docs/output/schemas.md
Labels: documentation, tests

refactor: seal captured project state
  internal/analyzer/raw_metrics.go
  internal/parser/ast.go
  service/community_analysis_service.go
  service/project_snapshot.go
  service/project_snapshot_test.go
Labels: parser, analyzer, tests
