Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix(lcom): keep global declarations from shadowing builtins
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): handle sequence iteration fallback
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): connect receiver comparisons
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): connect dict mapping conversion
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): connect item access by operation
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): respect comprehension iterable scope
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

refactor(lcom): drop builtin scope resolution
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

refactor(lcom): leave callee filtering to core
  internal/analyzer/lcom.go
Labels: analyzer

fix(lcom): define protocol dispatch in one table
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): stop fallbacks for assigned protocol names
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

fix(lcom): honor replaced protocol methods consistently
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.32.2
  CHANGELOG.md
Labels: documentation

fix(analyzer): treat imports under __main__ guard as lazy (#827)
  internal/analyzer/dependency_graph.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_lazy_import_test.go
Labels: analyzer, tests

fix(analyzer): recognize the full Python stdlib when resolving bare imports (#828)
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
  internal/analyzer/stdlib_modules.go
Labels: analyzer, tests

fix(analyzer): keep package __init__ edges to its own submodules (#829)
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.32.3
  CHANGELOG.md
Labels: documentation

fix(deadcode): keep one dead region as one finding
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix(deadcode): stop a region from spanning a reachable branch
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix(clone): dedup the pair groups that appendUncoveredPairGroups creates
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  website/docs/configuration/reference.md
Labels: documentation, analyzer, tests

fix(deadcode): count only compound headers as reachable
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix(lcom): leave isolated stateless methods out of LCOM4
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
  website/docs/output/schemas.md
  website/docs/rules/low-class-cohesion.md
Labels: documentation, analyzer, tests

docs: link install badges straight to the App install
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs: link install badges straight to the App install (#837)
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs: update CHANGELOG for v1.32.4
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.32.4 (#838)
  CHANGELOG.md
Labels: documentation

docs: give polyscan its own README section and align translations
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation

docs: give polyscan its own README section and align translations (#840)
  README.fr.md
  README.ja.md
  README.md
  README.zh-CN.md
Labels: documentation
