Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix: add RECORD file CSV validation to CI workflow
  .github/workflows/python-release.yml
Labels: ci

fix: improve RECORD file hash generation with PEP 427 compliance
  python/scripts/create_wheel.sh
Labels: none

fix: improve RECORD file hash generation with PEP 427 compliance
  python/scripts/create_wheel.sh
Labels: none

chore: standardize project name to pyscn throughout codebase
  .gitignore
  .pyscn.yaml.example
  LICENSE
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  service/analyze_formatter.go
  service/html_formatter.go
  service/html_formatter_test.go
  service/output_formatter_test.go
Labels: documentation, tests

docs: clean up CHANGELOG and remove legacy beta versions
  CHANGELOG.md
Labels: documentation

chore: finalize repository for public release (#76)
  .gitignore
  .pyscn.yaml.example
  CHANGELOG.md
  LICENSE
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  service/analyze_formatter.go
  service/html_formatter.go
  service/html_formatter_test.go
  service/output_formatter_test.go
Labels: documentation, tests

test: improve service layer test coverage from 17.8% to 41.1%
  service/cbo_service_test.go
  service/clone_service_test.go
  service/complexity_service_test.go
  service/dead_code_service_test.go
Labels: tests

fix: add nolint annotations for intentional nil context tests
  service/clone_service_test.go
Labels: tests

refactor: eliminate DRY violations in service test files
  service/cbo_service_test.go
  service/clone_service_test.go
  service/complexity_service_test.go
  service/dead_code_service_test.go
Labels: tests

fix: replace hardcoded version in analyze command with dynamic version
  cmd/pyscn/analyze.go
Labels: cli

feat: improve HTML reports and health score calculation
  analyze_20250910_112737.html
  analyze_20250910_123538.html
  analyze_20250910_123615.html
  analyze_20250910_124033.html
  analyze_20250910_133656.html
  analyze_20250910_133742.html
  analyze_20250910_135746.html
  analyze_20250910_150750.html
  analyze_20250910_164535.html
  analyze_20250910_164727.html
  analyze_20250910_165913.html
  analyze_20250910_165937.html
  deadcode_20250910_132639.json
  deadcode_20250910_133636.html
  deadcode_20250910_133710.json
  deadcode_20250910_133732.json
  domain/analyze.go
  service/analyze_formatter.go
  service/cbo_formatter.go
  service/clone_formatter.go
  service/dead_code_formatter.go
  service/dead_code_service.go
  service/format_utils.go
  service/output_formatter.go
  testdata/python/complex/dead_code_complex.py
  testdata/python/edge_cases/dead_code_examples.py
  testdata/python/simple/dead_code_simple.py
Labels: tests

fix: correct normalization factor calculation for project size
  domain/analyze.go
Labels: none

fix: update test cases for new unified format
  service/output_formatter_test.go
Labels: tests

test: update test expectations for unified report format
  e2e/clone_e2e_test.go
  e2e/dead_code_e2e_test.go
  integration/clone_integration_test.go
Labels: tests

refactor: remove unused functions to fix lint warnings
  service/cbo_formatter.go
  service/output_formatter.go
Labels: none

chore: remove outputs
  analyze_20250910_112737.html
  analyze_20250910_123538.html
  analyze_20250910_123615.html
  analyze_20250910_124033.html
  analyze_20250910_133656.html
  analyze_20250910_133742.html
  analyze_20250910_135746.html
  analyze_20250910_150750.html
  analyze_20250910_164535.html
  analyze_20250910_164727.html
  analyze_20250910_165913.html
  analyze_20250910_165937.html
  deadcode_20250910_132639.json
  deadcode_20250910_133636.html
  deadcode_20250910_133710.json
  deadcode_20250910_133732.json
Labels: none

feat(analyzer): implement Star/Medoid grouping strategy and tests (Issue #80)
  internal/analyzer/clone_detector.go
  internal/analyzer/grouping_strategy.go
  internal/analyzer/star_medoid_grouping.go
  internal/analyzer/star_medoid_grouping_test.go
Labels: analyzer, tests

chore(lint): fix lints in new analyzer files (formatting, nolint for hook)
  internal/analyzer/clone_detector.go
  internal/analyzer/grouping_strategy.go
  internal/analyzer/star_medoid_grouping.go
  internal/analyzer/star_medoid_grouping_test.go
Labels: analyzer, tests

feat(analyzer): add grouping modes (connected, star, complete_linkage, k_core) and CLI flags; integrate with detector and service (Issue #81)
  cmd/pyscn/clone.go
  domain/clone.go
  internal/analyzer/clone_detector.go
  internal/analyzer/complete_linkage_grouping.go
  internal/analyzer/connected_grouping.go
  internal/analyzer/grouping_mode.go
  internal/analyzer/grouping_strategies_test.go
  internal/analyzer/k_core_grouping.go
  service/clone_service.go
Labels: analyzer, cli, tests

perf(complete-linkage): add early exit when any inter-cluster pair < threshold (Issue #81)
  internal/analyzer/complete_linkage_grouping.go
Labels: analyzer

feat(analyzer): implement LSH-based clone detection optimization (Issue #82)
  cmd/pyscn/clone.go
  domain/clone.go
  internal/analyzer/ast_features.go
  internal/analyzer/ast_features_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/lsh_benchmark_test.go
  internal/analyzer/lsh_index.go
  internal/analyzer/lsh_index_test.go
  internal/analyzer/lsh_integration_test.go
  internal/analyzer/minhash.go
  internal/analyzer/minhash_test.go
  internal/config/clone_config.go
Labels: analyzer, cli, tests

fix: add error handling for linting compliance
  internal/analyzer/lsh_benchmark_test.go
  internal/analyzer/lsh_index_test.go
Labels: analyzer, tests

chore(lint): remove unused helpers and fix rune-to-string conversions in benches
  internal/analyzer/lsh_bench_test.go
  internal/analyzer/minhash.go
Labels: analyzer, tests

feat: unify configuration to TOML-only like ruff
  .pyscn.toml
  app/clone_usecase.go
  cmd/pyscn/clone.go
  cmd/pyscn/complexity_test.go
  cmd/pyscn/dead_code.go
  cmd/pyscn/init.go
  cmd/pyscn/new_commands_test.go
  e2e/helpers.go
  internal/config/clone_config.go
  internal/config/config.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  pyproject.toml
  service/clone_config_loader.go
  service/clone_config_loader_with_flags.go
  service/config_loader.go
  service/config_loader_with_flags.go
  service/dead_code_config_loader.go
  service/dead_code_config_loader_with_flags.go
Labels: cli, tests

fix: critical TOML configuration bugs and unify loading strategy
  .pyscn.toml
  .pyscn.yaml.example
  cmd/pyscn/clone.go
  cmd/pyscn/complexity_test.go
  cmd/pyscn/new_commands_test.go
  e2e/helpers.go
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli, tests

fix: update remaining --format examples in complexity/dead_code help
  cmd/pyscn/complexity_clean.go
  cmd/pyscn/dead_code.go
Labels: cli

fix: unify clone config loader to TOML-only strategy
  service/clone_config_loader.go
Labels: none

refactor: remove external service references from comments
  cmd/pyscn/clone.go
  internal/config/toml_loader.go
  service/clone_config_loader.go
  service/config_loader.go
  service/dead_code_config_loader.go
Labels: cli

test: fix complexity command help test expectation
  clone_20250912_002954.json
  cmd/pyscn/complexity_test.go
  complexity_20250912_003002.json
  deadcode_20250912_002958.json
Labels: cli, tests

fix: remove unused configToCloneRequest function
  service/clone_config_loader.go
Labels: none

docs: comprehensive documentation update for TOML migration
  .pyqol.yaml
  .pyscn.toml
  README.md
  docs/ARCHITECTURE.md
  docs/BRANCHING.md
  docs/CODING_STANDARDS.md
  docs/DEVELOPMENT.md
  docs/ROADMAP.md
  docs/SYSTEM_QUALITY_ANALYSIS.md
  docs/TESTING.md
Labels: documentation

fix: resolve YAML/TOML configuration inconsistencies
  .pyscn.toml
  README.md
  docs/SYSTEM_QUALITY_ANALYSIS.md
Labels: documentation

docs: replace remaining .pyscn.yaml reference with .pyscn.toml
  docs/SYSTEM_QUALITY_ANALYSIS.md
Labels: documentation

output: change default report directory to .pyscn/reports under CWD; create if missing; update docs and config comments
  README.md
  cmd/pyscn/utils.go
  internal/config/config.go
Labels: documentation, cli

utils: remove dead code path in generateOutputFilePath; always create default dir and join
  cmd/pyscn/utils.go
Labels: cli

analyze: default to HTML unified report when no format flags; auto-open only in interactive (non-CI) sessions; still print summary to stderr
  cmd/pyscn/analyze.go
Labels: cli

docs: document analyze hybrid default (HTML file + stderr summary; interactive-only auto-open) and default output dir behavior
  README.md
Labels: documentation

analyze: default HTML unified report (hybrid)
  README.md
  cmd/pyscn/analyze.go
Labels: documentation, cli

chore: remove outputs
  .gitignore
  clone_20250912_002954.json
  complexity_20250912_003002.json
  deadcode_20250912_002958.json
Labels: none

feat(deps): add module dependency analysis CLI and graph (Issue #49)
  cmd/pyscn/deps.go
  cmd/pyscn/main.go
  domain/deps.go
  internal/analyzer/dependency_graph.go
  internal/config/config.go
  service/deps_service.go
  service/html_formatter.go
Labels: analyzer, cli
