Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix: resolve memory leak and performance issues in centroid grouping
  internal/analyzer/centroid_grouping.go
Labels: analyzer

fix: resolve configuration consistency issues in clone type thresholds
  cmd/pyscn/init.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/centroid_grouping_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/grouping_mode.go
  internal/constants/clone_thresholds_test.go
Labels: analyzer, cli, tests

style: fix indentation and formatting issues in analyze command and related files
  cmd/pyscn/analyze.go
  domain/analyze.go
  service/analyze_formatter.go
  service/html_template.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
Labels: cli

fix: add missing fragmentID and makePairKey methods to CentroidGrouping
  internal/analyzer/centroid_grouping.go
Labels: analyzer

feat(clone): improve clone detection grouping and display (#97)
  cmd/pyscn/analyze.go
  cmd/pyscn/init.go
  domain/analyze.go
  internal/analyzer/centroid_grouping.go
  internal/analyzer/centroid_grouping_test.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/grouping_mode.go
  internal/constants/clone_thresholds.go
  internal/constants/clone_thresholds_test.go
  service/analyze_formatter.go
  service/clone_service.go
  service/html_template.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
Labels: analyzer, cli, tests

feat: simplify command structure with analyze --select
  README.md
  cmd/pyscn/analyze.go
  cmd/pyscn/cbo.go
  cmd/pyscn/clone.go
  cmd/pyscn/complexity_clean.go
  cmd/pyscn/dead_code.go
  cmd/pyscn/deps.go
  cmd/pyscn/main.go
Labels: documentation, cli

fix: resolve build errors and unify command registration
  cmd/pyscn/cbo.go
  cmd/pyscn/complexity_clean.go
  cmd/pyscn/deps.go
  cmd/pyscn/main.go
Labels: cli

docs: improve README clarity and add missing deps functionality
  README.md
Labels: documentation

fix: format feature list with proper bullet points
  README.md
Labels: documentation

fix: use README.md content for PyPI long description instead of hardcoded text
  python/scripts/create_wheel.sh
Labels: none

feat: add progress bar with ETA for analyze command
  cmd/pyscn/analyze.go
  go.mod
  go.sum
Labels: cli, dependencies

fix: address linter issues
  cmd/pyscn/analyze.go
Labels: cli

fix: gate progress bars to interactive stderr
  cmd/pyscn/analyze.go
Labels: cli

fix: resolve stub state of system analysis and improve architecture validation
  cmd/pyscn/analyze.go
  cmd/pyscn/deps.go
  internal/analyzer/module_analyzer.go
  service/system_analysis_service.go
Labels: analyzer, cli

fix(analyzer): restore plain import resolution
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_import_test.go
Labels: analyzer, tests

fix: add nil checks and improve config loading logic
  cmd/pyscn/deps.go
  service/system_analysis_service.go
Labels: cli

fix(service): anchor module glob patterns
  service/system_analysis_service.go
  service/system_analysis_service_patterns_test.go
Labels: tests

fix: address linter issues
  internal/analyzer/module_analyzer.go
  service/system_analysis_service.go
Labels: analyzer

fix(system-analysis): repair quality classification and violation counts
  service/system_analysis_service.go
Labels: none

refactor(analyze): decompose monolithic AnalyzeCommand into modular architecture
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  cmd/pyscn/analyze_refactored.go
  domain/output.go
  service/error_categorizer.go
  service/parallel_executor.go
  service/progress_manager.go
Labels: cli, tests

fix(analyze): populate required fields for sub-use-case requests and surface errors
  app/analyze_usecase.go
Labels: none

fix(analyze): properly initialize CloneRequest and preserve UX on partial failures
  app/analyze_usecase.go
  cmd/pyscn/analyze_refactored.go
Labels: cli

fix: restore analyze summary reporting
  app/analyze_usecase.go
Labels: none

improve: update installation docs and enhance error messages
  README.md
  cmd/pyscn/analyze.go
Labels: documentation, cli

feat: add CFG support for Python comprehensions
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_comprehension_test.go
  internal/parser/ast_builder.go
Labels: parser, analyzer, tests

fix: implement fail-fast validation for Health Score calculation
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
  domain/analyze.go
  domain/analyze_test.go
  domain/system_analysis.go
Labels: cli, tests

fix: populate ModuleMetrics in dependency analysis response
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

fix: populate missing module metrics fields from node data (#107)
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

fix: populate missing module metrics fields from node data (#107) (#111)
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: tests

test: add validation tests for system metrics extraction (#108)
  service/system_metrics_test.go
Labels: tests

test: add validation tests for system metrics extraction (#108) (#112)
  service/system_metrics_test.go
Labels: tests

Remove incomplete quality analysis feature
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/system_analysis_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/analyze_refactored.go
  cmd/pyscn/deps.go
  domain/analyze.go
  domain/analyze_test.go
  domain/system_analysis.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_comprehension_test.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
  service/error_categorizer.go
  service/parallel_executor.go
  service/progress_manager.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
Labels: analyzer, cli, tests

Fix CI: Remove MaintainabilityIndex assertion from system_metrics_test
  service/system_metrics_test.go
Labels: tests

chore: drop quality config toggle
  internal/config/config.go
Labels: cli

Remove incomplete quality analysis feature (#113)
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  app/system_analysis_usecase.go
  cmd/pyscn/analyze.go
  cmd/pyscn/analyze_refactored.go
  cmd/pyscn/deps.go
  domain/analyze.go
  domain/analyze_test.go
  domain/system_analysis.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_comprehension_test.go
  internal/analyzer/coupling_metrics.go
  internal/analyzer/dependency_graph.go
  internal/config/config.go
  service/error_categorizer.go
  service/parallel_executor.go
  service/progress_manager.go
  service/system_analysis_config_loader.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
  service/system_analysis_service_test.go
  service/system_metrics_test.go
Labels: analyzer, cli, tests

fix: address critical issues for production release
  app/analyze_usecase.go
  internal/analyzer/clone_detector.go
  internal/constants/clone_thresholds.go
  service/clone_service.go
Labels: analyzer

refactor: unify analyze command with clean architecture
  cmd/pyscn/analyze.go
  cmd/pyscn/analyze_refactored.go
  cmd/pyscn/utils.go
Labels: cli

fix: restore missing functionality in analyze command
  app/analyze_usecase.go
  cmd/pyscn/analyze.go
Labels: cli

fix(app): surface config errors when resolving file patterns
  app/analyze_usecase.go
Labels: none

refactor: remove deprecated individual commands for 1.0.0 release
  .golangci.yml
  CHANGELOG.md
  cmd/pyscn/cbo.go
  cmd/pyscn/check.go
  cmd/pyscn/clone.go
  cmd/pyscn/clone_config_wrapper.go
  cmd/pyscn/complexity_clean.go
  cmd/pyscn/complexity_test.go
  cmd/pyscn/dead_code.go
  cmd/pyscn/deps.go
  cmd/pyscn/main.go
  e2e/clone_e2e_test.go
  e2e/complexity_e2e_test.go
  e2e/dead_code_e2e_test.go
  e2e/helpers.go
  service/system_metrics_test.go
Labels: documentation, cli, tests
