Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

test: add unit tests for ShouldUseLSH function
  domain/clone_test.go
Labels: tests

Fixed missing quote marks & incorrect glob patterns. Remove debug lines.
  .pyscn.toml
  cmd/pyscn/init.go
  internal/analyzer/module_analyzer.go
Labels: analyzer, cli

Support for ** exclude patterns as seen in default config file (#152)
  .pyscn.toml
  app/analyze_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  cmd/pyscn/.pyqol.yaml
  cmd/pyscn/check.go
  cmd/pyscn/init.go
  domain/cbo.go
  domain/clone.go
  domain/clone_test.go
  domain/dead_code.go
  domain/system_analysis.go
  go.mod
  go.sum
  integration/clone_integration_test.go
  integration/complexity_integration_test.go
  internal/analyzer/module_analyzer.go
  internal/analyzer/module_analyzer_type_checking_test.go
  internal/config/clone_adapters_test.go
  internal/config/clone_config.go
  internal/config/config.go
  internal/config/config_test.go
  service/complexity_service_test.go
  service/dead_code_service_test.go
  service/file_reader.go
  service/file_reader_test.go
  service/system_analysis_config_loader.go
Labels: analyzer, cli, tests, dependencies

fix: improve progress estimation for clone detection with LSH (#161)
  app/analyze_usecase.go
  domain/clone.go
  domain/clone_test.go
  service/clone_service.go
Labels: tests

chore: prepare release v1.0.3
  CHANGELOG.md
Labels: documentation

chore: prepare release v1.0.3 (#162)
  CHANGELOG.md
Labels: documentation

refactor: embed default config and load architecture rules from TOML
  .gitignore
  cmd/pyscn/init.go
  internal/config/default_config.go
  internal/config/default_config.toml
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
Labels: cli

removed CheckUseCaseConfig()
  cmd/pyscn/check.go
Labels: cli

Implemented --select flag in check command (#159)
  cmd/pyscn/check.go
Labels: cli

refactor: embed default config and load architecture rules from TOML (#163)
  .gitignore
  cmd/pyscn/init.go
  internal/config/default_config.go
  internal/config/default_config.toml
  service/system_analysis_config_loader.go
  service/system_analysis_service.go
Labels: cli

chore: add Dependabot configuration for Go dependencies
  .github/dependabot.yml
Labels: none

replaced echo with printf for cross-platform compatibility of ansi escape codes
  Makefile
Labels: none

reusing definition of isSSH and making it public
  cmd/pyscn/analyze.go
  cmd/pyscn/utils.go
  service/browser.go
  service/file_output_writer.go
Labels: cli

reusing definition of isInteractiveEnvironment and making it public
  cmd/pyscn/analyze.go
  cmd/pyscn/utils.go
  service/browser.go
  service/progress_manager.go
Labels: cli

Add ruff-style line number output to check command (#158)
  cmd/pyscn/check.go
  domain/complexity.go
  internal/analyzer/complexity.go
  service/complexity_service.go
Labels: analyzer, cli

chore: improve issue template readability and remove unused fields
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: documentation

chore: add trailing newline to issue template files
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: documentation

chore: Improve issue template readability and remove unused fields (#169)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/task.md
Labels: documentation

chore: Release v1.1.0
  CHANGELOG.md
Labels: documentation

chore: Release v1.1.0 (#171)
  CHANGELOG.md
Labels: documentation

docs: Improve README with dev.to article link and streamline CI/CD section
  README.md
Labels: documentation

fix: small adjestment on Readme
  README.md
Labels: documentation

chore: Add Python 3.13 support to PyPI package
  .github/workflows/python-release.yml
  pyproject.toml
Labels: ci

feat: Display circular dependency details in HTML reports (#136)
  CHANGELOG.md
  service/analyze_formatter.go
  service/system_analysis_formatter.go
Labels: documentation

fix: prevent duplicate file collection in analyze command
  app/analyze_usecase.go
  app/cbo_usecase.go
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/system_analysis_usecase.go
Labels: none

test: fix mock expectations for file detection logic
  app/clone_usecase_test.go
  app/complexity_usecase_test.go
  app/dead_code_usecase_test.go
Labels: tests

fix: prevent duplicate file collection in analyze command (#178)
  app/analyze_usecase.go
  app/cbo_usecase.go
  app/clone_usecase.go
  app/clone_usecase_test.go
  app/complexity_usecase.go
  app/complexity_usecase_test.go
  app/dead_code_usecase.go
  app/dead_code_usecase_test.go
  app/system_analysis_usecase.go
Labels: tests

chore: Release v1.1.1
  CHANGELOG.md
Labels: documentation

test: Add comprehensive circular dependency test data
  testdata/python/circular_deps/__init__.py
  testdata/python/circular_deps/auth_service.py
  testdata/python/circular_deps/cache.py
  testdata/python/circular_deps/controller.py
  testdata/python/circular_deps/database.py
  testdata/python/circular_deps/logger.py
  testdata/python/circular_deps/module_a.py
  testdata/python/circular_deps/module_b.py
  testdata/python/circular_deps/notification_service.py
  testdata/python/circular_deps/repository.py
  testdata/python/circular_deps/service.py
  testdata/python/circular_deps/user_service.py
Labels: tests

fix: populate Path field in circular dependency details
  service/analyze_formatter.go
  service/system_analysis_formatter.go
  service/system_analysis_service.go
Labels: none

refactor: simplify circular dependency table to 3 columns
  service/analyze_formatter.go
  service/system_analysis_formatter.go
Labels: none

fix: remove unused convertCycleDependencies function
  service/system_analysis_service.go
Labels: none

refactor: Extract common file resolution logic into shared helper
  app/cbo_usecase.go
  app/clone_usecase.go
  app/complexity_usecase.go
  app/dead_code_usecase.go
  app/file_resolution_helper.go
  app/file_resolution_helper_test.go
  app/system_analysis_usecase.go
Labels: tests

feat(mcp): add MCP server integration, tools, and build targets
  .pyscn-mcp.toml
  Makefile
  cmd/pyscn-mcp/main.go
  docs/MCP_INTEGRATION.md
  go.mod
  go.sum
  mcp/README.md
  mcp/handlers.go
  mcp/tools.go
Labels: documentation, cli, dependencies

Bundle pyscn-mcp for uv workflows and honor PYSCN_CONFIG
  Makefile
  docs/MCP_INTEGRATION.md
  internal/config/config.go
  mcp/README.md
  mcp/handlers.go
  mcp/tools.go
  pyproject.toml
  python/src/pyscn/mcp_main.py
  uv.lock
Labels: documentation, cli

refactor mcp handlers with shared dependencie
  .pyscn-mcp.toml
  cmd/pyscn-mcp/main.go
  mcp/dependencies.go
  mcp/handlers.go
  mcp/tools.go
Labels: cli

feat(python): package pyscn-mcp binary in wheels
  python/scripts/build_all_wheels.sh
  python/scripts/build_platform_wheel.sh
  python/scripts/create_wheel.sh
Labels: none

fix(python): enforce MCP binary in packaged wheels
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
Labels: none

docs: add mcp integration section
  README.md
Labels: documentation

docs: add mcp integration section (#190)
  README.md
Labels: documentation

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'
