Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

fix: resolve formatting issues in reachability implementation
  internal/analyzer/reachability.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

fix: resolve formatting issues in reachability implementation
  internal/analyzer/reachability.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

fix: resolve all lint and formatting issues in reachability implementation
  internal/analyzer/reachability.go
  internal/analyzer/reachability_bench_test.go
  internal/analyzer/reachability_example_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

fix: resolve all lint and formatting issues in reachability implementation
  internal/analyzer/reachability.go
  internal/analyzer/reachability_bench_test.go
  internal/analyzer/reachability_example_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

feat: implement comprehensive CFG testing suite (#3.9)
  go.mod
  go.sum
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/cfg_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests, dependencies

feat: implement comprehensive CFG testing suite (#3.9)
  go.mod
  go.sum
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/cfg_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests, dependencies

style: format code with go fmt
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/cfg_test.go
  internal/analyzer/dead_code_test.go
  internal/parser/ast.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
  internal/parser/visitor.go
  internal/parser/visitor_test.go
  internal/version/version.go
Labels: parser, analyzer, tests

style: format code with go fmt
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/cfg_test.go
  internal/analyzer/dead_code_test.go
  internal/parser/ast.go
  internal/parser/ast_builder.go
  internal/parser/ast_test.go
  internal/parser/visitor.go
  internal/parser/visitor_test.go
  internal/version/version.go
Labels: parser, analyzer, tests

fix: resolve CFG builder only creating entry/exit blocks (issue #33)
  internal/analyzer/cfg_builder.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix: resolve CFG builder only creating entry/exit blocks (issue #33)
  internal/analyzer/cfg_builder.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix: comprehensive CFG builder fixes for else/elif handling
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/dead_code_test.go
  internal/parser/ast.go
Labels: parser, analyzer, tests

fix: comprehensive CFG builder fixes for else/elif handling
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/dead_code_test.go
  internal/parser/ast.go
Labels: parser, analyzer, tests

fix: update tests to use BuildAll for proper CFG analysis
  internal/analyzer/cfg_advanced_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix: update tests to use BuildAll for proper CFG analysis
  internal/analyzer/cfg_advanced_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix: resolve all remaining test failures
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix: resolve all remaining test failures
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

style: format code with go fmt
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

style: format code with go fmt
  internal/analyzer/cfg_builder.go
  internal/analyzer/cfg_builder_test.go
  internal/analyzer/cfg_edge_cases_test.go
  internal/analyzer/cfg_integration_test.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

style: fix golangci-lint issues
  internal/analyzer/reachability_bench_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

style: fix golangci-lint issues
  internal/analyzer/reachability_bench_test.go
  internal/analyzer/reachability_test.go
Labels: analyzer, tests

perf: optimize CFG performance with string concatenation and pre-allocation
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/cfg_builder.go
Labels: analyzer, tests

perf: optimize CFG performance with string concatenation and pre-allocation
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/cfg_builder.go
Labels: analyzer, tests

feat: implement cyclomatic complexity analysis for Python code
  go.mod
  go.sum
  internal/analyzer/complexity.go
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/analyzer/complexity_benchmark_test.go
  internal/analyzer/complexity_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
  pyqol.yaml.example
Labels: analyzer, cli, tests, dependencies

feat: implement cyclomatic complexity analysis for Python code
  go.mod
  go.sum
  internal/analyzer/complexity.go
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/analyzer/complexity_benchmark_test.go
  internal/analyzer/complexity_test.go
  internal/config/config.go
  internal/config/config_test.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
  pyqol.yaml.example
Labels: analyzer, cli, tests, dependencies

style: format code with go fmt
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/complexity.go
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/analyzer/complexity_benchmark_test.go
  internal/analyzer/complexity_test.go
  internal/analyzer/reachability_test.go
  internal/config/config.go
Labels: analyzer, cli, tests

style: format code with go fmt
  internal/analyzer/cfg_benchmark_test.go
  internal/analyzer/complexity.go
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/analyzer/complexity_benchmark_test.go
  internal/analyzer/complexity_test.go
  internal/analyzer/reachability_test.go
  internal/config/config.go
Labels: analyzer, cli, tests

style: fix golangci-lint issues
  CLAUDE.md
  internal/config/config_test.go
  internal/reporter/complexity_reporter.go
Labels: documentation, cli, tests

style: fix golangci-lint issues
  internal/config/config_test.go
  internal/reporter/complexity_reporter.go
Labels: cli, tests

fix: improve McCabe complexity calculation accuracy
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
Labels: analyzer, tests

fix: improve McCabe complexity calculation accuracy
  internal/analyzer/complexity.go
  internal/analyzer/complexity_test.go
Labels: analyzer, tests

refactor: remove deprecated assessRiskLevel function
  internal/analyzer/complexity.go
  internal/analyzer/complexity_benchmark_test.go
  internal/analyzer/complexity_test.go
Labels: analyzer, tests

refactor: remove deprecated assessRiskLevel function
  internal/analyzer/complexity.go
  internal/analyzer/complexity_benchmark_test.go
  internal/analyzer/complexity_test.go
Labels: analyzer, tests

refactor: eliminate DRY violation in warning generation
  internal/reporter/complexity_reporter.go
Labels: none

refactor: eliminate DRY violation in warning generation
  internal/reporter/complexity_reporter.go
Labels: none

refactor: simplify ComplexityResult interface design
  internal/analyzer/complexity.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, tests

refactor: simplify ComplexityResult interface design
  internal/analyzer/complexity.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, tests

refactor: remove magic numbers by creating constants
  internal/analyzer/complexity_analyzer_test.go
  internal/config/config.go
  internal/config/config_test.go
  pyqol.yaml.example
Labels: analyzer, cli, tests

refactor: remove magic numbers by creating constants
  internal/analyzer/complexity_analyzer_test.go
  internal/config/config.go
  internal/config/config_test.go
  pyqol.yaml.example
Labels: analyzer, cli, tests

feat: add comprehensive error handling to complexity analyzer
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, tests

feat: add comprehensive error handling to complexity analyzer
  internal/analyzer/complexity_analyzer.go
  internal/analyzer/complexity_analyzer_test.go
  internal/reporter/complexity_reporter.go
  internal/reporter/complexity_reporter_test.go
Labels: analyzer, tests
