Repository ludo-technologies/pyscn, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, ci, parser, analyzer, cli, tests, dependencies

.github/labeler.yml:

# Configuration for GitHub labeler action
documentation:
  - '**/*.md'
  - 'docs/**/*'

ci:
  - '.github/workflows/**'
  - '.github/actions/**'

parser:
  - 'internal/parser/**'
  - 'pkg/parser/**'

analyzer:
  - 'internal/analyzer/**'
  - 'pkg/analyzer/**'

cli:
  - 'cmd/**'
  - 'internal/config/**'

tests:
  - '**/*_test.go'
  - 'testdata/**'

dependencies:
  - 'go.mod'
  - 'go.sum'

feat: add schema_version to analyze reports
  CHANGELOG.md
  README.md
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  domain/analyze.go
  service/analyze_formatter_test.go
  website/docs/getting-started/installation.md
  website/docs/integrations/python-packaging.md
  website/docs/output/schemas.md
Labels: documentation, tests

fix: group from-import namespace members in CBO
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

feat: write every requested analyze report
  README.md
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  service/output_format_resolver.go
  service/output_format_resolver_test.go
  website/docs/cli/analyze.md
Labels: documentation, cli, tests

fix: stamp analyze report metadata in one place
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  cmd/pyscn/analyze.go
  website/docs/fr/getting-started/installation.md
  website/docs/fr/integrations/python-packaging.md
  website/docs/ja/getting-started/installation.md
  website/docs/ja/integrations/python-packaging.md
  website/docs/output/schemas.md
  website/docs/zh/getting-started/installation.md
  website/docs/zh/integrations/python-packaging.md
Labels: documentation, cli, tests

feat: add schema_version and document the v1.30.0 key rename (#750)
  CHANGELOG.md
  README.md
  app/analyze_usecase.go
  app/analyze_usecase_test.go
  cmd/pyscn/analyze.go
  domain/analyze.go
  service/analyze_formatter_test.go
  website/docs/fr/getting-started/installation.md
  website/docs/fr/integrations/python-packaging.md
  website/docs/getting-started/installation.md
  website/docs/integrations/python-packaging.md
  website/docs/ja/getting-started/installation.md
  website/docs/ja/integrations/python-packaging.md
  website/docs/output/schemas.md
  website/docs/zh/getting-started/installation.md
  website/docs/zh/integrations/python-packaging.md
Labels: documentation, cli, tests

fix: group from-import namespace members in CBO (#751)
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
Labels: analyzer, tests

fix: reject --output with several formats before analysis runs
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
Labels: cli, tests

feat: write every requested analyze report (#752)
  README.md
  cmd/pyscn/analyze.go
  cmd/pyscn/new_commands_test.go
  service/output_format_resolver.go
  service/output_format_resolver_test.go
  website/docs/cli/analyze.md
Labels: documentation, cli, tests

docs: update CHANGELOG for v1.31.1
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.31.1 (#754)
  CHANGELOG.md
Labels: documentation

ci: publish Linux arm64 wheels
  .github/workflows/python-release.yml
  python/scripts/build_all_wheels.sh
  website/docs/fr/getting-started/installation.md
  website/docs/fr/integrations/python-packaging.md
  website/docs/getting-started/installation.md
  website/docs/integrations/python-packaging.md
  website/docs/ja/getting-started/installation.md
  website/docs/ja/integrations/python-packaging.md
  website/docs/zh/getting-started/installation.md
  website/docs/zh/integrations/python-packaging.md
Labels: documentation, ci

ci: publish Linux arm64 wheels (#758)
  .github/workflows/python-release.yml
  python/scripts/build_all_wheels.sh
  website/docs/fr/getting-started/installation.md
  website/docs/fr/integrations/python-packaging.md
  website/docs/getting-started/installation.md
  website/docs/integrations/python-packaging.md
  website/docs/ja/getting-started/installation.md
  website/docs/ja/integrations/python-packaging.md
  website/docs/zh/getting-started/installation.md
  website/docs/zh/integrations/python-packaging.md
Labels: documentation, ci

docs: use the pre-commit hook mirror
  website/docs/fr/integrations/ci-cd.md
  website/docs/integrations/ci-cd.md
  website/docs/ja/integrations/ci-cd.md
  website/docs/zh/integrations/ci-cd.md
Labels: documentation

docs: use the pre-commit hook mirror (#759)
  website/docs/fr/integrations/ci-cd.md
  website/docs/integrations/ci-cd.md
  website/docs/ja/integrations/ci-cd.md
  website/docs/zh/integrations/ci-cd.md
Labels: documentation

fix: stop counting type-hint dependencies in CBO score
  CHANGELOG.md
  internal/analyzer/cbo.go
  internal/analyzer/cbo_test.go
  website/docs/fr/output/schemas.md
  website/docs/fr/rules/high-class-coupling.md
  website/docs/ja/output/schemas.md
  website/docs/ja/rules/high-class-coupling.md
  website/docs/output/schemas.md
  website/docs/rules/high-class-coupling.md
  website/docs/zh/output/schemas.md
  website/docs/zh/rules/high-class-coupling.md
Labels: documentation, analyzer, tests

fix: show type-hint breakdown for CBO 0 classes and update algorithm doc
  docs/algorithms/cbo.md
  service/cbo_formatter.go
  service/cbo_formatter_test.go
Labels: documentation, tests

fix: tag Linux wheels as manylinux_2_34 to match glibc requirement
  .github/workflows/python-release.yml
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
  website/docs/fr/integrations/python-packaging.md
  website/docs/integrations/python-packaging.md
  website/docs/ja/integrations/python-packaging.md
  website/docs/zh/integrations/python-packaging.md
Labels: documentation, ci

fix: tag Linux wheels as manylinux_2_34 to match glibc requirement (#762)
  .github/workflows/python-release.yml
  python/scripts/build_all_wheels.sh
  python/scripts/create_wheel.sh
  website/docs/fr/integrations/python-packaging.md
  website/docs/integrations/python-packaging.md
  website/docs/ja/integrations/python-packaging.md
  website/docs/zh/integrations/python-packaging.md
Labels: documentation, ci

fix(config): stop treating an explicit config file's directory as the project root
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/analyze_config_loader_test.go
  service/project_root.go
  service/project_root_test.go
Labels: cli, tests

fix(config): leave project root empty for an explicit pyproject.toml too
  internal/config/pyproject_loader.go
  internal/config/toml_loader_test.go
  service/project_root.go
Labels: cli, tests

fix(config): stop treating an explicit config file's directory as the project root (#765)
  internal/config/pyproject_loader.go
  internal/config/toml_loader.go
  internal/config/toml_loader_test.go
  service/analyze_config_loader_test.go
  service/project_root.go
  service/project_root_test.go
Labels: cli, tests

fix(lcom): skip Protocol/Enum classes and exclude stub methods from LCOM4
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
  internal/parser/ast.go
Labels: parser, analyzer, tests

fix(lcom): resolve structural bases through imports and keep self-reading NotImplementedError stubs
  internal/analyzer/lcom.go
  internal/analyzer/lcom_test.go
Labels: analyzer, tests

docs: update CHANGELOG for v1.31.2
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.31.2 (#767)
  CHANGELOG.md
Labels: documentation

fix(parser): accept unparenthesized except lists with three or more types (PEP 758)
  internal/parser/ast_builder.go
  internal/parser/parser.go
  internal/parser/parser_test.go
  internal/parser/python3_syntax.go
Labels: parser, tests

fix(parser): validate the whole except header before tolerating ERROR nodes
  internal/parser/parser_test.go
  internal/parser/python3_syntax.go
Labels: parser, tests

fix(parser): accept unparenthesized except lists with three or more types (PEP 758) (#769)
  internal/parser/ast_builder.go
  internal/parser/parser.go
  internal/parser/parser_test.go
  internal/parser/python3_syntax.go
Labels: parser, tests

docs: update CHANGELOG for v1.31.3
  CHANGELOG.md
Labels: documentation

docs: update CHANGELOG for v1.31.3 (#770)
  CHANGELOG.md
Labels: documentation

fix(deadcode): don't report the bare yield that keeps a function a generator
  internal/analyzer/complexity.go
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
  internal/analyzer/python_cfg.go
Labels: analyzer, tests

fix(deadcode): attribute definition-time yields to the enclosing scope
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
Labels: analyzer, tests

fix(deadcode): don't report the bare yield that keeps a function a generator (#773)
  internal/analyzer/complexity.go
  internal/analyzer/dead_code.go
  internal/analyzer/dead_code_test.go
  internal/analyzer/python_cfg.go
Labels: analyzer, tests

fix(clone): exclude docstrings from min_lines/min_nodes when skip_docstrings is set
  internal/analyzer/apted_tree.go
  internal/analyzer/clone_detector.go
  internal/analyzer/clone_detector_test.go
  internal/analyzer/type4_detector_test.go
  internal/analyzer/type4_similarity_test.go
Labels: analyzer, tests

feat: add .gitignore to output directory
  cmd/pyscn/utils.go
  cmd/pyscn/utils_test.go
Labels: cli, tests

fix: create gitignore file only on output directory creation
  cmd/pyscn/utils.go
Labels: cli

style: gofmt utils.go
  cmd/pyscn/utils.go
Labels: cli

feat: add .gitignore to output directory (#778)
  cmd/pyscn/utils.go
  cmd/pyscn/utils_test.go
Labels: cli, tests

fix(html): list cohesion and responsibility violations in the architecture card
  service/analyze_html.go
  service/analyze_html_test.go
  service/templates/analyze/report.html
Labels: tests

docs: update CHANGELOG for v1.32.0
  CHANGELOG.md
Labels: documentation
